/*content*/
.content {padding:141px 20px 86px 20px;margin-left:20px;/*margin-bottom:20px;*/min-height:100%;}
.section {/*padding-right:100px;*//*margin-bottom:155px;*/}
.mw {min-width:1440px;}

/*왼쪽 셀렉박스 오른쪽 total 리스트*/
.list .list_top .list_num {text-align: left;}
.list .list_top .list_total {text-align: right;font-size:14px;}
.list .list_top {position:relative;}
.list .list_top .list_total {position:absolute;right:0;bottom:18px;}
.list .list_top .list_num select {height:30px;width:87px;;display:inline-block;margin-top:25px;margin-bottom:8px;}
.list .list_top .list_num input {height:30px;width:87px;;display:inline-block;margin-top:25px;margin-bottom:8px;}
/*.list .list_content table tr {height:51px;}*/
.list .list_content table img {width:128px;;/*height:72px;*/background:#000;display:inline-block;}


/*list num*/

.list_foot {display:table;position:relative;width:100%;margin-top:20px;}
.list_foot .page_num {position: absolute;left:50%;margin-left:-154.94px;top:5px;}
.list_foot .page_num div {float:left}
.list_foot .page_num  {padding-bottom: 0; padding-top:0;} 
.list_foot .page_num a {display:inline-block;font-size:14px;margin-right:12px;text-align: center;}
.list_foot .page_num a:visited {color:#000;}
.list_foot ul {display:inline-block;margin:0;}
.list_foot ul li {float:left;}

/*section store*/
.section_store {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_store .store_info {width:100%;}
.section_store .store_info table.store_info_detail tr:nth-child(15) td span {margin-right:25px;}
.section_store .store_info table.store_info_detail tr:nth-child(16) td span {margin-right:50px;}
.section_store .store_info table.store_info_detail tr:nth-child(17) td span {margin-right:25px;}
.section_store .store_info table.store_info_detail tr td {text-align:left;padding:0 12px;padding-left:21px;}
.section_store .store_info .new_store {margin-top:40px;}
.section_store .store_info .new_store div span {font-size:16px;color:#841f10;font-weight:bold;text-align:left;display:block}
.section_store .store_info .new_store table {margin:0;margin-top:11px;}
.section_store .store_info .new_store table input[type="text"] {width:96%;float:left;margin-left:21px;}
.section_store .store_info .payco_in {margin-top:40px;}
.section_store .store_info .payco_in div span {font-size:16px;color:#841f10;font-weight:bold;text-align:left;display:block}
.section_store .store_info .payco_in table {margin:0;margin-top:11px;}
.section_store .store_info .payco_in table input[type="text"] {width:96%;float:left;margin-left:21px}


.section_store .store_info .paycoin_in {margin-top:40px;}
.section_store .store_info .paycoin_in div span {font-size:16px;color:#841f10;font-weight:bold;text-align:left;display:block}
.section_store .store_info .paycoin_in table {margin:0;margin-top:11px;}
.section_store .store_info .paycoin_in table input[type="text"] {width:96%;float:left;margin-left:21px}


.section_store .store_info input[type="submit"] {margin-top:31px;}
.section_store .store_info .new_store table tr td span {font-size:12px;color:#666666;font-weight:normal;display:inline;}
.section_store .store_info .new_store .filebox {float:left;margin-left:21px;}
.section_store .store_info .new_store textarea {float:left;margin-left:21px;}

/*section board list,popup*/
.section_board {width:100%;}
.section_board .board_top {width:100%;}
.section_board .list_select {text-align:left;}
.section_board .list_select ul {display:inline-block;margin-left:20px;}
.section_board .list_select ul li {float:left;margin-bottom:0;margin-right:42px;}
.section_board .board_search {text-align: right;height:40px;line-height:40px;padding-right:20px;}
.section_board .top .board_select .board_search input {margin-right:18px;}
.section_board table tr th {height:40px;}
.section_board table tr td {height:34px;}
.section_board table tr td .rank_num {display:inline-block;width:30px;}

/*루트*/
.board_top .route {text-align: right;/*margin-bottom:30px;*/margin-right:20px;padding:10px 0;background:#fff;font-size:12px;}
.board_top .route span p {color:#666666}
.board_top .route span p:last-child {font-weight:bold;/*border-bottom:1px solid #000;*/color:#121212;}

/*board detail*/
.section_board_detail {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_board_detail table tr {border:1px solid #dddddd;}
.section_board_detail table tr:first-child th {height:40px;}
.section_board_detail table tr th ul {margin-left:20px;}
.section_board_detail table tr th ul li {float:left;margin:0;margin-right:42px;}
.section_board_detail table tr td {border:1px solid #dddddd;text-align:left;text-indent:21px;}
.section_board_detail table tr:nth-child(4) input[type="text"] {width:96%;}
.section_board_detail img {margin:10px 0 20px 20px;}
.section_board_detail .detail_foot {margin-top:30px;position: relative;}
.section_board_detail .detail_foot input[type="submit"] {position:absolute;left:50%;margin-left:-62.5px;}
.section_board_detail .filebox {margin-left:-21px;margin-top:10px;}
.section_board_detail .filebox label {padding:0;padding-right:20px;}
.section_board_detail table tr td > img {width:40%}
/*section main*/
.section_main {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_main .section_main_sel .section_main_sel_btn {margin-top:8px;padding-bottom:8px;border-bottom:1px dashed #666666;}
.section_main .section_main_sel span {float:left;margin-left:20px;}
.section_main .section_main_img {background:#fafafa;padding-bottom:8px;border:1px solid #dddddd;margin-top:16px}
.section_main .section_main_img table {text-align:left;height:100%;}
.section_main .section_main_img table tr td {padding:5px 0 5px 15px;border:none;}
.section_main .section_main_img table tr:first-child {border-bottom:1px solid #dddddd;}
.section_main .section_main_img table tr:last-child td {padding-bottom:0;}
.section_main .section_main_img table tr td span {color:#111111;font-weight:bold;font-size:13px;}
.section_main .section_main_img table tr td div {margin-bottom:5px}
.section_main .section_main_img table tr td .filebox {margin:0;}
.section_main .section_main_img table tr td .filebox span {display:block;color:#666666;font-weight:normal;margin-bottom:10px;}
.section_main .section_main_img textarea {width:97%;overflow:visible;text-overflow:ellipsis;}
.section_main .filebox .upload-name {margin:5px 0;}

/*section store code*/
.section_store_code {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_store_code .manage {margin-top:16px;}
.section_store_code .store_manage {margin-top:40px;}
.section_store_code .store_manage .store_manage_title {margin-bottom:8px;text-align:left;}
.section_store_code .store_manage .store_manage_title span {color:#841f10;font-weight:bold;font-size:16px;}
.section_store_code .store_manage .store_manage_title div {float:right;font-size:13px;}
.section_store_code .store_manage .store_manage_title div label {font-size:12px;}
.section_store_code table tr td ul {margin-left:0px;}

/*section_couponlist*/
.section_couponlist {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_couponlist .coupon_search_pin {display:inline-block;float:left}
.section_couponlist .section_couponlist_sel {margin-bottom:30px;}
.section_couponlist .section_couponlist_sel table tr:last-child ul li {margin-right:42px;/*margin-top:6px;*/}
.section_couponlist .section_couponlist_sel th {height:40px;}
.section_couponlist .section_couponlist_sel th ul {display:block;margin-left:20px;}
.section_couponlist .section_couponlist_sel th ul li {margin-right:42px;margin-bottom:0px;}
.section_couponlist .section_couponlist_sel ul div {display:inline-block;}
.section_couponlist .section_couponlist_sel ul div.couponlist_search {float:right;margin-right:40px;}
.section_couponlist .section_couponlist_sel ul select {height:25px;width:139px;}
.section_couponlist .section_couponlist_sel ul div.couponprm_search {float:right;margin-right:40px;}
.section_couponlist .section_couponlist_sel ul div.couponmn_search {float:right;margin-right:40px;}

.lp_coupon_search .lp-container {margin-top:20px;}
.lp-wrapper.lp_coupon_search .lp-con {width:400px;}
.lp_coupon_search .section-body {text-align:center}
.lp_coupon_search .section-body table td {text-align:left;text-indent:12px;}
.lp_coupon_search .section-body table td p {background:#eee;width:60%;}
.lp_coupon_search .section-body table td input[type="button"] {float:right;margin-right:12px;}
.lp_coupon_search .section-body table .date_change {display:none}
.lp_coupon_search .section-body table td input[type="text"] {width:60%;}
.lp_coupon_search .section-body table .date_change td input[type="text"] {width:40%;}
.lp_coupon_search .section-body table .date_change img  {vertical-align:middle;opacity:.54;margin-left:5px;}
.lp_coupon_search .btn-wrap {padding-top:20px;}
.lp_coupon_search .btn-wrap select {vertical-align:top;}



/*section_coupon_search*/
.section_coupon_search {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_coupon_search .section_coupon_search_sel table tr:last-child ul li {margin-right:16px;}
.section_coupon_search .section_coupon_search_sel th {border:1px solid #dddddd;text-align:left;text-indent:20px;height:40px;}
.section_coupon_search .section_coupon_search_sel ul li {float:left;display:inline-block;margin-bottom:0px;}
.section_coupon_search .section_coupon_search_sel ul div {display:inline-block;}
.section_coupon_search .section_coupon_search_sel ul div.couponlist_search {float:right;margin-right:20px;}
.section_coupon_search .section_coupon_search_sel ul div.couponlist_search input[type="text"] {width:50%}

/*section_order_detail*/
.section_order_detail {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.db .txt_t{color:#841f10; margin-bottom: 10px; text-align: left;}
.db .ta table {width: 100%;margin-bottom: 16px;}
.section_order_detail table tr th {height:40px;}
.section_order_detail table tr td {height:34px;}
.section_order_detail .db_all .db_2 table tr:last-child {text-align:center;}




/*login*/
.m20 {margin-bottom:20px}
.f30 {font-size: 30px}
.f50 {font-size: 50px}

.fix {position: fixed;width:100%; height:100%;} 
.fix .bg1 {width: 80%; height:90%; background: #f5f5f5;float: left;}
.fix .bg2{width: 20%; height:90%; background:#d0112b; float: right}
.fix .bg3 {width: 100%; height: 10%; background: #fff;}
.fix .all {position: absolute; left:50%; margin-left:-500px ;top:50%; margin-top:-410px}
.fix .all .txt_top .icon {float: left;}
.fix .all .txt_top {width: 440px;line-height: 28px;margin-bottom: 10px;}
.fix .all .bg4 {background: url("../img/log_bg_w.png") center center no-repeat;background-size: contain;width: 1144px;height: 676px;padding-top:110px;}
.fix .all .bg4 .log_input {width:440px;margin:0 auto;}
.fix .all .bg4 .log_input ul li  {display:block;text-align:left;font-size:14px;}
.fix .all .bg4 .log_input ul li .refresh img {height:12px;width:12px;float:none;}
.fix .all .bg4 .log_input ul li img {float: left;margin-right:5px;}
.fix .all .bg4 .log_input ul li:last-child {height:100px;border:solid 1px #eaeaea; padding: 21px 20px;margin-bottom:5px;}
.fix .all form .bg4 input { background:#f8f9fa;border:solid 1px #eaeaea;color:#666;}
.fix .all form .bg4 input[type="text"] {width:440px;height:57px;}
.fix .all form .bg4 ul li {margin-bottom:15px;}
.fix .all form .bg4 ul li input[type="text"].code {width:191px; height: 32px; margin:10px 0;}
.fix .all form .bg4 input[type="password"] {width:440px;height:57px;}
.box4 {width:440px; height: 75px; line-height: 75px; color:#fff; background: #353535; font-size:20px;margin-top:20px}
.fix .all .bg4 .txt_bot{width: 900px;;padding-top: 80px; padding-left:250px}
.fix .all .bg4 .txt_bot p{display:block;margin:0;font-style:italic}
.fix .all .bg4 .log_input .check_id .devider:after {content:'|';vertical-align: middle;margin:0 15px;color:#eaeaea}


/*statistics*/
.w50 {width:49.5%;}
.fl_r{float: right}
.fl_l{float:left;}
.db_1 .ta_1 table tr th ul {margin-left:20px;}
.db_1 .ta_1 table tr th ul li {margin-bottom:0;margin-right:42px;}
.tc {text-align: center; width :92px;}
.db_2 table tr th ul {float:left;}
.db_all .db_2 table tr:last-child {text-align:right;}
.db_2 table tr th ul li {margin: 0 10px;line-height:40px;}
.db_2 table tr th ul li a img{vertical-align: middle; margin:4px}
.db_2 table tr th ul li .tc {text-align:center; width:92px;padding:0;}
.db_2 table tr th ul li label {font-size:13px }
.db_2 .ta_1 table tr th ul {vertical-align:middle;margin-left:20px;}
.db_2 .ta_1 table tr th ul li {margin-bottom:0;margin-right:42px;}
.db_2 .ta_1 table tr td ul li {margin-bottom:0;margin-right:20px;}
.db_box {width: 100%; min-width: 1280px; height: 659px; border: 1px solid #eaeaea; }

/*statistics2*/
.section_statistics2 {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_statistics2 .db_2 .ta_1 table tr:last-child th ul {float:right;width:auto;}
.section_statistics2 input[type=submit] {margin-left:10px;}


/*section manage*/
.section_manager {width:100%;/*padding-top:62px;*//*padding-right:20px;*/margin-bottom:0px;}
.section_manager .manager_info input[type="submit"] {margin-top:30px;}
.section_manager .manager_view {width:100%}
.section_manager .manager_view:after {content:'';display:block;clear:both;}
.section_manager .manager_view .manager_info {width:49.5%;float:left;/*margin-bottom:100px;*/}
.section_manager .manager_view .manager_info table td:nth-child(n+1){text-align:left;}
.section_manager .manager_view .manager_info tr:first-child span {margin-left:40px;}
.section_manager .manager_view .manager_info table tr td table {border:none;margin:12px 0;}
.section_manager .manager_view .manager_info table tr td table tr {height:15px;}
.section_manager .manager_view .manager_info table tr td table tr td {border:none;text-align:left;border-top:5px solid #fff;}
.section_manager .manager_view .manager_list {width:49.5%;float:right}
.section_manager .manager_view .manager_list .list {margin-top:47px;}
.section_manager .manager_view .manager_list .manager_search {float:right;margin-right:20px;}
.section_manager .manager_view .manager_list .list .list_top span {float:left;font-size:16px;color:#841f10;margin-bottom:18px;font-weight:bold;}
.section_manager .manager_view .manager_list .list .list_top .list_total {top:2px;}
.section_manager .manager_view .manager_list .list .list_top .list_total span {font-size:12px;color:#333333;font-weight:normal;}
.section_manager .manager_view .manager_list .list .list_content {margin-bottom:100px;}
.section_manager .manager_view .manager_list .list .list_content .edit_btn a {height:32px;}
.section_manager .manager_view .manager_list .list .list_content a:last-child {color:#000}
.section_manager .manager_view .manager_list .list .list_content a.btn_red125 {color:#fff;}
.section_manager .manager_view .manager_list .list_foot {margin-top:100px;}
.section_manager .manager_view .manager_list .list_foot .page_num {top:-50px;}

/*manage_popup*/
.manager_popup_area {width:600px;height:340px;background:#fff;padding:15px 15px;}
.popup_title {text-align: left;height:50px;line-height: 50px;position: relative;}
.popup_title span {color:#000;font-weight:bold;font-size:18px;margin-left:20px;}
.popup_title a {position: absolute;right:10px;top:8px;;display:inline-block}
.manager_popup_area input[type="text"] {width:90%}
.manager_popup_area input[type="radio"] {margin:5px 0}
.manager_popup_area .popup_btn {margin-top:20px;}
.manager_popup_area .popup_btn input[type="submit"] {margin-left:30px;}
.manager_popup_area table tr td {text-align:left;padding-left:20px;}
.manager_popup_area table tr td ul {margin-left:0;}

/*manage_popup*/
.delfee_popup_area {width:700px;min-height:350px;background:#fff;padding:15px 15px;}
.delfee_popup_area input[type="text"] {width:90%}
.delfee_popup_area .popup_btn {margin-top:20px;}
.delfee_popup_area .popup_btn input[type="submit"] {margin-left:30px;}
.delfee_popup_area table tr td {text-align:center;}

/*coupon_popup_area*/
.coupon_popup_area {width:663px;height:630px;padding:15px 15px;background:#fff;}
.coupon_popup_area table {text-align: left;}
.coupon_popup_area table:last-child {margin-top:28px;}
.coupon_popup_area th {text-indent:20px;}
.coupon_popup_area td {text-indent:20px;}
.coupon_popup_area .popup_btn {margin-top:20px;}
.coupon_popup_area select {width:90%;}

/*layer popup*/
.mask {position:absolute;left:0;top:0;z-index:9999;background-color:#000;display:none}
.window {background-color: #ffffff;z-index:99999;display: none;overflow: hidden;border-radius: 5px}

.mask2 {position:absolute;left:0;top:0;z-index:9999;background-color:#000;display:none}
.window2 {background-color: #ffffff;z-index:99999;display: none;overflow: hidden;border-radius: 5px}



/*order*/
.section_order {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_order .list .list_content table th img, .section_order .list .list_content table td img
{width:8px;height:5px;background:none;vertical-align: middle;margin:0 5px;cursor: pointer;}
.section_order .list .list_total {display:inline-block}
.section_order .list .list_total span {float:left;}
.section_order .list .list_total span:before{content:'';display:inline-block;width:1px;height:8px;background:#bfbfbf;margin:0 15px;vertical-align:middle;}
.section_order .list .list_total span:first-child:before {display:none;}



/*menu*/
.section_menu {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_menu .board_select {text-align:right;margin-right:20px;}
.section_menu .list .list_content table th img, .section_menu .list .list_content table td img
{width:8px;height:5px;background:none;vertical-align: middle;margin:0 5px;cursor: pointer;}

/*menu_detail*/
.section_menu_detail {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_menu_detail input[type="number"] {text-align: left;}
.section_menu_detail .manage {margin-top:40px;}
.section_menu_detail .menu_edit tr td {text-align:left;padding:5px 20px;}
.section_menu_detail .menu_edit table tr td ul {margin:0;}
.section_menu_detail .menu_edit .check_brand div {display:inline-block;margin-right:10px;width:142px;}
.menu_bottom_btn {margin-top:20px;}
.menu_bottom_btn .menu_list {float:left}
.menu_bottom_btn .menu_edit_btn {float:right;}
.section_menu_detail .menu_edit table tr td ul li {display:inline-block;width:100px;margin-right:10px;}


/*관리선택메뉴*/
.manage {margin-top:16px;}
.manage_title {margin-bottom:8px;text-align:left;}
.manage_title span {color:#841f10;font-weight:bold;font-size:16px;}
.manage_title div {float:right;font-size:13px;}
.manage_title div label {font-size:12px;}
.manage_choice {background:#fafafa;border:1px solid #dddddd;padding:20px 0 20px 10px;}
.manage_choice table {border:none;}
.manage_choice table th {background:#fff;border:1px solid #cccccc;display:inline-block;padding:20px 0 0 20px;width:100%;}
.manage_choice table th li {display:block;text-align:left;vertical-align: top;margin-bottom:21px;font-size:12px;width:100%;}
.manage_choice table td {text-align: left;vertical-align: top;border:none;padding-left:27px;}
.manage_choice table td li {margin-bottom:16px;display:block;width:100%;}
.manage_choice table td li input.up {background:url(../img/up_arrow.png) 8px 11px no-repeat;text-indent:5px;}
.manage_choice table td li input.down {background:url(../img/down_arrow.png) 8px 11px no-repeat;text-indent:5px;}
.manage_choice table td li input[type="text"] {width:30%}
.manage_choice table td li span:first-child {margin-right:25px;}

/*section_menu_code*/
.section_menu_code {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_menu_code .choice_brand table tr th {height:40px;}
.section_menu_code .choice_brand table tr th ul {margin-left:20px;}
.section_menu_code .choice_brand table tr th ul li {margin-bottom:0px;margin-right:42px;}

/*section_store_code*/
.section_store_code .section_store_code_sel table tr th {height:40px;}
.section_store_code .section_store_code_sel table tr th ul{margin-left:20px;}
.section_store_code .section_store_code_sel table tr th ul li {margin-bottom:0px;margin-right:42px;}

/*section_main_seo*/
.section_main_seo {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.section_main_seo .section_main_sel tr th ul {float:left;margin-left:20px;}
.section_main_seo .section_main_sel tr th ul li {margin-bottom:0px;margin-right:42px;}
.section_main_seo table {margin-bottom:30px;}
.section_main_seo form div div {text-align:left;margin-bottom:8px;}
.section_main_seo form div div span {color:#841f10;font-weight:bold;font-size:16px;}
.section_main_seo .section_main_sel_btn {text-align: center;}

/*section_store_list*/
.section_store_list {width:100%;/*padding-top:62px;*//*padding-right:20px;*/}
.board_select {text-align:right;margin-right:20px;}
.list .list_content table th img, .list .list_content table td img {background:none;vertical-align: middle;margin:10px 0;}

/*board customer answer*/ /*csbbs*/

.content.csbbs_content {padding:20px;margin:0;}
.csbbs_content p {display:block;}
.csbbs_content .list .list_top .list_total {bottom:0}
.section_board_detail .answer_foot input[type="submit"] {left:0;margin-left:0;}
.section_board_detail .answer_edit {margin-top:30px;}
.section_board_detail .answer_edit span {font-size:16px;line-height:24px;overflow-y:auto;height:300px;display:block}
.section_board_detail .answer_edit_foot {margin-top:30px;}
.section_board_detail .answer_edit_foot span{float:left}
.section_board_detail .answer_edit_foot span:first-child:after {content:'';display:inline-block;height:10px;width:1px;background:#cccccc;margin:0 10px;}

/*main_seo*/
.section_main_seo table tr th {height:40px;}
.section_main_seo .seo_set table tr td input[type="text"] {margin-top:10px}
.section_main_seo .seo_set table tr td span {display:block;font-size:14px;margin:10px 0;}
.section_main_seo .seo_set table tr td {text-align:left;padding-left:12px;}

/*section_genesis_global_store*/
.section_genesis_global_store table tr td {text-align:left;padding-left:20px;}
.section_genesis_global_store table tr td ul {margin-left:0;}
.section_genesis_global_store input[type="text"] {width:95%;}
.section_genesis_global_store .add_table a {line-height:25px;cursor:pointer;}
.section_genesis_global_store .add_table ul {width:100%;padding:0;}
.section_genesis_global_store .add_table ul li {margin:10px 0;width:100%;}
.section_genesis_global_store .add_table ul li 

/*genesis_global_menu*/
.section_genesis_global_menu table tr td {text-align:left;padding-left:20px;}
.section_genesis_global_menu table tr td {text-align:left;padding-left:20px;}
.section_genesis_global_menu table tr td ul {margin-left:0;}
.section_genesis_global_menu .menu_edit table tr:nth-child(2) td ul li:last-child {font-size:10px;margin-left:-30px;margin-top:5px;}
.section_genesis_global_menu table tr td ul li input[type="number"] {width:60px}
.section_genesis_global_menu input[type="text"] {width:95%;}
.section_genesis_global_menu .filebox {margin-top:10px;}
.section_genesis_global_menu img {margin:10px 0 20px 0px;}
.section_genesis_global_menu table tr.food_info ul li {width:160px;}



/*section_uni_booking*/
.section_uni_booking  .uni_booking table tr td {height:100px;vertical-align:top;text-align:left;padding:5px 0 0 5px;font-size:14px;}
.section_uni_booking  .uni_booking table tr td:first-child {color:red}
.section_uni_booking  .uni_booking table tr td:last-child {color:blue}
.section_uni_booking  .uni_booking table tr td div {width:100%;}
.section_uni_booking  .uni_booking table tr td ul li {font-size:14px;line-height:25px;margin-top:10px;margin-right:10px;}
.section_uni_booking  .uni_booking table tr td ul li:first-child {color:#000;margin-right:20px;}
.section_uni_booking  .uni_booking .booking_btn {margin-top:20px;}
.section_uni_booking  .uni_booking .booking_btn ul {text-align:right}
.section_uni_booking  .uni_booking .booking_btn ul li {display:inline-block;font-size:14px;}
.section_uni_booking  .uni_booking .booking_btn ul li:nth-child(2) {margin-right:20px;}
.section_uni_booking  .uni_booking .uni_booking_date {margin:20px 0 10px;font-size:16px;font-weight:900;}
.section_uni_booking  .uni_booking .uni_booking_date span:before {content:'';display:inline-block;background:url('../img/left_arrow.png') center center no-repeat;height:14px;width:14px;vertical-align:middle;margin-right:30px;}
.section_uni_booking  .uni_booking .uni_booking_date span:after {content:'';display:inline-block;background:url('../img/right_arrow.png') center center no-repeat;height:14px;width:14px;vertical-align:middle;margin-left:30px;}



/*uni_backbook*/
.section_uni_bankbook .uni_bankbook .menu_bottom_btn .menu_edit_btn span {margin-right:20px;font-size:14px;}
.section_uni_bankbook .uni_bankbook .menu_bottom_btn .menu_edit_btn {display:block;width:100%;text-align:right;}

/*section_opencenter_join_qna*/
.section_opencenter_join_qna .list_foot div.list_foor_rightbtn {display:inline-block;float:right;}
.section_opencenter_join_qna .list_foot div.list_foor_rightbtn span {font-size:14px;margin-right:20px;}

/*login*/

.section_login {min-width:1280px;}
.section_login form {display:inline-block;position:absolute;top:-10px;right:-520px;}
.section_login .login_tit {margin-top:40px;margin-bottom:40px;}
.section_login .top_tit {color:#111111;}
.section_login .top_tit span {display:block;}
.section_login .top_tit .first_tit {font-size:40px;font-weight:100;letter-spacing:-4px;}
.section_login .top_tit .second_tit {font-size:80px;font-weight:900;letter-spacing:-6px;margin-bottom:10px;}
.section_login .top_tit .third_tit {font-size:16px;font-weight:400;color:#666666;}
/*.section_login .login_content {background:url(../img/login_bg.png) 320px 389px no-repeat;height:100%;}*/
.section_login .login_content img.bg {width:779px;height:195px;display:block;position:absolute;left:20%;bottom:104px;}
.section_login .login_content .captin {display:inline-block;position: relative;margin-left:-500px;}
.section_login .login_content .captin .cap {width:350px;margin-top:25px;margin-bottom:130px;}
.section_login .login_content .login_location {display:inline-block}
.section_login .login_content .login_input {background:#d0112b;border-radius:4px;width:550px;height:440px;padding:40px 60px 60px 60px;border:1px solid #000;box-shadow:0px 5px 1px rgba(0,0,0,.15);display:inline-block}
.section_login .login_content .login_input div {margin-bottom:15px;}
.section_login .login_content .login_input input[type="text"] {color:#999999;text-indent:10px;width:100%;height:48px;border:none;}
.section_login .login_content .login_input input[type="password"] {color:#999999;text-indent:10px;width:100%;height:48px;border:none;}
.section_login .login_content .login_input .security input[type="text"] {height:38px;border:1px solid #999999;width:190px}
.section_login .login_content .login_input input[type="submit"] {color:#fff;background:#111111;border-radius:4px;width:100%;height:75px;font-size:20px;}
.section_login .login_content .login_input ul {display:inline-block}
.section_login .login_content .login_input ul li {float:left;}
.section_login .login_content .login_input .id_save {color:#fff;margin-top:-3px;font-size:14px;margin-bottom:40px;text-align:left;margin-left:-4px;}
/*.section_login .login_content .login_input .id_save li:first-child:after {content:'';display:inline-block;height:10px;width:1px;background:#eaeaea;margin:0 13px;}*/
.section_login .login_content .login_input .security {height:80px;background:#fff;}
.section_login .login_content .login_input .security li:first-child {padding-top:13px;margin-right:20px;width:198px;text-align:left;}
.section_login .login_content .login_input .security li:last-child {line-height:62px;}
.section_login .login_content .login_input .security img {border:1px solid #000;width:198px;height:38px;}
.section_login .login_content .login_input .security ul .refresh {width:10px;height:10px;border:none;margin-right:5px;}
.loginbg {position:absolute;top:390px;z-index:-99999;left:-20px;}


/*section_house_menu_detail*/
.section_house_menu_detail table tr td {text-align:left;padding-left:20px;}
.section_house_menu_detail table tr td ul {margin-left:0;}
.section_house_menu_detail input[type="number"] {text-align:left}
.section_house_menu_detail .menu_edit img {margin:10px 0;}
.section_house_menu_detail input[type="text"] {text-align:left}

/*주문관리, 통계 금일,전일 박스 on 놓고 빼기*/
input[type="button"].on {background:#eee}
.page_num div ul li a.on {font-size:16px;font-weight:bold;}

