/*layout*/

@charset "utf-8";
html, body{height:100%;min-width:1280px;min-height:100vh}
body {overflow-x: auto;}
.wrap {padding-bottom:86px;position:relative;min-height:100%;}




/*header layout*/
.head_wrap {/*height:100%;*/position:fixed;top:0;right:0;width:100%;z-index: 999;min-width:1280px;}
.head_wrap .log_info {height:45px;line-height:45px;background:#353535;position:fixed;top:0;right:0;width:100%;z-index:9;border-bottom:2px solid red;margin-right:20px;}
.head_wrap .log_info ul {display:inline-block;float:right;margin-right:20px;color:#fff;font-size:12px;}
.head_wrap .log_info ul li {float:left;}
.head_wrap .log_info ul li:nth-child(4){margin-right:18px;}
.head_wrap .log_info ul li:after {content:'';background:#707070;width:1px;height:11px;vertical-align:middle;display:inline-block;margin:0 17px;}
.head_wrap .log_info ul li:nth-child(4):after {display:none;}
.head_wrap .log_info ul div {float:left;}
.head_wrap .log_info ul div a {color:#fff;border:1px solid #949494;padding:7px 10px;}

/*lnb*/
/*.lnb {border:1px solid #e9e9e9;width:218px;height:87%;position:fixed;left:-218px;top:107px;background:#fff;overflow-y:auto;padding-top:40px;border-top:none;z-index:999;/*overflow:visible;}
.lnb::-webkit-scrollbar {display:none;}
.lnb .s_btn {display:block;}
.lnb .s_btn .round {border-radius:100%;background:#d0112b;color:#fff;height:24px;width:24px;vertical-align: middle;position:fixed;top:76px;left:206px;}
.lnb .s_btn .round span {vertical-align:middle;}
.lnb .s_btn_bg {position: fixed;top:140px;left:0px;height:28px;width:28px;background:#ccc;padding:4px 0 0 4px;}
.lnb .s_btn .round {display:block;height:24px;width:24px;}
.lnb .s_btn img {display:block;width:20px;height:20px;}
.lnb .left_logo {padding:36px 0;border-bottom:2px solid #595959;width:180px;margin:0 auto 25px;}
.lnb .depth {text-align:left;margin-left:40px;}
.lnb .depth ul {display:inline-block;}
.lnb .depth ul li {float:left;}
.lnb .depth ul > li {margin-bottom:33px;font-size:14px;}
.lnb .depth ul li ul {border:1px solid #e9e9e9;margin-top:17px;width:138px;}
.lnb .depth ul li ul li {margin:22px 0 0 20px;font-size:14px;}
.lnb .depth ul li ul li:last-child {margin-bottom:22px;}
.lnb .depth ul li a {color:#111111;}
.lnb .depth ul li > a:hover {color:#cf152d}
.lnb .depth ul li ul{display:none;}*/

/*gnb*/
.navwrap {position:fixed;background:#fff;min-width:1280px;height:96px;width:100%;z-index:999;top:45px;}
.gnbwrap {min-width:1280px;position:fixed;top:45px;right:0;width:100%;z-index:9;width:100%;;background:#fff;}
.gnbwrap .gnb {margin-right:20px;text-align:left;position:relative;background:#fff;border-bottom:1px solid #ccc;}
.gnbwrap .gnb .left_logo {display:inline-block;margin-left:40px;margin-top:5px;margin-bottom:3px;}
.gnbwrap .gnb .right_gnb {text-align:center;width:100%;position:fixed;top:45px;}
.gnbwrap .gnb .right_gnb .tab-data {display:none;}
.gnbwrap .gnb .right_gnb .tab-data li a:hover {color:#cf152d;font-weight:bold;}
.gnbwrap .gnb .right_gnb .tab-data li a.on {color:#cf152d;font-weight:bold;}
.gnbwrap .gnb .gnb_list {height:84px;width:80%;height:60px;margin:0 auto;display:inline-block;}
.gnbwrap .gnb .gnb_list > li {display:inline-block;height:100%;width:80px;border-left:none;margin-right:20px;}
.gnbwrap .gnb .gnb_list > li:hover img {}
.gnbwrap .gnb .gnb_list > li:hover span {font-weight:bold;color:#cf152d;}
/*.gnbwrap .gnb .gnb_list li:hover {background:#f9f9f9;}*/
.gnbwrap .gnb .gnb_list li a {text-align:center;vertical-align:middle;color:#666666;display:inline-block;width:100%;height:100%;vertical-align:middle;padding-top:10px;}
.gnbwrap .gnb .gnb_list li a img {display:inline-block;height:22px;}
.gnbwrap .gnb .gnb_list li a img.acive {}
.gnbwrap .gnb ul li .left_logo a img {display:block;width:100px;height:48px;}
.gnbwrap .gnb ul li a span {width:100%;display:block;font-size:14px;color:#000;}
.gnbwrap .gnb ul li a span.action {font-weight:bold;color:#cf152d;}
.gnbwrap .gnb ul li.pr ul {position:absolute;width:100%;display:inline-block;min-width:1200px;left:0;font-size:14px;}
.gnbwrap .gnb ul li.pr ul li {float:left;margin-right:20px;display:inline-block;}
.gnbwrap .gnb ul li.pr ul li:hover {background:none;}
#statistics_sub {text-align:right;width:850px;left:auto;right:0;}
#statistics_sub li {float:none;display:inline-block;}
#board_sub {width:920px;text-align:center;left:-400px;min-width:0}
#board_sub li {float:none;display:inline-block}

/*.gnbwrap .gnb .gnb_list li:first-child a {padding-top:0;width:auto;height:auto;}*/
/*.gnbwrap .gnb .gnb_list li:first-child {width:auto;text-align:left;padding-left:40px;margin-right:20px;float:left;padding-top:6px;}*/





/*footer*/
.footwrap {width:100%;border-top:1px solid #bababa;display:inline-block;height:86px;margin-top:-86px;margin-bottom:20px;background:#fff;position:absolute;bottom:0;left:0;min-width:1280px;}
/*.footwrap span {padding-bottom:54px;}*/
.footwrap .footer .content {text-align:center;margin-top:24px;}
.footwrap .footer ul {text-align:center;display:inline-block;width:100%;}
.footwrap .footer ul li {display:inline-block;font-size:14px;}
.footwrap .footer ul li:after{content:'';width:2px;height:10px;margin:16px;background:#696969;display:inline-block;vertical-align:middle;}
.footwrap .footer ul li:last-child:after {display:none;}
.footwrap .footer ul li a {color:#333333;}
.footwrap {font-size:12px;}



/*content*/



/* Layer Popup */
.lp-wrapper {display:none; position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100%; background-color:rgba(0,0,0,0.8); vertical-align:middle;}
.lp-wrapper.on {display:table; table-layout:fixed; text-align:center;}
.lp-wrapper .lp-wrap {display:table-cell; width:100%; padding:40px 0; vertical-align:middle;}
.lp-wrapper .lp-con {display:inline-block; position:relative; width:940px; background-color:#fff; text-align:left;}
.lp-wrapper .lp-header {margin:0 30px; background-color:#fff;}
.lp-wrapper .lp-header h2 {border-bottom:2px solid #111; font-family:"NanumSquareOTFR"; font-size:30px; color:#111; line-height:70px;}
.lp-wrapper .lp-container {position:relative; overflow-y:auto; padding:0 30px 40px;
/*    padding:0 30px 77px;*/
}
.lp-wrapper .lp-content {position:relative;}
.lp-wrapper .btn_lp_close {
	position:absolute;
	top:23px;
	right:30px;
	z-index:20;
	width:26px;
	height:26px;
	font-size:0px;
	line-height:0px;
	background:url('/images/common/btn_lp_close.png') center center no-repeat;
}

.lp-wrapper .lp-confirm {display:inline-block; position:relative; background-color:#fff;}
.lp-wrapper .lp-confirm .lp-confirm-cont {padding:50px 50px 0;}
.lp-wrapper .lp-confirm .lp-confirm-cont.type1 {min-width:228px;}
.lp-wrapper .lp-confirm .lp-confirm-cont.type2 {min-width:338px;}
.lp-wrapper .lp-confirm .lp-msg {position:relative; margin:0 0 35px; font-family:'NotoSans-Regular'; font-size:14px; line-height:1.4; color:#555; text-align:center;}
.lp-wrapper .lp-confirm .has-ico {padding:60px 0 0;}
.lp-wrapper .lp-confirm .ico-cart {background:url('/images/common/ico_cart_msg.png') no-repeat 50% 0;}
.lp-wrapper .lp-confirm .lp-alarm {font-family:'NotoSans-Regular'; padding:15px 20px; font-size:14px; line-height:1.4; color:#555; background-color:#f7f7f7;}
.lp-wrapper .lp-confirm .lp-alarm .ui-checkbox {width:100%; font-size:14px;}
.lp-wrapper .lp-confirm .btn-wrap {border-top:1px solid #ccc;}
.lp-wrapper .lp-confirm .btn_lp_close {top:5px; right:5px; background:url('/images/common/btn_lp_close2.png') no-repeat 50% 50%;}

.lp_shopList .section-shop {margin-bottom:0;}
.lp-wrapper.lp_shopList .lp-header h2 {border-bottom:none;}
.lp-wrapper.lp_shopList .lp-container {padding:0;}

h1 {margin-bottom:25px; font-family:"NanumSquareOTFR"; font-size:40px; color:#111; text-align:center;}
.inner {position:relative; width:1196px; margin:0 auto;}
#lp_member  {overflow:hidden}
#lp_member .lp-confirm {width:50%; height:50%; overflow-y:auto;  top:-150px}
#lp_member .lp-confirm .btn_lp_close {background-size:cover;    top: 15px; right: 15px;}

