@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : content.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/

/***** Common *****/

/* Layer Popup */
.lp-wrapper {display:none; position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100%; background-color:rgba(0,0,0,0.8); vertical-align:middle;}
.lp-wrapper.on {display:table; table-layout:fixed; text-align:center;}
.lp-wrapper .lp-wrap {display:table-cell; width:100%; padding:40px 0; vertical-align:middle;}
.lp-wrapper .lp-con {display:inline-block; position:relative; width:940px; background-color:#fff; text-align:left;}
.lp-wrapper .lp-header {margin:0 30px; background-color:#fff;}
.lp-wrapper .lp-header h2 {border-bottom:2px solid #111; font-family:"NanumSquareOTFR"; font-size:30px; color:#111; line-height:70px;}
.lp-wrapper .lp-container {position:relative; overflow-y:auto; padding:0 30px 77px;}
.lp-wrapper .lp-content {position:relative;}
.lp-wrapper .btn_lp_close {
	position:absolute;
	top:23px;
	right:30px;
	z-index:20;
	width:26px;
	height:26px;
	font-size:0px;
	line-height:0px;
	background:url('/images/common/btn_lp_close.png') center center no-repeat;
}

.lp-wrapper .lp-confirm {display:inline-block; position:relative; background-color:#fff;}
.lp-wrapper .lp-confirm .lp-confirm-cont {padding:50px 50px 0;}
.lp-wrapper .lp-confirm .lp-confirm-cont.type1 {min-width:228px;}
.lp-wrapper .lp-confirm .lp-confirm-cont.type2 {min-width:338px;}
.lp-wrapper .lp-confirm .lp-msg {position:relative; margin:0 0 35px; font-family:'NotoSans-Regular'; font-size:14px; line-height:1.4; color:#555; text-align:center;}
.lp-wrapper .lp-confirm .has-ico {padding:60px 0 0;}
.lp-wrapper .lp-confirm .ico-cart {background:url('/images/common/ico_cart_msg.png') no-repeat 50% 0;}
.lp-wrapper .lp-confirm .lp-alarm {font-family:'NotoSans-Regular'; padding:15px 20px; font-size:14px; line-height:1.4; color:#555; background-color:#f7f7f7;}
.lp-wrapper .lp-confirm .lp-alarm .ui-checkbox {width:100%; font-size:14px;}
.lp-wrapper .lp-confirm .btn-wrap {border-top:1px solid #ccc;}
.lp-wrapper .lp-confirm .btn_lp_close {top:5px; right:5px; background:url('/images/common/btn_lp_close2.png') no-repeat 50% 50%;}

.lp_shopList .section-shop {margin-bottom:0;}
.lp-wrapper.lp_shopList .lp-header h2 {border-bottom:none;}
.lp-wrapper.lp_shopList .lp-container {padding:0;}

h1 {margin-bottom:25px; font-family:"NanumSquareOTFR"; font-size:40px; color:#111; text-align:center;}
.inner {position:relative; width:1196px; margin:0 auto;}

/* Section */
.section-wrap {margin-bottom:28px; border-bottom:2px solid #e5e5e5; background-color:#fff;}
.section {position:relative; background-color:#fff;}
.section2 {position:relative; background-color:#fff;}
.section h3 {display:inline-block; font-family:"NanumSquareOTFR"; font-size:32px; color:#333;}
.section h3 .small {color:#666; font-size:16px;}
.section .bg-gray h3 {display:block; padding:44px 35px 0 35px; border-top:1px solid #d6d6d6; font-size:16px; color:#000; background-color:#f7f7f7;}
.section-header {position:relative; margin-bottom:20px;}
.section-header.bg-gray {margin-bottom:0;}
.section-header .listCount {margin-left:10px; font-size:16px; color:#ff0000; vertical-align:baseline;}
.section-header .btn_more {position:absolute; top:4px; right:0px;}
.section-header .right {position:absolute; right:0; bottom:0;}
.section-header2 {position:relative; margin-bottom:15px;}
.section-header2 h4 {color:#000; font-size:14px; font-weight:normal; font-family:"NanumSquareOTFR";}
.section-header2 .right {position:absolute; right:0; bottom:0;}
.section-body.top-line {border-top:2px solid #111;}
.section-item h4 {display:inline-block; margin-top:50px; margin-bottom:13px; font-family:"NanumSquareOTFB"; font-size:20px; color:#8c674a;}
.section.btline{border-bottom: 1px solid #d6d6d6; padding-bottom: 30px;}

/* MyPage */
.myInfo-wrap {position:relative; margin-bottom:20px;}
.myInfo-wrap:after {content:""; display:block; clear:both;}
.myInfo-wrap .myInfo-membership {float:left; width:550px; height:169px; padding:24px 33px; background-color:#f8f8f8;}
.myInfo-wrap .myInfo-shopping {float:right; width:635px; height:169px;}
.myInfo-wrap .myInfo-shopping dl {cursor:pointer;}

.myInfo-wrap .myInfo-memGrade {margin-bottom:29px; padding-left:118px; background:url('/images/common/ico_memChicken.png') 0 0 no-repeat; background-size:85px 97px;}
/*.myInfo-wrap .myInfo-memGrade.gold {background:url('/images/common/ico_memGrade_gold.png') 0 0 no-repeat; background-size:67px 67px;}
.myInfo-wrap .myInfo-memGrade.silver {background:url('/images/common/ico_memGrade_silver.png') 0 0 no-repeat; background-size:67px 67px;}
.myInfo-wrap .myInfo-memGrade.bronze {background:url('/images/common/ico_memGrade_bronze.png') 0 0 no-repeat; background-size:67px 67px;}*/
.myInfo-wrap .myInfo-memGrade .memGrade {padding:10px 0 10px; color:#111; font-family:"NanumSquareOTFR"; font-size:20px;}
.myInfo-wrap .myInfo-memGrade .memGrade strong {font-family:"NanumSquareOTFB";}
.myInfo-wrap .myInfo-memGrade .memGrade span {font-family:"NanumSquareOTFB"; }

.myInfo-wrap .myInfo-memGrade.gold .memGrade span {color:#ffa800;}
.myInfo-wrap .myInfo-memGrade.silver .memGrade span {color:#6d6d6d;}
.myInfo-wrap .myInfo-memGrade.bronze .memGrade span {color:#ab7239;}

.myInfo-wrap .myInfo-memGrade .memTxt {margin-bottom:10px; color:#666; font-size:16px; font-family:'NanumSquareOTFR'; white-space:nowrap;}
.myInfo-wrap .myInfo-memGrade .btn-wrap {font-size:0px; text-align:left;}
.myInfo-wrap .myInfo-memGrade .btn-wrap .btn {}

.myInfo-wrap .myInfo-inquiry {overflow:hidden; height:62px; padding:19px 0; border:1px solid #e4e4e4; background-color:#eee;}
.myInfo-wrap .myInfo-inquiry dl.itemInfo {float:left; display:table; width:50%; height:23px; font-family:"NanumSquareOTFR"; font-size:16px; color:#333;}
.myInfo-wrap .myInfo-inquiry dl.itemInfo:first-child {border-right:1px solid #adadad;}
.myInfo-wrap .myInfo-inquiry dl.itemInfo dt {display:table-cell; width:152px; padding-left:55px; text-align:left; vertical-align:middle;}
.myInfo-wrap .myInfo-inquiry dl.itemInfo dd {display:table-cell; text-align:left; vertical-align:middle;}
.myInfo-wrap .myInfo-inquiry dl.itemInfo dd span {margin-right:3px; font-family:"NanumSquareOTFB"; font-size:24px; vertical-align:middle;}

.myInfo-wrap .myInfo-shopping:after {content:""; display:block; clear:both;}
.myInfo-wrap .myInfo-shopping dl.itemInfo {
	float:left;
	width:205px;
	height:169px;
	margin-left:10px;
	padding-top:22px;
	font-family:"NanumSquareOTFR";
	text-align:center;
}
.myInfo-wrap .myInfo-shopping dl.itemInfo:first-child {margin-left:0px;}
.myInfo-wrap .myInfo-shopping dl.itemInfo dt {margin-bottom:10px; font-family:"NanumSquareOTFR"; font-size:20px;}
.myInfo-wrap .myInfo-shopping dl.itemInfo dd {padding-top:65px;}
.myInfo-wrap .myInfo-shopping dl.itemInfo dd .count {font-family:"NanumSquareOTFR"; font-size:26px;}
.myInfo-wrap .myInfo-shopping dl.itemInfo .link-go {
	display:inline-block;
	position:relative;
	margin-top:16px;
	padding:0 10px 4px 0;
	border-bottom:1px solid #625a5a;
	font-family:"NanumSquareOTFR";
	font-size:14px;
	color:#625a5a;
	background:url('/images/common/ico_link_arrow.png') right 2px no-repeat;
}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-point {border:1px solid #ffa800; color:#ffa800;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-point:hover{box-shadow: 1px 2px 4px rgba(0, 0, 0, .1); transition-property:all; transition-duration:0.3s; transition-timing-function:ease-in-out;	transition-delay:0;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-coupon {border:1px solid #8c674a; color:#8c674a;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-coupon:hover{box-shadow: 1px 2px 4px rgba(0, 0, 0, .1); transition-property:all; transition-duration:0.3s; transition-timing-function:ease-in-out;	transition-delay:0;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-card {border:1px solid #6c6c6c; color:#6c6c6c;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-card:hover{box-shadow: 1px 2px 4px rgba(0, 0, 0, .1); transition-property:all; transition-duration:0.3s; transition-timing-function:ease-in-out;	transition-delay:0;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-point dd {background:url('/images/mypage/ico_point.png') center top no-repeat;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-coupon dd {background:url('/images/mypage/ico_coupon.png') center top no-repeat;}
.myInfo-wrap .myInfo-shopping dl.itemInfo.itemInfo-card dd {background:url('/images/mypage/ico_card.png') center top no-repeat;}


.myMenu-wrap {display:table; position:relative; width:100%; margin-bottom:60px; border:1px solid #d6d6d6; border-radius:3px; table-layout:fixed;}
.myMenu-wrap.on {margin-bottom:60px;}
.myMenu-wrap .myMenu {display:table-row; position:relative;}
.myMenu-wrap .myMenu > li {position:relative; display:table-cell; height:57px; text-align:center; vertical-align:middle;}
.myMenu-wrap .myMenu > li + li:before {display:block; position:absolute; left:0; top:50%; width:1px; height:14px; margin-top:-7px; background:#d6d6d6; content:"";}
.myMenu-wrap .myMenu > li > a {font-family:"NanumSquareOTFR"; font-size:18px; color:#666;}
.myMenu-wrap .myMenu > li.on > a,
.myMenu-wrap .myMenu > li > a:hover {font-family:"NanumSquareOTFB"; color:#111;}
.myMenu-wrap .myMenu > li > .subMenu {display:none; position:absolute; left:0px; top:57px; width:100%; height:40px; border-bottom:1px dotted #000;}
.myMenu-wrap .myMenu > li.on > .subMenu {display:block;}
.myMenu-wrap .myMenu > li:nth-child(1) > .subMenu {padding:0 0 0 75%;}
.myMenu-wrap .myMenu > li:nth-child(2) > .subMenu {padding:0 50% 0 25%;}
.myMenu-wrap .myMenu > li:nth-child(3) > .subMenu {padding:0 25% 0 50%;}
.myMenu-wrap .myMenu > li:nth-child(4) > .subMenu {padding:0 0 0 75%;}
.myMenu-wrap .myMenu > li > .subMenu ul {display:block; text-align:center;}
.myMenu-wrap .myMenu > li > .subMenu ul li {display:inline-block; margin:0 22px;}
.myMenu-wrap .myMenu > li > .subMenu ul li a {display:inline-block; font-family:"NanumSquareOTFR"; font-size:14px; color:#666; line-height:40px;}
.myMenu-wrap .myMenu > li > .subMenu ul li.on a {position:relative; font-family:"NanumSquareOTFB"; color:#222;}
.myMenu-wrap .myMenu > li > .subMenu ul li.on a:after {content:''; display:block; clear:both; position:absolute; bottom:11px; width:100%; height:1px; background-color:#444;}

/* Board */
.boardList-wrap {position:relative;}

/* Order List */
.tbl-orderList {border-top:2px solid #111;}
.tbl-orderList thead {border-bottom:1px solid #111;}
.tbl-orderList thead th {height:50px; font-family:"NanumSquareOTFR"; font-size:16px; color:#333; text-align:center;}
.tbl-orderList tbody tr {border-bottom:1px solid #d6d6d6;}
.tbl-orderList tbody td {height:122px; padding:20px 10px; font-family:"NanumSquareOTFR"; font-size:16px; color:#666; line-height:24px; text-align:center;}
.tbl-orderList tbody td .orderDate {margin-bottom:4px;}
.tbl-orderList tbody td .orderNum {margin-bottom:4px; color:#ffa800;}

dl.orderProd {position:relative; min-height:82px; padding-left:116px;}
dl.orderProd + dl.orderProd {margin-top:20px;}
dl.orderProd dt {margin-bottom:2px; padding-top:16px; color:#111;}
dl.orderProd dt .brand {display:block; margin-bottom:2px; color:#666;}
dl.orderProd dd.prodImg {position:absolute; top:0px; left:0px; overflow:hidden; width:95px; height:82px;}
dl.orderProd dd.prodImg img {width:100%; height:auto;}
dl.orderProd dd.prodOption {font-family:"NanumSquareOTFR"; font-size:16px; color:#111;}

/* Inquiry List */
.tbl-inquiryList {border-top:2px solid #111;}
.tbl-inquiryList thead {border-bottom:1px solid #111;}
.tbl-inquiryList thead th {height:50px; font-family:"NanumSquareOTFR"; font-size:16px; color:#333; text-align:center;}
.tbl-inquiryList tbody tr {border-bottom:1px solid #d6d6d6;}
.tbl-inquiryList tbody td {padding:20px 10px; font-family:"NanumSquareOTFR"; font-size:16px; color:#666; line-height:24px; text-align:center;}
.tbl-inquiryList tbody td .state {color:#625a5a;}
.tbl-inquiryList tbody .complete td .state {color:#e41937;}
.tbl-inquiryList tbody .item-content {border-bottom:none;}
.tbl-inquiryList tbody .item-content.on {border-bottom:1px solid #d6d6d6;}
.tbl-inquiryList tbody .item-content td {padding:0;}
.tbl-inquiryList tbody td .item {display:none;}
.tbl-inquiryList tbody td .question,
.tbl-inquiryList tbody td .answer {position:relative; padding:27px 10px 27px 150px;}
.tbl-inquiryList tbody td .question p,
.tbl-inquiryList tbody td .answer p {font-size:18px; color:#ffa800; line-height:26px;}
.tbl-inquiryList tbody td .question p:before,
.tbl-inquiryList tbody td .answer p:before {display:inline-block; position:absolute; left:116px; top:27px; clear:both; font-size:30px; color:#ffa800;}
.tbl-inquiryList tbody td .question p:before {content:'Q';}
.tbl-inquiryList tbody td .answer {border-bottom:40px solid #fff; background-color:#ffa800;}
.tbl-inquiryList tbody td .answer p {color:#fff;}
.tbl-inquiryList tbody td .answer p:before {content:'A'; color:#fff;}

.board-pager-wrap {position:relative; height:46px; margin:40px 0 0; padding:10px 0; text-align:center;}
.board-pager {display:inline-block; overflow:hidden;}
.board-pager .board-nav {display:inline-block; width:26px; height:26px; border:1px solid #d6d6d6; text-indent:-9999px; vertical-align:middle;}
.board-pager .board-nav.btn_first {background: url('/images/common/ico_pager_first.png') #fff center no-repeat;}
.board-pager .board-nav.btn_prev {margin-right:5px; background: url('/images/common/ico_pager_prev.png') #fff center no-repeat;}
.board-pager .board-nav.btn_first + .btn_prev {margin-left:11px;}
.board-pager .board-nav.btn_next {margin-left:5px; background: url('/images/common/ico_pager_next.png') #fff center no-repeat;}
.board-pager .board-nav.btn_last {margin-left:11px; background: url('/images/common/ico_pager_last.png') #fff center no-repeat;}
.board-pager .board-nav:hover {background-color :#f8f8f8;}
.board-pager .board-page {display:inline-block; overflow:hidden; height:26px; margin:0 10px; vertical-align:middle;}
.board-pager .board-page li {float:left; margin:0 5px;}
.board-pager .board-page li a {display:block; height:26px; padding:0 5px; line-height:26px; font-family:"NanumSquareOTFR"; font-size:14px; color:#666; text-align:center;}
.board-pager .board-page li:hover a,
.board-pager .board-page li.on a {color:#333;}
.board-pager-wrap .btn-area {position: absolute; top:0; right: 0;}
.board-pager-wrap .btn-area .btn {width:160px; border-radius:3px; font-family:"NanumSquareOTFR"; font-size:16px; color:#fff; line-height:46px;}
.board-pager-wrap .btn-area .btn.btn-red {background-color:#e41937;}

/* Member */
.tbl-member {border-top:1px solid #ededed;}
.tbl-member.black-line {border-top:1px solid #111;}
.section .alert span {font-size:12px;color:#888;display:block;margin-top:5px;}
.tbl-member th {padding:12px 38px; border-bottom:1px solid #ededed; font-family:"NanumSquareOTFR"; font-size:16px; color:#333; line-height:47px; text-align:left; vertical-align:top;}
.tbl-member .bg-gray th {border-bottom:none; background-color:#f7f7f7;padding: 5px 38px;}
.tbl-member .bg-gray.line th {border-bottom:1px solid #ededed;}
.tbl-member .last th {border-bottom:1px solid #d9d9d9;}
.tbl-member .no-line th {border-bottom:none;}
.tbl-member td {padding:12px 8px; border-bottom:1px solid #ededed; font-family:"NanumSquareOTFR";}
.tbl-member .bg-gray td {border-bottom:none; background-color:#f7f7f7;}
.tbl-member .bg-gray.line td {border-bottom:1px solid #ededed;}
.tbl-member .last td {border-bottom:1px solid #d9d9d9;}
.tbl-member .no-line td {border-bottom:none;}
.tbl-member td .txt-red {margin-left:18px; color:#e41937; line-height:47px;}

.btn_memSecssion {width:100%; height:75px; margin-top:21px; padding:0 44px 0 50px; border:1px solid #dedede; font-family:"NanumSquareOTFB"; font-size:16px; line-height:73px; text-align:left; background-color:#f7f7f7;}
.btn_memSecssion span.ico-arrowRight {display:block; background:url('/images/common/ico_arrow_right.png') right center no-repeat;}
.btn_memSecssion small {margin-left:14px; font-family:"NanumSquareOTFR"; font-size:16px; color:#555;}

.ui-input-post {position:relative;}
.ui-input-post input {width:146px;}
.ui-input-post .btn_post {display:inline-block;}

.headLine {padding:40px 0;}
.headLine .headLine-img {position:relative;}
.headLine .headLine-img:after {content:''; display:block; position:absolute; left:50%; bottom:-27px; clear:both; width:50px; height:2px; margin-left:-25px; background-color:#000;}
.headLine .headLine-txt {margin-top:55px; font-family:"NanumSquareOTFR"; font-size:24px; color:#000;}

.box-gray {padding:27px 35px 45px; background-color:#f7f7f7;}

.__tbl-list {width:100%; table-layout:fixed; border-top:1px solid #000;}
.__tbl-list tr > * {text-align:center; font-size:14px; padding:18px 10px; border-bottom:1px solid #bdbfc6;}
.__tbl-list tr th {color:#222; font-weight:normal;}
.__tbl-list tr .subject {text-align:left;}
.__tbl-list tr .subject a {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; max-width:85%; display:inline-block; vertical-align:middle;}
.__tbl-list tr .notice {color:#3f60bf; font-size:12px;}


/* 윈도우 팝업 공통 */
.winpop-wrap {padding-bottom:60px;}
.winpop-wrap .winpop-header {padding:34px 38px 40px 24px;}
.winpop-wrap .winpop-header .logo {width:100px; height:49px; margin:auto;}
.winpop-wrap .winpop-header .pop-tit {margin-top:23px; font-family:"NanumSquareOTFR"; font-size:26px; color:#222; text-align:center; line-height:1.3;}
.winpop-wrap .winpop-footer {padding:0 40px;}

/* 로그인 팝업 */
.winpop-wrap.winpop-login {padding-bottom:0;}
.winpop-login .winpop-content {padding:0 38px;}
.winpop-login .login-save {margin-top:13px; text-align:left;}
.winpop-login .login-save .ui-checkbox {width:auto;}
.winpop-login .winpop-footer {margin-top:37px; padding:33px 36px 54px; background:#f7f7f7;}
.winpop-login .winpop-footer .tit-footer {width:100%; border-bottom:1px solid #b2b2b2; padding-bottom:20px; font-family:"NanumSquareOTFB"; font-size:18px; color:#625a5a; text-align:center; line-height:25px;}

.winpop-login .login-etc dl:after {display:block; clear:both; content:"";}
.winpop-login .login-etc dl dt {width:calc(100% - 135px); float:left; font-size:14px; letter-spacing:-1px; color:#444;}
.winpop-login .login-etc dl dd {float:left; width:135px;}
.winpop-login .login-etc dl.find {margin-top:20px;}
.winpop-login .login-etc dl.join {margin-top:13px;}
.winpop-login .login-etc dl.find dt {margin-top:7px;}
.winpop-login .login-etc dl.join dt em {display:block; margin-top:5px; font-size:12px; color:#666; line-height:1.3;}


/* 회원가입_01 팝업 */
.winpop-join .step-wrap ol {width:333px; margin:auto;}
.winpop-join .step-wrap ol:after {display:block; clear:both; content:"";}
.winpop-join .step-wrap ol li {position:relative; float:left; width:52px; margin-left:88px;}
.winpop-join .step-wrap ol li:first-child {margin-left:0;}
.winpop-join .step-wrap ol li:first-child:before {display:none;}
.winpop-join .step-wrap ol li:before {display:block; position:absolute; top:26px; left:-88px; width:88px; height:1px; background:#e7e7e7; content:"";}
.winpop-join .step-wrap ol li em {display:block; width:52px; height:52px; border-radius:50%; background:#e7e7e7; color:#b2b2b2; font-size:20px; text-align:center; line-height:52px;}
.winpop-join .step-wrap ol li span {display:inline-block; width:77px; margin:7px 0 0 -12px; font-size:12px; color:#888; text-align:center; line-height:1.3;}
.winpop-join .step-wrap ol li.current em {background:#e31937; font-family:"NanumSquareOTFB"; color:#fff;}
.winpop-join .step-wrap ol li.current span {font-family:"NanumSquareOTFB"; color:#e31937;}

.winpop-join .agree-wrap {margin-top:25px; padding:0 24px;}
.winpop-join .agree-wrap .ui-checkbox.all-chk {width:100%; padding-left:18px; color:#222;}
.winpop-join .agree-wrap .agree-box {width:100%; height:147px; margin-top:11px; padding:23px 18px; border:1px solid #efefef; background:#f7f7f7;}
.winpop-join .agree-wrap .agree-box p + p {margin-top:10px;}
.winpop-join .agree-wrap .agree-box .ui-checkbox {width:70%; font-size:14px;}
.winpop-join .agree-wrap .agree-box p a {display:inline-block; float:right; font-size:14px; text-decoration:underline; color:#666;}
.winpop-join .agree-wrap .auth-explain {margin-top:23px; font-family:"NanumSquareOTFB"; font-size:18px; text-align:center; color:#625a5a; line-height:1.3;}

/* 회원가입_02 팝업 */
.join-step02 .info-box {width:100%; height:147px; padding:24px 46px; border-top:1px solid #efefef; border-bottom:1px solid #efefef; background:#f7f7f7;}
.join-step02 .info-box dl dt {font-size:14px; color:#999;}
.join-step02 .info-box dl dd {margin-top:5px; color:#333;}
.join-step02 .info-input {padding:23px 38px;}
.join-step02 .info-input .input-required input + input {margin-top:15px;}
.join-step02 .info-input .input-select {margin-top:45px;}
.join-step02 .info-input .input-select h4 {margin-bottom:10px; font-family:"NanumSquareOTFB"; font-size:18px; color:#625a5a; }
.join-step02 .info-input .input-select input {width:calc(100% - 130px);}


/* 기존회원 안내 팝업 */
.winpop-already .winpop-content {padding:0 25px;}
.winpop-already .id-explain {font-size:14px; color:#666; text-align:center;}
.winpop-already .id-box {width:100%; height:60px; margin:13px 0 200px; border:1px solid #efefef; background:#f7f7f7;}
.winpop-already .id-box p {font-size:14px; color:#666; text-align:center; line-height:60px;}


/* 딱 멤버십 안내 */
.ddack-memFAQ {display:block; border-top:2px solid #111;}
.ddack-memFAQ dl {display:block; padding:50px 50px 50px 35px;}
.ddack-memFAQ dl + dl {border-top:1px dashed #e0e0e0;}
.ddack-memFAQ dl dt {font-family:"NanumSquareOTFB"; font-size:32px;}
.ddack-memFAQ dl dt .ddack-mem {display:inline-block; width:101px; height:91px; margin-right:7px; text-indent:-9999px;}
.ddack-memFAQ dl dt .txt {vertical-align:bottom}

.ddack-memFAQ dl.benefit .ddack-mem {background:url(/images/mypage/ddack01.png) no-repeat;}
.ddack-memFAQ dl.join .ddack-mem {background:url(/images/mypage/ddack02.png) no-repeat;}
.ddack-memFAQ dl.reserve .ddack-mem {background:url(/images/mypage/ddack03.png) no-repeat;}

.ddack-memFAQ dl.benefit dt {color:#e51937;}
.ddack-memFAQ dl.join dt {color:#a2968a;}
.ddack-memFAQ dl.reserve dt {color:#a29061;}

.ddack-memFAQ dl dd {margin-top:20px; padding-left:40px; font-family:"NanumSquareOTFR"; font-size:20px; color:#424242; letter-spacing:-2px; line-height:1.5;}
.ddack-memFAQ dl dd .ddack {font-size:23px; color:#1c1c1c;}
.ddack-memFAQ dl.join dd.check:after {display:block; content:""; clear:both;}
.ddack-memFAQ dl.join dd.check div {float:left; width:50%;}
.ddack-memFAQ dl.join dd.check div h4 {display:inline-block; border-bottom:1px solid #3f3f3f; font-family:"NanumSquareOTFB"; line-height:1.3;}
.ddack-memFAQ dl.join dd.check div p {margin-top:10px;}
.ddack-memFAQ dl.reserve dd p + p {margin-top:40px;}

.ddack-memInfo {width:100%; padding:0 80px;}
.ddack-memInfo .validity {height:56px; border-top:2px solid #a29061; line-height:56px; font-family:"NanumSquareOTFR"; color:#928051; font-size:22px; text-align:center;}
.ddack-memInfo .validity:before {display:inline-block; width:22px; height:22px; margin-right:5px; background:url(/images/mypage/exclamation.png) no-repeat; content:"";}
.ddack-memInfo .use-box {padding:86px 48px 60px 48px; border:1px solid #dadada; background:#fbfbfb;}
.ddack-memInfo .use-box .ddack-mem {display:inline-block; width:74px; height:65px; background:url(/images/mypage/ddack04.png) no-repeat; text-indent:-9999px;}
.ddack-memInfo .use-box dt .txt {vertical-align:bottom; font-family:"NanumSquareOTFB"; color:#15135f; font-size:26px;}
.ddack-memInfo .use-box dd {margin-top:10px; font-family:"NanumSquareOTFR"; font-size:20px; color:#000; line-height:1.2; letter-spacing:-1px;}
.ddack-memInfo .use-box dd .ddack {font-size:23px; color:#1c1c1c;}
