@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : content.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/

/********** Layer Popup **********/
.lp-wrapper {display:none; position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100%; background-color:#fff; overflow-y:auto;}
.lp-wrapper .lp-container {position:relative; height:auto; padding-top:0; max-width:1000px; width:100%; margin:0 auto;}
.lp-wrapper .lp-header {width:100%; padding:25px; text-align:center;}
.lp-wrapper .lp-header h2 {font-size:27px}
.lp-wrapper .lp-content {padding:0;}
.lp-wrapper .btn_lp_close {position:absolute;top:15px;right:15px;z-index:20;width:20px;height:20px;font-size:30px; background:url('/images/common/btn_lp_close_gray.png') center center no-repeat; background-size:100% 100%; font-size:0}




/********** Layer Popup - 알림창 **********/
.lp-wrapper.type2 {display:none; position:fixed; top:0px; left:0px; z-index:99999; width:100%; height:100%; background-color:rgba(0,0,0,0.8); vertical-align:middle;}
.lp-wrapper.type2.on {display:table; table-layout:fixed; text-align:center;}
.lp-wrapper.type2 .lp-wrap {display:table-cell; width:100%; padding:20px; vertical-align:middle; text-align:center}
.lp-wrapper.type2 .lp-con {display:inline-block; position:relative; width:100%; background-color:#fff; text-align:left;}
.lp-wrapper.type2 .lp-header {margin:0 30px; background-color:#fff;}
.lp-wrapper.type2 .lp-header h2 {border-bottom:2px solid #111; font-family:"NanumSquareOTFR"; font-size:30px; color:#111; line-height:70px;}
.lp-wrapper.type2 .lp-container {position:relative; overflow-y:auto; padding:0 30px 77px;}
.lp-wrapper.type2 .lp-content {position:relative;}
.lp-wrapper.type2 .btn_lp_close {position:absolute;top:10px;right:10px;z-index:20;width:20px;height:20px;font-size:0px;line-height:0px;background:url('/images/common/btn_lp_close_gray.png') center center no-repeat; background-size:100% 100%}

.lp-wrapper.type2 .lp-confirm {display:inline-block; position:relative; background-color:#fff; width:300px}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont {padding:50px 20px 0;}
#LP_Couponinfo.type2 .lp-confirm .lp-confirm-cont {padding:55px 45px 0;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type3 {padding:80px 35px 0;}

.lp-wrapper.type2 .lp-confirm .lp-msg {position:relative; margin:0 0 30px; font-size:16px; line-height:1.4; color:#555; text-align:center;  font-family:"NotoSans-Thin";}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type2 .lp-msg{margin-bottom:46px;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type3 .lp-msg{margin-bottom:46px;}
.lp-wrapper.type2 .lp-confirm .has-ico {padding:100px 0 0;}
.lp-wrapper.type2 .lp-confirm .ico-cart {background:url('/images/common/ico_cart_msg.png') no-repeat 50% 0; background-size:70px auto}
.lp-wrapper.type2 .lp-confirm .lp-alarm {font-family:'NotoSans-Regular'; padding:30px 35px; line-height:1.4; color:#555; background-color:#f7f7f7; text-align:left;}
.lp-wrapper.type2 .lp-confirm .lp-alarm .ui-checkbox {position:relative; width:100%; padding-left:50px; font-size:38px;}
.lp-wrapper.type2 .lp-confirm .lp-alarm .ui-checkbox input+span{position:absolute; left:0; top:2px;}
.lp-wrapper.type2 .lp-confirm .btn-wrap {border-top:1px solid #ccc;}

.lp_Couponinfo {text-align: center}
.lp_Couponinfo h3 {line-height: 50px;}




/********** Section **********/
.section-wrap {display:block; position:relative; background-color:#fff;}
.section {position:relative; background-color:#fff;}
.section > h3 {padding-bottom:0; font-size:21px; text-align:center}
.section-header {position:relative; margin-bottom:10px}
.section-header h3 {font-size:21px; text-align:left; font-family:'NotoSans-Medium'}
.section-header.section-header-line h3 {margin-bottom:25px; border-bottom:1px solid #464646;}
.section-header .rig {position:absolute; right:0; bottom:0;}
.section-header .more {color:#111; font-size:15px; padding-right:20px; background:url(/images/common/ico_btn_arr.png) no-repeat 100% 50%; background-size:8px}
.inner {position:relative; padding-left:0; padding-right:0;}

.alert span {font-size:15px;color:#888;display:block;margin-top:10px;}
.lp_cardadd .btn-wrap.two-up .btn:last-child {float:none;}

/*
.regForm {margin-top:10px;}
.regForm dt {margin-bottom:5px; font-size:16px; }
.regForm dd {font-size:16px; color:#333; margin-bottom:16px}
.regForm:last-child dd {margin-bottom:0}*/

.box-gray {padding:20px; border-top:1px solid #ededed; border-bottom:1px solid #ededed; background-color:#f7f7f7;}
.box-gray .regForm:first-child {margin-top:0px;}

.btn-wrap .explain {margin-top:20px; font-family:"NotoSans-Light"; font-size:15px; color:#666; text-align:center;}

.headLine {position:relative; margin-bottom:20px; padding-bottom:25px;}
/*.headLine:after {content:"";display:block;position:absolute;bottom:0px;left:50%;width:60px;height:2px;margin-left:-30px;background-color:#000;}*/






/********** 마이페이지 **********/
/* 기본정보 */
.section_membership .memGrade {position:relative; margin-top:20px; padding:0 0 20px 80px; font-family:"NotoSans-Light"; font-size:16px; line-height:130%}
.section_membership .memGrade.gold {background:url('/images/common/ico_memChicken.png') 0 0 no-repeat; background-size:40px auto;}
.section_membership .memGrade.silver {background:url('/images/common/ico_memGrade_silver.png') 0 0 no-repeat; background-size:40px auto;}
.section_membership .memGrade.bronze {background:url('/images/common/ico_memGrade_bronze.png') 0 0 no-repeat; background-size:40px auto;}
.section_membership .memGrade strong {font-family:"NotoSans-Bold"; font-size:20px}
.section_membership .memGrade span {font-family:"NotoSans-Bold";}
.section_membership .memGrade.gold span {color:#ffa800;}
.section_membership .memGrade.silver span {color:#6d6d6d;}
.section_membership .memGrade.bronze span {color:#ab7239;}
.section_membership .memGrade .txt {color:#666; font-size:14px; font-family:'NotoSans-Light'; margin-top:7px}
.section_membership .memGrade .btn_memGrade {display:inline-block; position:absolute; top:-6px; right:0 !important}

.section_membership .myInfo-wrap {border-top:1px solid #eee; border-bottom:1px solid #eee;}
.section_membership .myInfo {display:flex;}
.section_membership .myInfo > li {position:relative; width:33.33333%; padding:20px 0 15px 0; text-align:center; cursor:pointer}
.section_membership .myInfo > li:before {content:""; display:block; height:40px;}
.section_membership .myInfo .item_cupon:before {background:url('/images/mypage/ico_myInfo_coupon.png') center center no-repeat; background-size: auto 38px}
.section_membership .myInfo .item_point:before {background:url('/images/mypage/ico_myInfo_point.png') center center no-repeat; background-size: auto 38px}
.section_membership .myInfo .item_card:before {background:url('/images/mypage/ico_myInfo_card.png') center center no-repeat; background-size: auto 38px}
.section_membership .myInfo .count {margin-top:15px; font-size:17px; color:#555;}
.section_membership .myInfo .count span {font-size:20px; font-family:"Roboto-Bold"; color:#ffa800;}
.section_membership .myInfo .count img {width:17px; margin-bottom:5px; margin-left:5px}

.btn-myinfo {text-align:center; margin-top:20px}
.btn-myinfo .ddack {font-family:"NotoSans-Bold"; font-weight:bold; font-size:20px; padding-right:5px; color:#000}
.btn-myinfo a.btn {width:200px;border-radius:7px; border:1px solid #000; color:#000}

/* 최근주문 */
.section_recentOrder {padding:40px 0 0;}
.orderList > div:nth-child(1) {margin-top:0}
.reorder_wrap_list ~ .reorder_wrap_list {margin-top:20px}
.reorder_wrap_list ul {position:relative; border:1px solid #c6c6c6; padding:17px; border-radius:10px}
.reorder_wrap_list li {padding-bottom:5px}
.reorder_wrap_list .reorder_time {color:#888; letter-spacing:0; margin-bottom:3px}
.reorder_wrap_list .reorder_type {font-size:15px; }
.reorder_wrap_list .reorder_type img {width:25px; margin-right:3px}
.reorder_shop {}
.reorder_title {font-size:18px; font-family:'NotoSans-Medium';}
.reorder_pay {font-size:18px; padding:10px 0;text-align:right}
.reorder_pay span {display:inline-block; font-family:'Roboto-Bold';}
.reorder_wrap_list .reorder_view_state_wrap {position:absolute; right:17px; top:17px}
.reorder_wrap_list .btn-wrap {margin-top:5px}
.reorder_wrap_list .btn-wrap .btn img {width:20px; margin-bottom:3px}

.reorder_option {display:inline-block; border-radius:60px; background:#eb0000; height:28px; line-height:28px; padding:0 15px; color:#fff; font-size:15px;}
.reorder_con {border-top:1px solid #c9c9c9; padding-top:10px;}
.reorder_con_delivery {margin-right:20px}
.reorder_con_delivery img {width:25px;}
.reorder_con_cancel {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#cdcdcd;} /* 취소완료 */
.reorder_con_order {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#ffbe4a;} /* 주문접수 */
.reorder_con_shop {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#7fd9fd;} /* 매장전달 */
.reorder_con_end {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#b3ea65;} /* 주문완료 */
.reorder_con_request {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#f7a1ab;} /* 취소요청 */
.reorder_btn {text-align:center; margin-top:5px}
.reorder_btn .btn-sm {width:49%; display:inline-block; vertical-align:middle}
.reorder_btn_more {margin-top:10px}

/* 고객센터 */
.section_mypage_callCenter {margin-top:40px}
.section_mypage_callCenter .callCenter {border:1px solid #bbb; padding:20px; background:#f7f7f7}
.section_mypage_callCenter .callCenter dt {font-size:19px}
.section_mypage_callCenter .callCenter dd {margin:10px 0}
.section_mypage_callCenter .callCenter dd strong {font-size:25px; font-family:'NanumSquareB'}
.section_mypage_callCenter .callCenter dd p {font-size:14px; font-family:'NotoSans-Light'; color:#666; margin:10px 0}








/********** 주문내역 **********/










/********** 주소지 관리 **********/
.section_shippingAdd {padding:0; margin-bottom:20px;}
.section_shippingAdd .txt {margin-top:20px; color:#666; font-size:15px; font-family:'NotoSans-Light'; text-align:left}

/* 등록된 주소 */
.section_addManage .btn_wrap {text-align:center}
.section_addManage .btn_wrap .btn {width:200px}
.section_addManage .section-header {margin-top:30px}
.addManage_wrap {border-top:1px solid #000;}
.addManage {padding:20px 0; border-bottom:1px solid #ddd;}
.addManage .name {color:#111; font-size:16px; text-align:left; margin-bottom:5px}
.addManage .info {margin-top:0; font-size:18px; font-family:'NotoSans-Light';}
.addManage .info li ~ li {margin-top:10px;}
.addManage .btn-wrap {margin-top:15px ;}
.addManage .btn-right .btn {width:80px; margin-left:5px; color:#555;}


/*
.orderList-wrap {padding-top:13px;}
.orderList .item {margin-top:20px; padding:15px; background-color:#f7f7f7;}
.orderList .item:first-child {margin-top:0;}
.orderList .item-order {position:relative; display:block; width:100%; padding:0px;}
.orderList .item-order .item-header {display:block; overflow:hidden;}
.orderList .item-order .item-header .branch {float:left;}
.orderList .item-order .item-header .orderDate {float:right; margin-top:5px; font-family:"Roboto-Regular",'NotoSans-Regular'; font-size:15px;}
.orderList .item-order .item-header .orderDate strong {display:inline-block; vertical-align:middle; font-weight:normal !important;}
.orderList .item-order .item-header .orderDate em {display:inline-block; vertical-align:top; margin:1px 5px 0; color:#b7b7b7; font-family:'NotoSans-Light'; font-size:13px;}
.orderList .item-order .prod {display:block; margin-top:10px; font-family:"NotoSans-Medium"; font-size:20px;}
.orderList .item-order .prod em {font-size:15px; font-family:'NotoSans-Light';}
.orderList .item-order .price {margin-top:10px; font-family:"NotoSans-Regular"; font-size:17px;}
.orderList .item-order .price span {font-family:"Roboto-Regular"; font-size:23px;}

.orderList .btn-wrap {display:table; width:100%; border-top:1px solid #c6c6c6; margin-top:15px; padding-top:0; table-layout:auto;}
.orderList .btn-wrap .in-sec:after {display:block; clear:both; content:"";}
.orderList .btn-wrap li {float:left; font-size:30px; font-family:'NotoSans-Light'; color:#222; vertical-align:middle;}
.orderList .btn-wrap li + li {margin-left:25px;}
.orderList .btn-wrap li span,
.orderList .btn-wrap li img {display:inline-block; vertical-align:middle; height:20px}
.orderList .btn-wrap .btn_1 {text-align:left;}
.orderList .btn-wrap .btn_3 {text-align:right;}
.orderList .btn-wrap .btn_3 {position:relative; float:right; top:-4px;}

.orderList .item-order .state {position:absolute; bottom:-50px; right:0; width:80px; height:80px; border-radius:50%; border:2px solid #c6c6c6; text-indent:-9999px;}
.orderList .item-order .state.del_step01 {background:url(/images/mypage/delivery_step01.gif) #fff center no-repeat; background-size:80%}
.orderList .item-order .state.del_step02 {background:url(/images/mypage/delivery_step02.gif) #fff center no-repeat; background-size:80%}
.orderList .item-order .state.del_step03 {background:url(/images/mypage/delivery_step03.gif) #fff center no-repeat; background-size:80%}
.orderList .item-order .state.del_step04 {background:url(/images/mypage/delivery_step04.gif) #fff center no-repeat; background-size:80%}
.orderList .item-order .state.take_step03 {background:url(/images/mypage/takeOut_step03.gif) #fff center no-repeat; background-size:80%}
.orderList .orderX {padding:30px 0; background-color:#f7f7f7; font-size:16px; text-align:center;}*/

/* 문의내역
.section_mypageInq {padding:0 }
.section_mypageInq .section-header {padding:0 4%}
.section_mypageInq .section-header .rig {right:4%}
 */

/* 고객센터 링크
.support li {padding:0 4%; border-bottom:1px solid #afafaf;}
.support li a {display:block;position:relative; padding:20px 0;font-size:18px; background:url('/images/common/ico_item_arrow.png') right center no-repeat; background-size:7px auto}
 */







/********* 주문내역 더보기 *********/

/* 주문내역 검색 */
.form_orderSel {padding:60px 40px 20px; text-align:right;}
.form_orderSel select {height:auto; padding:0 56px 0 0; border:none;}














/********* 회원정보 변경 *********/
/* 기본정보 */
.section_memEdit {margin-top:30px}
.section_memEdit .section-body {border-top:1px solid #000}
.section-body .basicInfo {overflow:hidden}
.section-body .basicInfo dl {display:table; width:100%}
.section-body .basicInfo dl dt {display:table-cell; min-width:90px; width:15%; height:50px;  padding-left:10px; border-bottom:1px solid #ddd; vertical-align:middle}
.section-body .basicInfo dl dd {display:table-cell; width:85%; height:50px; border-bottom:1px solid #ddd; vertical-align:middle; padding:5px 0}
.section-body .basicInfo dl dd span {display:inline-block; float:left; vertical-align:middle; height:35px; line-height:35px;}
.section-body .basicInfo dl dd button {float:right; vertical-align:middle; width:90px}
.section-body .basicInfo .btn-email {float:right; margin-top:5px; width:90px}

/* 정보수신동의*/
.section_memEdit .box-gray {border-top:1px solid #000}

@media (max-width:502px){
.section-body .basicInfo dl dd input {margin-bottom:5px}
}
@media (max-width:379px){
.section-body .basicInfo dl dd input:nth-child(1) {width:85% !important}
.section-body .basicInfo dl dd input:nth-child(2) {width:85% !important}
}





/********* popup : 회원탈퇴 *********/
.section-memEdit {padding:0 4%;}
.lp_memSecssion .headLine-img {margin-bottom:30px; text-align:center;}
.lp_memSecssion .headLine-img img {max-width:220px; text-align:center;}
.lp_memSecssion .headLine-txt {font-family:"NotoSans-Medium"; font-size:18px; line-height:130%; color:#333; text-align:center}
.section-reason h3 {padding:0 4%;}




/********* popup : 배달지 추가 *********/
.lp_addShipping {width:100%; padding:0 4%}










/********* 포인트 *********/
/* 사용가능 포인트 */
.point-display {overflow:hidden; border:1px solid #ededed; border-radius:8px; background:#f7f7f7; margin-top:30px}
.point-display .div-table {}
.point-display .tr .td {padding:20px 10px;  text-align:center; vertical-align:top;}
.point-display .td:first-child {border-right:1px solid #ededed;}
.point-display .td dl dt {color:#111; font-size:17px;}
.point-display .td dl dd {margin-top:10px; color:#111; font-size:25px; font-family:'Roboto-Regular'}
.point-display .td dl dd span {color:#e31937 ; font-family:'Roboto-Bold'; letter-spacing:0;}
.point-display .td p {margin-top:5px; color:#777; font-size:14px; letter-spacing:0; font-family:'Roboto-Light'}

/* 포인트 적립내역 */
.section_pointList {padding:0; margin:30px 0 0 0; min-height:150px}
.section_pointList .list {border-top:1px solid #464646;}
.section_pointList .list .box {padding:15px 0; border-bottom:1px solid #bcbcbc;}
.section_pointList .list .box .top {margin-bottom:10px;}
.section_pointList .list .box .top:after {display:block; clear:both; content:'';}
.section_pointList .list .box .top .lef {float:left;}
.section_pointList .list .box .top .rig {float:right; color:#333; font-size:20px; font-family:'Roboto-Medium';}
.section_pointList .list .box .date {margin-bottom:20px; color:#111; font-size:15px; font-family:'Roboto-Light';}
.section_pointList .list .box dl dt {color:#111; font-size:18px; font-family:'NotoSans-Light';}
.section_pointList .list .box dl dd {margin-top:7px; color:#666; font-size:15px; font-family:'Roboto-Light','NotoSans-Light';}





/********* 카드 *********/
.section_cardList {margin-top:30px; text-align:center}
.section_cardList .card_head {overflow:hidden; border:1px solid #ededed; border-radius:8px; background:#f7f7f7; padding:20px; font-size:17px; text-align:center; }
.section_cardList .card_head strong {color:#e31937; font-family:'Roboto-Bold'; font-size:20px;}
.section_cardList .cardList_wrap .box {text-align:center; border-bottom:1px solid #eee; padding:0 0 30px 0}
.section_cardList .cardList_wrap .box {margin-top:40px;}
.section_cardList .cardList_wrap .box .img {display:inline-block; position:relative; width:278px; height:171px;}
.section_cardList .cardList_wrap .box .img a img {display:inline-block; position:relative;}
.section_cardList .cardList_wrap .box .money {font-size:20px; font-family:'Roboto-Bold','NotoSans-Light'; margin-top:10px}
.section_cardList .blankBox_wrap  {background:#f7f7f7; padding:30px 0}
.section_cardList .blankBox  {display:inline-block; border:2px dashed #afafaf;border-radius:10px; width:278px; height:171px;cursor: pointer; border:1px solid #000}
.section_cardList .blankBox .blankBox_img {display:inline-block; margin-top:50px}
.section_cardList .blankBox .txt {display:inline-block;margin-top:15px; color:#333; font-size:17px; font-family:'NotoSans-Light';}




/********* 카드이용내역 *********/
.section_cardView {text-align:center; margin-top:30px}
.section_cardView img {width:278px; height:171px;}
.section_cardView .txt {margin-top:10px; color:#333; font-size:20px; font-family:'Roboto-Bold','NotoSans-Light';}
.section_cardUse {margin-top:30px}
.section_cardUse .section-header {padding:0; margin-bottom:0; border-bottom:1px solid #000;}
.section_cardUse .section-header h3 {margin-bottom:10px; }
.section_cardUse .box {padding:15px 0; border-bottom:1px solid #ddd}
.section_cardUse .box .top:after {display:block; clear:both; content:'';}
.section_cardUse .box .top .lef {float:left;}
.section_cardUse .box .top .rig {float:right; color:#333; font-size:20px; font-family:'Roboto-Bold','NotoSans-Light';}
.section_cardUse .box .prod {color:#000; font-size:18px; font-family:'NotoSans-Light'; margin-top:10px}
.section_cardUse .box .date {margin-top:7px; color:#666; font-size:15px; font-family:'Roboto-Regular';}
.section_cardUse .btn-wrap {margin-top:20px}




/********* popup : 카드등록 *********/
.lp_cardadd {}
.lp_cardadd .lp-wrap {position:relative; }
.lp_cardadd .lp-container {max-width:300px; width:90%; margin:0 auto}
.card_giftPop dl ~ dl {margin-top:20px;}
.card_giftPop dl dt {margin-bottom:10px; color:#111; font-size:21px;}
.card_giftPop dd span {display:block; margin-top:10px}
.card_giftPop textarea {padding:10px 15px; border:2px solid #dedede;}




/********* 딹멤버쉽 안내 *********/
.ddack {font-family:"NotoSans-Bold"; font-weight:bold;}
.section_ddackMem > div {border-bottom:1px dashed #ddd}
.section_ddackMem > div:last-child { border-bottom:0}
.ddack-memWrap {display:block; position:relative; padding:30px 0;}
.ddack-memWrap dl dt {display:inline-block; font-size:19px; line-height:130%; }
.ddack-memWrap dl dt img {width:50px}
.ddack-memWrap dl dt span {display:inline-block; vertical-align:bottom;}
.ddack-memWrap dl dt.bronze span{color:#966c4e;}
.ddack-memWrap dl dt.silver span {color:#555555}
.ddack-memWrap dl dt.gold span {color:#c78419;}
.ddack-memWrap dl dd {display:block; padding:20px 15px 0 15px; font-size:16px; line-height:130%; color:#000;}

.ddack-memWrap .validity {display:block; position:relative; margin-top:30px; padding:20px 0 ; border-top:1px solid #a29061; font-size:16px; color:#928051; text-align:center;}
.ddack-memWrap .validity img {width:20px; height:auto;}
.ddack-memWrap .validity_txt{display:block; font-size:15px; line-height:130%; color:#928051; text-align:center;}
/*
.ddack-memWrap .ddack-box {display:block; border:1px solid #dadada; background-color:#fbfbfb;}
.ddack-memWrap .ddack-box dl {padding:80px 30px;}
.ddack-memWrap .ddack-box dl dd {padding:0;}
.ddack-memWrap .ddack-box dl dt span {display:inline-block; vertical-align:bottom;}
.ddack-memWrap .ddack-box dl dt.navy {color:#15135f;}
.ddack-memWrap .ddack-box dl dd {padding-top:25px;}
*/





/*.section_membership .myInfo .item-info .link-go {display:inline-block;position:relative;margin-top:15px;padding:0 22px 6px 4px;border-bottom:1px solid #625a5a;font-size:24px;color:#625a5a;background:url('/images/common/ico_link_arrow.png') right 6px no-repeat;}*/

/*.ui-input-post {position:relative; width:100%; padding-right:271px;}
.ui-input-post input {width:100%;}
.ui-input-post .btn_post {position:absolute; top:0px; right:0px; width:259px;}*/




/********** FAQ 본문 **********/
.__tbl-list {width:100%; table-layout:fixed; border-top:1px solid #000;}
.__tbl-list tr > * {text-align:center; padding:7px; border-bottom:1px solid #bdbfc6;}
.__tbl-list tr th,
.__tbl-list tr td {color:#494949; font-size:15px; font-family:'NotoSans-Light';}
.__tbl-list tr .subject {text-align:left;}
.__tbl-list tr .subject a {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; max-width:85%; display:inline-block; vertical-align:middle;}
.__tbl-list tr .notice {color:#3f60bf; font-size:12px;}



/* 윈도우 팝업 공통 */
.winpop-wrap {padding-bottom:90px;}
.winpop-wrap .winpop-header {padding:100px 38px 50px 24px;}
.winpop-wrap .winpop-header .logo {width:148px; height:73px; margin:auto;}
.winpop-wrap .winpop-header .pop-tit {margin-top:23px; font-family:"NotoSans-Regular"; font-size:38px; color:#222; text-align:center; line-height:1.3;}
.winpop-wrap .winpop-footer {padding:0 40px;}

/* 로그인 팝업 */
.winpop-wrap.winpop-login {padding-bottom:0;}
.winpop-wrap.winpop-login .winpop-header {padding-top:150px;}
.winpop-login .winpop-content {padding:0 38px;}
.winpop-login .login-save {margin-top:13px; text-align:left;}
.winpop-login .login-save .ui-checkbox {width:auto;}
.winpop-login .winpop-footer {margin-top:92px; padding:60px 38px 0; background:#f7f7f7;}
.winpop-login .winpop-footer .tit-footer {width:100%; border-bottom:1px solid #b2b2b2; padding-bottom:46px; font-family:"NanumSquareOTFB"; font-size:32px; color:#625a5a; text-align:center; line-height:1.3;}

.winpop-login .login-etc:after {display:block; clear:both; content:"";}
.winpop-login .login-etc dl {float:left; display:table; width:50%; height:335px; text-align:center;}
.winpop-login .login-etc dl.find {border-right:1px solid #b2b2b2;}
.winpop-login .login-etc dl.find dt {padding-top:5px;}
.winpop-login .login-etc dl dt {height:96px; margin:40px 0 26px; font-size:28px; line-height:1.3;}
.winpop-login .login-etc dl dd {}
.winpop-login .login-etc dl.join dt em {display:block; margin-top:5px; font-size:24px; color:#666; line-height:1.3;}


/* 회원가입_01 팝업 */
.winpop-join .step-wrap ol {width:570px; margin:auto;}
.winpop-join .step-wrap ol:after {display:block; clear:both; content:"";}
.winpop-join .step-wrap ol li {position:relative; float:left; width:88px; margin-left:148px;}
.winpop-join .step-wrap ol li:first-child {margin-left:0;}
.winpop-join .step-wrap ol li:first-child:before {display:none;}
.winpop-join .step-wrap ol li:before {display:block; position:absolute; top:44px; left:-148px; width:148px; height:2px; background:#e7e7e7; content:"";}
.winpop-join .step-wrap ol li em {display:block; width:88px; height:88px; border-radius:50%; background:#e7e7e7; color:#b2b2b2; font-size:34px; text-align:center; line-height:88px;}
.winpop-join .step-wrap ol li span {display:inline-block; width:130px; margin:10px 0 0 -21px; font-size:24px; color:#888; text-align:center; line-height:1.3;}
.winpop-join .step-wrap ol li.current em {background:#e31937; font-family:"NotoSans-Bold"; color:#fff;}
.winpop-join .step-wrap ol li.current span {font-family:"NotoSans-Medium"; color:#e31937;}

.winpop-join .agree-wrap {margin-top:60px; padding:0 70px;}
.winpop-join .agree-wrap .ui-checkbox.all-chk {width:100%; color:#222;}
.winpop-join .agree-wrap .agree-box {width:100%; margin-top:64px;}
.winpop-join .agree-wrap .agree-box p + p {margin-top:35px;}
.winpop-join .agree-wrap .agree-box .ui-checkbox {width:70%; font-size:26px;}
.winpop-join .agree-wrap .agree-box p a {display:inline-block; float:right; font-size:26px; text-decoration:underline; color:#191919; line-height:40px;}
.winpop-join .agree-wrap .auth-explain {margin-top:95px; font-family:"NotoSans-Medium"; font-size:32px; text-align:center; color:#625a5a; line-height:1.3;}


/* 회원가입_02 팝업 */
.join-step02 .info-box {width:100%; height:268px; padding:45px 46px; border-top:1px solid #efefef; border-bottom:1px solid #efefef; background:#f7f7f7;}
.join-step02 .info-box dl dt {font-size:26px; color:#999;}
.join-step02 .info-box dl dd {margin-top:11px; font-size:30px; color:#333;}
.join-step02 .info-input {padding:43px 40px;}
.join-step02 .info-input .input-required input + input {margin-top:15px;}
.join-step02 .info-input .input-select {margin-top:45px;}
.join-step02 .info-input .input-select h4 {margin-bottom:15px; font-family:"NotoSans-Regular"; font-size:30px; color:#625a5a; }
.join-step02 .info-input .input-select input {width:calc(100% - 271px); margin-right:6px;}

/* 기존회원 안내 팝업 */
.winpop-already .winpop-content {padding:0 40px;}
.winpop-already .id-explain {font-family:"NotoSans-Light"; font-size:26px; color:#666; text-align:center;}
.winpop-already .id-box {width:100%; height:82px; margin:22px 0 60px; border:1px solid #efefef; background:#f7f7f7;}
.winpop-already .id-box p {font-size:26px; color:#666; text-align:center; line-height:85px;}


/********** 딹멤버쉽 팝업**********/
/* 멤버쉽 */
#lp_member h1 span {font-family:"NotoSans-Bold"; font-weight:bold;}
#lp_member .ddack {font-family:"NotoSans-Bold"; font-weight:bold;}
#lp_member .section_ddackMem {padding:0 40px;}
#lp_member .ddack-memWrap {display:block; position:relative;}
#lp_member .ddack-memWrap dl dt {display:inline-block; font-size:38px; line-height:46px; }
#lp_member .ddack-memWrap dl dt span {display:inline-block; vertical-align:bottom;}
#lp_member .ddack-memWrap dl dt.red {color:#e51937;}
#lp_member .ddack-memWrap dl dt.sand {color:#a2968a}
#lp_member .ddack-memWrap dl dt.gold {color:#a29061;}
#lp_member .ddack-memWrap dl dd {display:block; padding:30px 25px 0 25px; font-size:28px; font-family:"NotoSans-Regular"; line-height:36px; color:#424242;}
#lp_member .ddack-memWrap dl dd .chk-b {display:inline-block; margin-bottom:10px; padding-bottom:4px; border-bottom:1px solid #3f3f3f; font-size:28px; line-height:36px; color:#000;}
#lp_member .ddack-memWrap .validity {display:block; position:relative; margin-top:57px; padding:20px 0 20px 40px; border-top:2px solid #a29061; font-size:28px; line-height:36px; color:#928051; text-align:center;}
#lp_member .ddack-memWrap .validity:before {content:''; display:block; position:absolute; top:50%; left:100px; width:31px; height:30px; margin-top:-12px; background:url('/images/mypage/ico_validity.png') left top no-repeat;}
#lp_member .ddack-memWrap .ddack-box {display:block; border:1px solid #dadada; background-color:#fbfbfb;}
#lp_member .ddack-memWrap .ddack-box dl {padding:80px 30px;}
#lp_member .ddack-memWrap .ddack-box dl dd {padding:0;}
#lp_member .ddack-memWrap .ddack-box dl dt span {display:inline-block; vertical-align:bottom;}
#lp_member .ddack-memWrap .ddack-box dl dt.navy {color:#15135f;}
#lp_member .ddack-memWrap .ddack-box dl dd {padding-top:25px;}
#lp_member .ddack-memWrap + .ddack-memWrap {padding-top:75px; background:url('/images/mypage/ddack_dotline.png') left top no-repeat;}

 
#lp_member .lp-wrap {position:relative;  height:80%; top:200px; /*left:50%;*/}
#lp_member .section_ddackMem{ padding:0}
#lp_member .lp-confirm .btn_lp_close {background-size:cover;    top: 15px; right: 15px;}
#lp_member .lp-wrapper.type2 .lp-confirm .lp-confirm-cont{ overflow-y:auto;}
#lp_member .lp-wrap .today {color:#fff;font-size:26px;margin-top:20px;}

/*딹멤버십 팝업 임시추가*/

#lp_member .section_ddackMem img {width:100%;}
/* 딹멤버십 팝업 수정추가 */
#lp_member .lp-confirm-cont {padding:0;}
#lp_member .lp-confirm-cont .lp-msg {margin:0;}















/********** 주문방법 선택:배달주문 포장주문 **********/
.selection_title {display:block; font-size:35px; font-weight:700; text-align:center; margin-top:50px}
.selection_title span {display:inline-block; padding-top:5px}
.selection_title img {width:50px; vertical-align:top}
.selection_text {display:block; font-size:20px; text-align:center; margin-top:40px}
.selection_btn {display:flex;  justify-content:space-between; margin-top:96px}
.selection_btn a {width:49%;}

@media (max-width:480px){
.selection_title {font-size:27px;}
.selection_title span {padding-top:5px}
.selection_title img {width:39px;}
.selection_text {font-size:16px; margin-top:29px}
.selection_btn {margin-top:70px}
}
@media (max-width:360px){
.selection_title {font-size:24px;}
.selection_title span {padding-top:5px}
.selection_title img {width:35px;}
.selection_text {font-size:14px; margin-top:25px}
.selection_btn {margin-top:63px}
}









/********** 최근주문내역 **********/
/*.reorder_time {background:#f5f5f5; font-size:15px;  font-family:'NanumSquareR'; padding:20px 3%}
.reorder_time span {display:inline-block;padding-right:10px; color:#444}
.reorder_view_option span {border-radius:60px; background:#eb0000; padding:4px 15px; color:#fff; font-size:16px;}
.reorder_view_delivery {color:#eb0000; padding-right:15px;}
.reorder_view_delivery img {width:17px;}
*/
/* 상단 주문정보 */
.reorder_view_top {display:table; width:100%; margin-top:30px; padding-bottom:5px}
.reorder_view_top > li {display:table-cell; vertical-align:middle;}
.reorder_view_top > li:nth-child(1) {text-align:left; padding:10px 0 0 0;}
.reorder_view_state_wrap {text-align:right;}/* 마이페이지, 최근주문에 공통 */
.reorder_view_type {display:inline-block; font-size:20px; font-family:'NotoSans-Regular'}
.reorder_view_type img {width:35px}
.reorder_view_state {margin-bottom:3px}
.reorder_view_state span  {display:inline-block; font-size:15px; border-radius:7px; padding:0 10px; height:25px; line-height:25px; background:#ffbe4a; font-family:'NotoSans-Light'}*/
.reorder_view_time {letter-spacing:0; font-size:14px;  font-family:'NotoSans-Light'}

/* 주문내역 */
.reorder_view_list {margin-top:25px; text-align:left;}
.reorder_view_list h4 {font-size:19px; border-bottom:1px solid #000; padding-bottom:6px; font-family:'NotoSans-Medium' !important}
.reorder_view_list > ul {display:table; width:100%; padding:10px 0; border-bottom:1px solid #d6d6d6;}
.reorder_view_list > ul > li {display:table-cell;}
.reorder_view_img {width:95px; height:95px}
.reorder_view_img img {width:100%; height:100%; border:1px solid #cbcbcb}
.reorder_view_info {padding:5px 0 0 15px; vertical-align:top}
.reorder_view_title {font-size:18px; line-height:100%; word-break:break-all}
.reorder_view_price {font-size:19px; color:#444444; margin-top:10px}
.reorder_view_price strong {font-family:'Roboto-Medium'; color:#444444}
.reorder_view_price span {font-size:15px; color:#444444}

/* 결제금액 */
.reorder_view_pay {background:#f5f5f5; width:100%;}
.reorder_view_payList {padding:15px;}
.reorder_view_payList li {display:block; width:100%; border:1px solid #f5f5f5; padding:3px 0}
.reorder_view_payList li,
.reorder_view_payList li span {color:#444; font-size:15px}
.reorder_view_payList li > span {float:right; font-family:'Roboto-Medium';}
.reorder_view_payList li > span > span {font-family:'NotoSans-Regular'}
.reorder_view_payTotal {display:table; padding:15px; border-top:1px dashed #bababa; width:100%}
.reorder_view_payTotal li {display:table-cell; font-size:19px}
.reorder_view_payTotal li:last-child {text-align:right}
.reorder_view_payTotal li span {font-family:'Roboto-Medium';}

/* 배달정보, 결제정보 */
.reorder_view_data {margin-top:25px; text-align:left;}
.reorder_view_data h4 {font-size:19px; border-bottom:1px solid #000; padding-bottom:6px; font-family:'NotoSans-Medium'}
.reorder_view_data h5 {font-size:15px; color:#555; padding-bottom:4px}
.reorder_view_data li {border-bottom:1px dashed #ddd; padding:10px 0;}
.reorder_view_data li span {font-size:16px}
.reorder_view_data li span.price {font-size:22px; color:#d0112b}
.reorder_view_shop {font-size:15px !important; color:#555; font-family:'Roboto-Regular';}
.reorder_view_shop span {font-size:18px; color:#d0112b; font-family:'NotoSans-Regular' !important}
.reorder_view_address span {display:block}
.reorder_view_phone {font-family:'Roboto-Regular';}
.reorder_view_btn {display:flex;justify-content:space-between; flex-wrap:wrap;margin-top:20px}
.reorder_view_btn a {width:49%; margin-bottom:5px}
.reorder_view_btn a img {width:20px; margin:0 3px 3px 0}





/********** 설정 **********/
.set_list {}
.set_list dt {font-size:18px; font-family:'NotoSans-Medium'; border-bottom:1px solid #bbb; padding:0 0 8px 20px; margin-top:30px}
.set_list dd {position:relative; height:50px; line-height:50px; padding:0 20px; border-bottom:1px solid #eee; font-family:'NotoSans-Light';}
.set_list dd a {display:block; width:100%; height:100%; line-height:50px; font-size:15px; font-family:'NotoSans-Light';}
.set_list dd:after {position:absolute; right:20px; top:0; content:''; width:13px; height:100%; background:url(/images/common/arrow_right.png) no-repeat left 50%; background-size:100%; z-index:9}
.set_list dd label {float:right; margin-top:10px; z-index:99}
.set_list dd .btn_logout {position:absolute; right:20px; top:8px; display:inline-block; background:#d0112b; color:#fff; height:32px; line-height:32px; padding:0 15px; font-size:15px; z-index:99; border-radius:7px}
.secession dt {font-size:18px; font-family:'NotoSans-Medium'; padding:0 0 8px 20px; margin-top:30px}
.secession dd {position:relative; font-size:15px; font-family:'NotoSans-Light'; border-bottom:1px solid #eee; height:50px; line-height:50px; padding:0 20px;}

/* 토글스위치 */
/* The switch - the box around the slider */
.switch {position:relative; display:inline-block; width:50px; height:28px; vertical-align:middle;}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switch_slider {position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#ccc; -webkit-transition:.4s; transition:.4s;}
.switch_slider:before {position:absolute; content:""; height:22px; width:22px; left:3px; bottom:3px; background-color:white; -webkit-transition:.4s; transition:.4s;}
input:checked + .switch_slider {background-color:#ffbe4a;}
input:focus + .switch_slider {box-shadow:0 0 1px #ffbe4a;}
input:checked + .switch_slider:before {-webkit-transform:translateX(22px); -ms-transform:translateX(22px); transform:translateX(22px);}

/* Rounded sliders */
.switch_slider.round {border-radius:34px;}
.switch_slider.round:before {border-radius:50%}
p {margin:0px; font-size:15px; font-weight:bold;}





/********** 마이쿠폰 **********/
.coupon_list_wrap {position:relative; margin-top:30px;}
.coupon_list {max-width:332px; width:90%; margin:0 auto; margin-top:20px;}
.coupon_list ul {position:relative; display:block; width:100%; min-height:184px;padding:25px; border:2px solid #d7d7d7; border-radius:15px}
.coupon_list ul:after {content:''; position:absolute; top:0; right:-2px; width:22px; height:100%; background:url(/images/mypage/coupon_bg.png) no-repeat right 50%; background-size:22px auto;}
.coupon_list ul li:first-child {font-size:17px; font-family:'NotoSans-Medium'; word-break:break-all}
.coupon_list ul li {font-size:14px; font-family:'Roboto-Regular','NotoSans-Light'; display:block; letter-spacing:0; padding-top:10px; }
.coupon_list ul li:nth-child(3) {padding-top:5px; }
.coupon_list ul li:nth-child(4) {padding-top:15px; }
.coupon_list_delete {position:absolute; display:inline-block; right:10px; top:10px}
.coupon_list_delete a {display:inline-block; height:21px; line-height:21px; width:51px; text-align:center; color:#fff; font-size:12px; background:#d0112b; border-radius:60px}
.coupon_list_delete a img {width:12px; margin-bottom:2px}
.coupon_list .btn_wrap {position:relative; display:block; margin-top:5px}
.coupon_list .btn_wrap a {width:100%}

/* 쿠폰 없을때 */
.coupon_empty {padding:100px 0 55px; text-align:center}
.coupon_empty p {background:url('/images/mypage/couponEmpty.png') no-repeat center top ; background-size:84px; text-align:center; font-size:23px; padding-top:80px;}




/********** 쿠폰등록**********/
.eCoupon_wrap {max-width:300px; width:90%; margin:0 auto; margin-top:40px}
.eCoupon_wrap h3 {font-size:23px; text-align:center; margin-bottom:40px}
.eCoupon_wrap .btn {width:100%}
.eCoupon_wrap p {margin-top:30px; font-family:'NotoSans-Light'; color:#555}
.eCoupon_wrap p strong {display:block; margin-bottom:5px; font-size:17px;  color:#000}
.eCoupon_wrap p strong span {display:inline-block; font-family:'Roboto-Medium';}





/********* 쿠폰 *********/
/* 쿠폰 리스트 */
.section_couponUseOk {margin-top:30px;}
.section_couponUseOk .coupon_head {overflow:hidden; border:1px solid #ededed; border-radius:8px; background:#f7f7f7; padding:20px; font-size:17px; text-align:center; }
.section_couponUseOk .coupon_head strong {color:#e31937; font-family:'Roboto-Bold'; font-size:20px;}
.couponUseOk_wrap {max-width:332px; width:100%; margin:0 auto}
.couponUseOk {margin-top:10px;}

.couponUseOk .coupon {position:relative; display:inline-block; margin:0 auto; width:100%; height:auto; text-align:left; padding:25px 20px; border:2px solid #d7d7d7; border-radius:15px}
.couponUseOk .coupon:after {content:''; position:absolute; top:0; right:-2px; width:22px; height:100%; background:url(/images/mypage/coupon_bg.png) no-repeat right 50%; background-size:22px auto;}
.couponUseOk .coupon .tit {overflow:hidden}
.couponUseOk .coupon .tit > li {width:50%}
.couponUseOk .coupon .tit .device {float:left; font-size:17px; color:#111;}
.couponUseOk .coupon .tit .day  {float:right; text-align:right;}
.couponUseOk .coupon .tit .day span {color:#111; font-size:17px; font-family:'Roboto-Regular'; border:1px solid #bbb; display:inline-block; height:25px; line-height:25px; padding:0 10px; border-radius:4px}


.couponUseOk .coupon .info {padding:10px 0;}
.couponUseOk .coupon .info:before,
.couponUseOk .coupon .info dt {font-size:19px;}
.couponUseOk .coupon .info dd {margin-top:15px; font-size:15px; font-family:'Roboto-Regular','NotoSans-Light'; line-height:130%; letter-spacing:0;}
.couponUseOk .txt {padding:0;}
.couponUseOk .txt li {position:relative; color:#666; font-size:13px; font-family:'NotoSans-Light'; line-height:130%; padding-left:8px; margin:4px 0}
.couponUseOk .txt li:before {content:'-'; position:absolute; left:0; top:0;}

.couponUseOk .txt2 {padding:0; color:#666; font-size:13px; font-family:'NotoSans-Light'; line-height:130%; margin:4px 0}
.couponUseOk .txt2 * {padding:0; color:#666; font-size:13px; font-family:'NotoSans-Light'; line-height:130%; margin:4px 0}





/********* 쿠폰주문 *********/
.lp_eCoupon .lp-wrap {position:relative}
.section_coupon {max-width:300px; width:90%; margin:0 auto;}
.coupon_head h3 {font-size:23px; text-align:center; margin-bottom:40px}
.section_coupon > p {margin-top:30px; font-family:"NotoSans-Light"; color:#555}
.section_coupon > p strong {display:block;margin-bottom:5px; font-size:17px; color:#000}

/********* UI고도화 *********/
/********** Button_icon **********/
.btn > span.ico-only {font-size:0px;}
.btn > span.ico-only:before {font-size:14px;}

.h-btn_logout {background-color:#c70a2f; min-width:80%; vertical-align:middle; color:#fff; font-size:15px; font-weight:700; height:40px; border-radius:38px}
.btn_mypage {width:26px; height:26px; background:url('/images/common_new/btn_mypage.png') no-repeat 0 0; background-size:26px 26px; }

.footer_btn {background-color:#fff; text-align:center; padding-bottom:60px; }

/********** �˻� **********/
.topFixBanner.ty2 {border-bottom:2px #c9c9c9 solid; }

/********** ���� ����Ʈ **********/
.sub_wrap {padding-top:6px; }
.sub_list {position: absolute; top: 470px; left: 50%; background-color:#fff; }
.none_list {position: relative; top: -50%;  left: -50%; }

/********** ���������� **********/
/*.mypage_area {position:relative; background-color:#c70a2f; text-align:center; margin-top:64px;width:100%; padding:35px 20px 55px 20px; }*/
.mypage_area {position:relative; background-color:#c70a2f; text-align:center; width:100%; padding:35px 20px 55px 20px; }
.mypage_top {position:relative;}
.mypage_top li:nth-child(1) {width:100%; height:36px; background:url('/images/common_new/icon_welcome.png') no-repeat center 0; background-size:125px 36px; text-indent:-9999px;}
.mypage_top li:nth-child(2) {position:absolute; top:0; right:10px; }

.mypage_name {}
.mypage_name li {color:#fff; }
.mypage_name li:nth-child(1) {padding-top:58px; font-size:20px; }
.mypage_name li:nth-child(2) {padding-top:80px; font-size:16px; color:#edb6c2; }
.mypage_name li .name {font-size:32px; font-weight:700;}

.mypage_info {height:45px; color:#fff; margin-top:40px; text-align:right; padding-right:10px;}
.ico-info01 {display:inline-block; font-size:18px; height:23px; background:url('/images/common_new/icon_info01.png') no-repeat 0 1px; background-size:18px 23px;  padding-left:25px;}

.mypage_box {background-color:#fff; border-radius:17px; }
.mypage_box > ul {display:flex; justify-content:space-around; padding:25px 10px; }
.mypage_box > ul > li { width:100%; cursor:pointer; }
.mypage_box > ul > li:nth-child(1), .mypage_box > ul > li:nth-child(2) {border-right:2px #bababa solid; }
.mypage_box > ul > li > div {color:#3d3d3d; font-size:18px; padding-top:60px; font-weight:500; height:85px;}
.ico-point {background:url('/images/common_new/icon_point.png') no-repeat center 5px; background-size:53px 45px;}
.ico-cupon {background:url('/images/common_new/icon_cupon.png') no-repeat center 10px; background-size:60px 35px;}
.icon_gift {background:url('/images/common_new/icon_gift.png') no-repeat center 10px; background-size:60px 38px;}
.mypage_box > ul > li > p {font-size:16px; font-weight:700; color:#3d3d3d; padding-top:15px; }
.mypage_box > ul > li > p > span {color:#cb0037; font-size:25px; padding-right:5px; }

.mypage_list_area {background-color:#fff; padding:30px 20px 0 20px; }
.mypage_list {margin: 30px 0 15px 0;}
.mypage_list li {border-bottom:2px #bababa solid; padding:0 24px; color:#3d3d3d; height:30px; line-height:78px; font-size:23px; font-weight:600; background:url('/images/common_new/btn_arrow01.png') no-repeat 98% center; background-size:8px 13px;}
.mypage_list li a {display:block; }

.mypage_callCenter {background-color:#fff; padding:110px 20px; }
.mypage_callCenter > ul {text-align:center; color:#505050}
.mypage_callCenter > ul > li {font-size:13px}
.mypage_callCenter > ul > li > dl {display:inline-block; height:37px; }
.mypage_callCenter > ul > li > dl > dt, .mypage_callCenter > ul > li > dl > dd {float:left;}
.mypage_callCenter > ul > li > dl > dt {min-width:110px; line-height:30px; background-color:#505050; border-radius:15px; font-size:15px; font-weight:600; color:#fff; margin-right:10px;}
.mypage_callCenter > ul > li > dl > dd {font-size:25px; font-weight:700; margin-top:-3px; }

.h-ddack {font-family:"NotoSans-Bold"; font-weight:bold; font-size: 18px;}






