@charset "utf-8";
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
 @font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
	font-family:'Spoqa Han Sans Regular';
	src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.eot);
	src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */
         url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.woff) format('woff'), /* 모던 브라우저 */
         url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.ttf) format('truetype');
}
@font-face {
	font-family:'Spoqa Han Sans Bold';
	src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.eot);
	src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */
         url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.woff) format('woff'), /* 모던 브라우저 */
         url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.ttf) format('truetype');
}

*, *:before, *:after {
	margin:0px;
	padding:0px;
	box-sizing:inherit;
  	-webkit-box-sizing:inherit;
  	-moz-box-sizing:inherit;
	-o-box-sizing:inherit;
}

html {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}

body {
	min-width:320px;
	scrollbar-3dlight-color:#b4b4b4;
	scrollbar-arrow-color:#333333;
	scrollbar-base-color:#eeeeee;
	scrollbar-darkshadow-color:#efefef;
	scrollbar-face-color:#efefef;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#b4b4b4;
	font-family:'Spoqa Han Sans Regular', 'Apple SD Gothic Neo', 'sans-serif';
	vertical-align:baseline;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	overflow-x:hidden;
}

address, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section {display:block\9; margin:0\9; padding:0\9;}
figcaption {display:block; width:0; height:0; position:absolute; top:-9999px; font-size:0; text-indent:-9999px;}
hr, caption {display:none;}
h1, h2, h3, h4, h5, h6 ,h7 {font-weight:normal;}
img {border:none; vertical-align:middle; -ms-interpolation-mode:bicubic;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {
	width:100%;
	border:0px;
	border-spacing:0px;
	border-collapse:collapse;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing: border-box;
}
th, td {border:0px; word-break:break-all; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
th {font-weight:normal;}
fieldset {width:100%; border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
button, a, select, input, label {vertical-align:middle;}
button {overflow:visible; cursor:pointer; border:0px; background:none;font-family:'Spoqa Han Sans Regular', 'Apple SD Gothic Neo', 'sans-serif';}
button::-moz-focus-inner {padding:0px;}
select, input, textarea {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; font-family:'Spoqa Han Sans Regular', 'Apple SD Gothic Neo', 'sans-serif';}
textarea {appearance:none; -webkit-appearance:none; 	-moz-appearance:none; -o-appearance:none;	 -webkit-appearance: none; -webkit-border-radius:0;}

a {color:#666666; text-decoration:none;}
a:active, visited, link {color:#666666;}
a:hover {color:#333333;}

.allergy_pop table.line_t {border-top:1px solid #e0dedd;}
.allergy_pop table th {padding:8px 5px; background:#56514f; font-size:19px; color:#fff; font-weight:normal; line-height:21px;}
.allergy_pop table td {position:relative; padding:9px 5px; border:1px solid #e0dedd; font-size:18px; color:#413e3d; line-height:21px; text-align:center;}
.allergy_pop table td span.normal {display:inline-block; height:15px; margin:0 0 0 5px; padding:0 0 0 5px; font-size:13px; color:#898483; line-height:15px; border-left:1px solid #adaaa9;}
.allergy_pop table td span.normal.line_ln {position:absolute; right:0px; top:14px; margin:0; padding:0; border-left:none;}
.allergy_pop table td span.tel_ico{display:inline-block;padding-left:18px;color:#ed1c24;background:url('../images/common/tel_icon.png') left center no-repeat;background-size:10px 10px}
.allergy_pop table td.line_rn {border-right:none;}
.allergy_pop table td.line_ln {border-left:none;}
.allergy_pop_wrap .txt_etc{margin-top:30px;font-size:12px}

/* Layer Popup */
.lp_modal {display:none;}
.lp_wrap {position:relative; min-width:300px; max-width:100%; padding-bottom:30px; border:none; border-radius:0;}

.lp_wrap.big {width:900px;}
.lp_wrap.big .lp_pw_wrap {padding:24px 0 20px 0}
.lp_wrap.big .lp_pw_wrap h2.h2_tit2 {margin:0 30px 24px 30px;}
@media all and (max-width:740px) {
	.lp_wrap.big .lp_pw_wrap {padding:18px 0 30px 0;}
	.lp_wrap.big .lp_pw_wrap h2.h2_tit2 {margin:0 0 19px 0; padding:0 0 14px 0; font-size:20px;}
	.lp_wrap.big .lp_pw_wrap .lp_thumb_body {padding:0 12px 0 12px; width:100%;}
	.lp_wrap.big a.btn_lp_close2{top:19px;right:12px;width:14px;height:14px}
}

.wh_sub_body .lp_thumb_body {
    padding: 0 30px 20px 30px;
}

/* 비밀번화 확인 popup */
.wh_sub_body .lp_pw {
    padding: 15px;
    background: #e8bb42;
    border-radius: 15px;
}

.wh_sub_body .lp_pw.w {
    overflow-y: auto;
    padding: 0;
    background: #fff;
    margin: auto;
}

.wh_sub_body .lp_pw_wrap h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #000;
}

.wh_sub_body .lp_pw_wrap h2.h2_tit2 {
    margin: 20px 30px 24px 30px;
    padding: 0 0 20px 0;
    font-size: 20px;
    color: #76655d;
    border-bottom: 2px solid #e0e0e0;
}