@charset "utf-8";

.h-wrapper {
  background-color:#e4e4e4; 
  /* height:100%; */
}

/********* Header *********/
.h-header {display:block; position:fixed; top:0px; z-index:300; width:100%; height:40px; background-color:#c70a2f; }
.h-header h1 {text-align:center;}
.h-header h1 a{display:inline-block; position:relative; top:7px; width:126px; height:30px; background:url('../../images_202102/common/btn_header_logo.png') no-repeat center center; background-size:70px 30px; text-indent:-9999px; }
.h-btn-header-nav {position:absolute; top:11px; left:20px;}
.h-btn-header-nav a {display:inline-block; width:35px; height:20px; background:url('../../images_202102/common/btn_header_nav.png') no-repeat center center; background-size:70% 70%; text-indent:-9999px;}

.h-subheader {display:block; position:fixed; top:0px; z-index:300; width:100%; height:64px; background-color:#fff; }
.h-subheader h2 {text-align:center; font-size:28px; font-weight:700; font-family:NotoSans-Medium; padding-top:12px; color:#3d3d3d; }
.h-btn-header-bra {display:inline-block; position:absolute; top:16px; right:20px;}
.h-btn_header_back {width:42px; height:32px; background:url('../../images_202102/common/btn_header_back.png') no-repeat 0 0; background-size:42px 32px; }
.h-btn_header_cart {position:relative; width:45px; height:38px; background:url('../../images_202102/common/btn_header_cart.png') no-repeat center center; background-size:45px 38px; padding:0;}
.h-btn_header_cart .count {display:none; position:absolute; top:-6px; left:5px; border-radius:100%; background:#f20000; width:22px; height:22px; line-height:22px; color:#fff; font-family:"Roboto-Bold"; font-size:17px}
.h-btn_header_home {width:41px; height:36px; background:url('/images_202102/common/btn_header_home.png') no-repeat center center; background-size:100% 100%;}


/********* Container *********/
.h-container {display:block; position:relative; min-height:100%; padding:0 0 136px 0;}
.h-container.menuView_container {padding:50px}
.h-content {display:block; position:relative;}


/********* Footer *********/
#h-footer {width:100%; position:fixed; left:0; bottom:0; z-index:10; background:#fff; }
.h-footer_icon {display:flex; align-items: center; height:80px; width:100%; }
.h-footer_icon li {width:20%; color:#5e5e5e; height:65px; font-weight:500; padding-bottom:28px; border-right:1px #d9d9d9 solid; }
.h-footer_icon li:last-child {border-right:0}
.h-footer_icon li a {display:block; width:100%; font-size:16px; text-align:center; color:#464646; padding-top:45px; }
.h-footer_icon li a.h-footer_icon_menu {background:url('../../images_202102/common/footer_img01.png') no-repeat center 6px; background-size:37px 34px}
.h-footer_icon li a.h-footer_icon_shop {background:url('../../images_202102/common/footer_img02.png') no-repeat center 0; background-size:32px 31px}
.h-footer_icon li a.h-footer_icon_event {background:url('../../images_202102/common/footer_img03.png') no-repeat center 6px; background-size:31px 29px}
.h-footer_icon li a.h-footer_icon_brand {background:url('../../images_202102/common/footer_img04.png') no-repeat center 2px; background-size:38px 36px}
.h-footer_icon li a.h-btn_header_menu {background:url('../../images_202102/common/footer_img05.png') no-repeat center 6px; background-size:8px 35px}