@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : content.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/

/***** Common *****/

/* Layer Popup */
.lp-wrapper {display:none; position:fixed; top:0px; left:0px; z-index:1000; width:100%; height:100%; background-color:#fff;}
.lp-wrapper .lp-header {position:absolute; top:0px; left:0px; z-index:10; width:100%; height:102px; padding:0 40px; background-color:#fff;}
.lp-wrapper .lp-header h2 {border-bottom:2px solid #dcdcdc; font-family:"NotoSans-Medium"; font-size:36px; line-height:100px; color:#111; text-align:center;}
.lp-wrapper .lp-container {position:relative; height:100%; padding-top:102px;}
.lp-wrapper .lp-content {position:relative; height:100%; padding:40px 0; overflow-y:auto;}
.lp-wrapper .btn_lp_close {
	position:absolute;
	top:29px;
	right:40px;
	z-index:20;
	width:45px;
	height:44px;
	font-size:0px;
	line-height:0px;
	background:url('/images/common/btn_lp_close.png') center center no-repeat;
}

/* Layer Popup - 알림창 */
.lp-wrapper.type2 {display:none; position:fixed; top:0px; left:0px; z-index:1100; width:100%; height:100%; background-color:rgba(0,0,0,0.8); vertical-align:middle;}
.lp-wrapper.type2.on {display:table; table-layout:fixed; text-align:center;}
.lp-wrapper.type2 .lp-wrap {display:table-cell; width:100%; padding:40px 60px; vertical-align:middle; }
.lp-wrapper.type2 .lp-con {display:inline-block; position:relative; width:940px; background-color:#fff; text-align:left;}
.lp-wrapper.type2 .lp-header {margin:0 30px; background-color:#fff;}
.lp-wrapper.type2 .lp-header h2 {border-bottom:2px solid #111; font-family:"NanumSquareOTFR"; font-size:30px; color:#111; line-height:70px;}
.lp-wrapper.type2 .lp-container {position:relative; overflow-y:auto; padding:0 30px 77px;}
.lp-wrapper.type2 .lp-content {position:relative;}
.lp-wrapper.type2 .btn_lp_close {
	position:absolute;
	top:23px;
	right:30px;
	z-index:20;
	width:45px;
	height:45px;
	font-size:0px;
	line-height:0px;
	background:url('/images/common/btn_lp_close_gray.png') center center no-repeat;
}

.lp-wrapper.type2 .lp-confirm {display:inline-block; position:relative; background-color:#fff;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont {padding:125px 85px 0;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type3 {padding:125px 35px 0;}

.lp-wrapper.type2 .lp-confirm .lp-msg {position:relative; margin:0 0 80px; font-family:'NotoSans-Regular'; font-size:38px; line-height:1.4; color:#555; text-align:center;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type2 .lp-msg{margin-bottom:46px;}
.lp-wrapper.type2 .lp-confirm .lp-confirm-cont.type3 .lp-msg{margin-bottom:46px;}
.lp-wrapper.type2 .lp-confirm .has-ico {padding:130px 0 0;}
.lp-wrapper.type2 .lp-confirm .ico-cart {background:url('/images/common/ico_cart_msg.png') no-repeat 50% 0;}
.lp-wrapper.type2 .lp-confirm .lp-alarm {font-family:'NotoSans-Regular'; padding:30px 35px; line-height:1.4; color:#555; background-color:#f7f7f7; text-align:left;}
.lp-wrapper.type2 .lp-confirm .lp-alarm .ui-checkbox {position:relative; width:100%; padding-left:50px; font-size:38px;}
.lp-wrapper.type2 .lp-confirm .lp-alarm .ui-checkbox input+span{position:absolute; left:0; top:2px;}
.lp-wrapper.type2 .lp-confirm .btn-wrap {border-top:3px solid #ccc;}


/* Section */
.section-wrap {display:block; position:relative; margin-bottom:28px; border-bottom:2px solid #e5e5e5; background-color:#fff;}
.section {position:relative; background-color:#fff;}
.section h3 {padding-bottom:27px; font-family:"NotoSans-Medium"; font-size:36px; color:#111;}
.section-header {position:relative; padding:0 40px;}
.section-header.section-header-line h3 {margin-bottom:35px; border-bottom:2px solid #464646;}
.section-header .rig {position:absolute; right:40px; bottom:27px;}
.section-header .more {color:#111; font-size:24px; padding-right:20px; background:url(/images/common/ico_btn_arr.png) no-repeat 100% 50%;}
.inner {position:relative; padding-left:40px; padding-right:40px;}

.alert span {font-size:16px;color:#888;display:block;margin-top:5px;}
.lp_cardadd .btn-wrap.two-up .btn:last-child {float:none;}
.regForm {margin-top:45px;}
.regForm dt,
.regForm dd {font-family:"NotoSans-Light"; font-size:30px; color:#333;}
.regForm dt {margin-bottom:15px; font-size:26px;}

.box-gray {padding:30px 40px; border-top:2px solid #ededed; border-bottom:2px solid #ededed; background-color:#f7f7f7;}
.box-gray .regForm:first-child {margin-top:0px;}

.btn-wrap .explain {margin-top:26px; font-family:"NotoSans-Light"; font-size:28px; color:#666; text-align:left;}

.headLine {position:relative; margin-bottom:35px; padding-bottom:41px;}
.headLine:after {
	content:"";
	display:block;
	position:absolute;
	bottom:0px;
	left:50%;
	width:100px;
	height:4px;
	margin-left:-50px;
	background-color:#000;
}

/***** My Page *****/

/* Member Ship */
.section_membership {margin-bottom:0px; padding-top:40px;}
.section_membership .memGrade {min-height:60px; margin-bottom:55px; padding-left:110px; font-family:"NotoSans-Light"; font-size:34px; line-height:48px;}
.section_membership .memGrade.gold {background:url('/images/common/ico_ddack.png') 0 0 no-repeat; background-size:85px 97px;}
.section_membership .memGrade.silver {background:url('/images/common/ico_memGrade_silver.png') 0 0 no-repeat; background-size:60px;}
.section_membership .memGrade.bronze {background:url('/images/common/ico_memGrade_bronze.png') 0 0 no-repeat; background-size:60px;}
.section_membership .memGrade strong {font-family:"NotoSans-Bold";}
.section_membership .memGrade span {font-family:"NotoSans-Bold";}
.section_membership .memGrade.gold span {color:#ffa800;}
.section_membership .memGrade.silver span {color:#6d6d6d;}
.section_membership .memGrade.bronze span {color:#ab7239;}
.section_membership .memGrade .txt {color:#666; font-size:24px;}
.section_membership .ckcamp {margin:40px -40px 0;}
.section_membership .ckcamp a {display:block; height:64px; padding-left:130px; background:#ffe5b2; color:#382a2a; font-size:24px; line-height:64px;}
.section_membership .ckcamp a span {display:inline-block; position:relative; padding-right:28px; background:url(/images/mypage/ico_ckarr.gif) no-repeat 100% 50%;}
.section_membership .ckcamp a span:before {display:block; position:absolute; right:-210px; bottom:0; width:129px; height:106px; background:url(/images/mypage/ico_ckcamp.png) no-repeat; content:'';}

.section_membership .myInfo-wrap {margin-top:66px; border:1px solid #eee; background-color:#f7f7f7;}
.section_membership .myInfo:after {display:block; content:""; clear:both;}
.section_membership .myInfo > li {position:relative; float:left; width:33.33333%; height:264px; padding-top:50px; border:1px solid #eee; text-align:center;}
.section_membership .myInfo > li.lg {height:313px;}

.section_membership .myInfo .item-info:before {content:""; display:block; height:56px;}
.section_membership .myInfo .item_inquiry:before {background:url('/images/mypage/ico_myInfo_inquiry.png') center center no-repeat;}
.section_membership .myInfo .item_prodInquiry:before {background:url('/images/mypage/ico_myInfo_prodInquiry.png') center center no-repeat;}
.section_membership .myInfo .item_cupon:before {background:url('/images/mypage/ico_myInfo_coupon.png') center center no-repeat;}
.section_membership .myInfo .item_point:before {background:url('/images/mypage/ico_myInfo_point.png') center center no-repeat;}
.section_membership .myInfo .item_card:before {background:url('/images/mypage/ico_myInfo_card.png') center center no-repeat;}

.section_membership .myInfo .item-info dt {margin-top:30px; font-size:26px; color:#111;}
.section_membership .myInfo .item-info .count {margin-top:15px; font-size:38px; color:#111;}
.section_membership .myInfo .item-info .count span {font-size:40px; font-family:"Roboto-Bold"; color:#ffa800;}
.section_membership .myInfo .item-info .link-go {
	display:inline-block;
	position:relative;
	margin-top:20px;
	padding:0 22px 6px 4px;
	border-bottom:1px solid #625a5a;
	font-size:24px;
	color:#625a5a;
	background:url('/images/common/ico_link_arrow.png') right 6px no-repeat;
}

/* Order List */
.section_recentOrder {padding:60px 0 108px;}
.orderList-wrap {padding-top:13px;}
.orderList .item {margin-top:20px;}
.orderList .item:first-child {margin-top:0;}
.orderList .item-order {display:block; width:100%; height:250px; padding:42px 56px; color:#111; background-color:#f7f7f7; transition:all 0.1s ease;}
.orderList .item-order .item-header {overflow:hidden; font-size:28px; color:#555;}
/* .orderList .item-order:focus {color:#fff; background-color:#ffa800;}
.orderList .item-order:focus .item-header {color:#fff;} */
.orderList .item-order .item-header .branch {float:left;}
.orderList .item-order .item-header .orderDate {float:right; margin-top:5px; font-family:"Roboto-Regular",'NotoSans-Regular'; font-size:30px;}
.orderList .item-order .item-header .orderDate strong {display:inline-block; vertical-align:middle; font-weight:normal;}
.orderList .item-order .item-header .orderDate em {display:inline-block; vertical-align:middle; margin:0 5px; color:#b7b7b7; font-family:'NotoSans-Light'; font-size:20px;}
.orderList .item-order .prod {margin-top:26px; font-family:"NotoSans-Medium"; font-size:42px;}
.orderList .item-order .price {margin-top:30px; font-family:"NotoSans-Regular"; font-size:38px;}
.orderList .item-order .price span {font-family:"Roboto-Regular"; font-size:42px;}

/* Support */
.support li {padding:0 40px; border-bottom:1px solid #afafaf;}
.support li a {
	display:block;
	position:relative;
	height:115px;
	padding-right:40px;
	font-size:30px;
	line-height:115px;
	color:#555;
	background:url('/images/common/ico_item_arrow.png') right center no-repeat;
}

/* Call Center */
.section_callCenter {padding-top:65px;}
.callCenter dt {font-size:32px; color:#333;}
.callCenter dd .callNumber {padding-top:20px; font-family:"Roboto-Bold"; font-size:48px; color:#111; letter-spacing:-1px;}
.callCenter dd .openTime {padding-top:28px; font-size:28px; color:#666;}

/* Inquiry */
.section_inquiry {padding:60px 40px 100px;}
.inquiryList {margin-top:63px; border-top:2px solid #464646;}
.inquiryList li.item {position:relative;}
.inquiryList .item-inquiry {display:inline-block; width:100%; padding:40px 0 33px; border-bottom: 2px solid #bcbcbc;}
.inquiryList .item-inquiry .subject {font-size:32px; color:#111; overflow:hidden; line-height:1.3;}
.inquiryList .item-inquiry .item-footer {margin-top:15px;}
.inquiryList .item-inquiry .item-footer:after {display:block; content:""; clear:both;}
.inquiryList .item-inquiry .item-footer .date {display:inline-block; float:left; font-family:"NotoSans-Light"; font-size:28px; color:#666;}
.inquiryList .item-inquiry .item-footer .date span {font-family:"Roboto-Light";}
.inquiryList .item-inquiry .item-footer .state {float:right; font-family:"NotoSans-Light"; font-size:30px; color:#625a5a;}
.inquiryList li.item.complete .item-inquiry .item-footer .state {font-family:"NotoSans-Regular"; color:#e31937;}
.inquiryList .item-content {display:none; padding-bottom:40px; border-bottom:2px solid #bcbcbc;}
.inquiryList .item-content .question {padding:36px 45px 42px 80px;}
.inquiryList .item-content .question p,
.inquiryList .item-content .answer p {position:relative; font-size:28px; color:#ff8a00; line-height:40px;}
.inquiryList .item-content .question p:before,
.inquiryList .item-content .answer p:before {
	content:"Q";
	display:inline-block;
	position:absolute;
	top:0;
	left:-55px;
	width:30px;
	height:40px;
	font-family:"Roboto-Bold";
	font-size:48px;
}
.inquiryList .item-content .answer {padding:40px 45px 53px 80px; background:#f7f7f7;}
.inquiryList .item-content .answer p {color:#333;}
.inquiryList .item-content .answer p:before  {content:"A";}

/* Member */
.btn_memSecssion {width:100%; height:137px; margin-top:40px; border:2px solid #dedede; font-family:"NotoSans-Regular"; font-size:32px; line-height:133px; background-color:#f7f7f7;}
.btn_memSecssion span.ico-arrowRight {padding-right:50px; background:url('/images/common/ico_arrow_right.png') right center no-repeat;}
.btn_memSecssion small {font-family:"NotoSans-Light"; font-size:26px; color:#555;}

.ui-input-post {position:relative; width:100%; padding-right:271px;}
.ui-input-post input {width:100%;}
.ui-input-post .btn_post {position:absolute; top:0px; right:0px; width:259px;}

/* Popup - Member Secssion */
.lp_memSecssion .headLine-img {margin-bottom:75px; text-align:center;}
.lp_memSecssion .headLine-txt {font-family:"NotoSans-Medium"; font-size:36px; line-height:48px; color:#333;}

.__tbl-list {width:100%; table-layout:fixed; border-top:1px solid #000;}
.__tbl-list tr > * {text-align:center; padding:18px 10px; border-bottom:1px solid #bdbfc6;}
.__tbl-list tr th {color:#222; font-weight:normal;}
.__tbl-list tr .subject {text-align:left;}
.__tbl-list tr .subject a {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; max-width:85%; display:inline-block; vertical-align:middle;}
.__tbl-list tr .notice {color:#3f60bf; font-size:12px;}

/* 윈도우 팝업 공통 */
.winpop-wrap {padding-bottom:90px;}
.winpop-wrap .winpop-header {padding:100px 38px 50px 24px;}
.winpop-wrap .winpop-header .logo {width:148px; height:73px; margin:auto;}
.winpop-wrap .winpop-header .pop-tit {margin-top:23px; font-family:"NotoSans-Regular"; font-size:38px; color:#222; text-align:center; line-height:1.3;}
.winpop-wrap .winpop-footer {padding:0 40px;}

/* 로그인 팝업 */
.winpop-wrap.winpop-login {padding-bottom:0;}
.winpop-wrap.winpop-login .winpop-header {padding-top:150px;}
.winpop-login .winpop-content {padding:0 38px;}
.winpop-login .login-save {margin-top:13px; text-align:left;}
.winpop-login .login-save .ui-checkbox {width:auto;}
.winpop-login .winpop-footer {margin-top:92px; padding:60px 38px 0; background:#f7f7f7;}
.winpop-login .winpop-footer .tit-footer {width:100%; border-bottom:1px solid #b2b2b2; padding-bottom:46px; font-family:"NanumSquareOTFB"; font-size:32px; color:#625a5a; text-align:center; line-height:1.3;}

.winpop-login .login-etc:after {display:block; clear:both; content:"";}
.winpop-login .login-etc dl {float:left; display:table; width:50%; height:335px; text-align:center;}
.winpop-login .login-etc dl.find {border-right:1px solid #b2b2b2;}
.winpop-login .login-etc dl.find dt {padding-top:5px;}
.winpop-login .login-etc dl dt {height:96px; margin:40px 0 26px; font-size:28px; line-height:1.3;}
.winpop-login .login-etc dl dd {}
.winpop-login .login-etc dl.join dt em {display:block; margin-top:5px; font-size:24px; color:#666; line-height:1.3;}


/* 회원가입_01 팝업 */
.winpop-join .step-wrap ol {width:570px; margin:auto;}
.winpop-join .step-wrap ol:after {display:block; clear:both; content:"";}
.winpop-join .step-wrap ol li {position:relative; float:left; width:88px; margin-left:148px;}
.winpop-join .step-wrap ol li:first-child {margin-left:0;}
.winpop-join .step-wrap ol li:first-child:before {display:none;}
.winpop-join .step-wrap ol li:before {display:block; position:absolute; top:44px; left:-148px; width:148px; height:2px; background:#e7e7e7; content:"";}
.winpop-join .step-wrap ol li em {display:block; width:88px; height:88px; border-radius:50%; background:#e7e7e7; color:#b2b2b2; font-size:34px; text-align:center; line-height:88px;}
.winpop-join .step-wrap ol li span {display:inline-block; width:130px; margin:10px 0 0 -21px; font-size:24px; color:#888; text-align:center; line-height:1.3;}
.winpop-join .step-wrap ol li.current em {background:#e31937; font-family:"NotoSans-Bold"; color:#fff;}
.winpop-join .step-wrap ol li.current span {font-family:"NotoSans-Medium"; color:#e31937;}

.winpop-join .agree-wrap {margin-top:60px; padding:0 70px;}
.winpop-join .agree-wrap .ui-checkbox.all-chk {width:100%; color:#222;}
.winpop-join .agree-wrap .agree-box {width:100%; margin-top:64px;}
.winpop-join .agree-wrap .agree-box p + p {margin-top:35px;}
.winpop-join .agree-wrap .agree-box .ui-checkbox {width:70%; font-size:26px;}
.winpop-join .agree-wrap .agree-box p a {display:inline-block; float:right; font-size:26px; text-decoration:underline; color:#191919; line-height:40px;}
.winpop-join .agree-wrap .auth-explain {margin-top:95px; font-family:"NotoSans-Medium"; font-size:32px; text-align:center; color:#625a5a; line-height:1.3;}


/* 회원가입_02 팝업 */
.join-step02 .info-box {width:100%; height:268px; padding:45px 46px; border-top:1px solid #efefef; border-bottom:1px solid #efefef; background:#f7f7f7;}
.join-step02 .info-box dl dt {font-size:26px; color:#999;}
.join-step02 .info-box dl dd {margin-top:11px; font-size:30px; color:#333;}
.join-step02 .info-input {padding:43px 40px;}
.join-step02 .info-input .input-required input + input {margin-top:15px;}
.join-step02 .info-input .input-select {margin-top:45px;}
.join-step02 .info-input .input-select h4 {margin-bottom:15px; font-family:"NotoSans-Regular"; font-size:30px; color:#625a5a; }
.join-step02 .info-input .input-select input {width:calc(100% - 271px); margin-right:6px;}

/* 기존회원 안내 팝업 */
.winpop-already .winpop-content {padding:0 40px;}
.winpop-already .id-explain {font-family:"NotoSans-Light"; font-size:26px; color:#666; text-align:center;}
.winpop-already .id-box {width:100%; height:82px; margin:22px 0 60px; border:1px solid #efefef; background:#f7f7f7;}
.winpop-already .id-box p {font-size:26px; color:#666; text-align:center; line-height:85px;}

/* 멤버쉽 */
h1 span {font-family:"NotoSans-Bold"; font-weight:bold;}
.ddack {font-family:"NotoSans-Bold"; font-weight:bold;}
.section_ddackMem {padding:0 40px;}
.ddack-memWrap {display:block; position:relative;}
.ddack-memWrap dl dt {display:inline-block; font-size:38px; line-height:46px; }
.ddack-memWrap dl dt span {display:inline-block; vertical-align:bottom;}
.ddack-memWrap dl dt.red {color:#e51937;}
.ddack-memWrap dl dt.sand {color:#a2968a}
.ddack-memWrap dl dt.gold {color:#a29061;}
.ddack-memWrap dl dd {display:block; padding:30px 25px 0 25px; font-size:28px; font-family:"NotoSans-Medium"; line-height:36px; color:#424242;}
.ddack-memWrap dl dd .chk-b {display:inline-block; margin-bottom:10px; padding-bottom:4px; border-bottom:1px solid #3f3f3f; font-size:28px; line-height:36px; color:#000;}
.ddack-memWrap .validity {display:block; position:relative; margin-top:57px; padding:20px 0 20px 40px; border-top:2px solid #a29061; font-size:28px; line-height:36px; color:#928051; text-align:center;}
.ddack-memWrap .validity:before {content:''; display:block; position:absolute; top:50%; left:100px; width:31px; height:30px; margin-top:-12px; background:url('/images/mypage/ico_validity.png') left top no-repeat;}
.ddack-memWrap .ddack-box {display:block; border:1px solid #dadada; background-color:#fbfbfb;}
.ddack-memWrap .ddack-box dl {padding:80px 30px;}
.ddack-memWrap .ddack-box dl dd {padding:0;}
.ddack-memWrap .ddack-box dl dt span {display:inline-block; vertical-align:bottom;}
.ddack-memWrap .ddack-box dl dt.navy {color:#15135f;}
.ddack-memWrap .ddack-box dl dd {padding-top:25px;}
.ddack-memWrap + .ddack-memWrap {padding-top:75px; background:url('/images/mypage/ddack_dotline.png') left top no-repeat;}
