@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : main.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/

/* Main */
.main .container {padding:0;}

/* section_info */
.section_info {background:url('/images/main/bg_info.jpg') no-repeat center top;}
.section_info .info_tit {font-family:"NotoSans-Bold"; font-size:48px; color:#fff; line-height:56px; white-space:pre;}
.section_info .img-box {position:absolute; right:40px; top:38px;}
.section_info .img-box img {width:300px; height:300px; border-radius:100%;}
.section_info .info-box {padding:30px 58px; text-align:center; background-color:#fff;}
.section_info .info-box .ico-cap {width:65px; height:56px; background:url('/images/main/ico_cap.png') no-repeat center center;}
.section_info .info-box .tit {font-family:"NotoSans-Regular"; font-size:32px; color:#333; line-height:48px;}
.section_info .info-box .tit strong {font-family:"NotoSans-Bold"; font-size:48px;}
.section_info .info-box .ico-cover {width:70px; height:56px; background:url('/images/main/ico_cover.png') no-repeat center center;}
.section_info .info-box .txt {font-family:"NotoSans-Regular"; font-size:32px; color:#111;}
.section_info .info-box .txt span {font-family:"NotoSans-Medium";}
.section_info .info-box .txt strong {font-family:"NotoSans-Bold";}
.section_info .info-box .list {display:block; text-align:left;}
.section_info .info-box .list li {display:block;}
.section_info .info-box .list li.item01 {background-color:#ffa800;}
.section_info .info-box .list li.item02 {background-color:#635b59;}
.section_info .info-box .list li.item03 {background-color:#111;}
.section_info .info-box .list li a {display:block; position:relative; padding-left:84px;}
.section_info .info-box .list li a .ico {position:absolute; left:18px; top:14px; height:36px;}
.section_info .info-box .list li a .ico.ico-point {width:43px; background:url('/images/main/ico_point.png') no-repeat center center;}
.section_info .info-box .list li a .ico.ico-coupon {width:46px; background:url('/images/main/ico_coupon.png') no-repeat center center;}
.section_info .info-box .list li a .ico.ico-card {width:46px; background:url('/images/main/ico_card.png') no-repeat center center;}
.section_info .info-box .list li a p {font-family:"NotoSans-Regular"; font-size:24px; color:#fff; line-height:64px;}
.section_info .info-box .list li a span {display:inline-block; position:absolute; right:18px; top:0px; font-family:"NotoSans-Bold"; font-size:36px; color:#fff; line-height:64px;}
.section_info .info-box .list li a span em {font-family:"Roboto-Bold";}
.section_info .section-footer {padding:14px 0 19px 0; text-align:center; background-color:#111;}
.section_info .section-footer .tit {font-family:"NotoSans-Light"; font-size:24px; color:#fff;}
.section_info .section-footer a {font-family:"Roboto-Bold"; font-size:40px; color:#fff;}

/* section_menu */
.section_menu h3 {padding-bottom:13px; font-family:"Roboto-Medium"; font-size:36px; color:#333; text-align:center;}
.menu-box {display:block; position:relative; padding-bottom:35px;}
.menu-box .menu-sliderWrap {padding-bottom:160px;}
.menu-box .menu-tit {display:block; margin-bottom:22px; padding:0 40px; font-family:"NotoSans-Regular"; font-size:26px; color:#111; line-height:60px; background-color:#f1f1f1;}
.menu-box .swiper-slide {display:block; padding-bottom:52px;}
.menu-box .swiper-slide .tit {display:block; margin:40px; font-family:"NotoSans-Bold"; font-size:52px; color:#111;}
.menu-box .swiper-slide a {display:block; position:relative;}
.menu-box .swiper-slide a .img-box {display:block;}
.menu-box .swiper-slide a .img-box img {width:100%;}
.menu-box .swiper-slide a .info-box {display:block; position:absolute; left:0px; bottom:0px; width:100%; padding:30px 40px; background-color:rgba(255,255,255,0.7);}
.menu-box .swiper-slide a .info-box .txt {font-family:"NotoSans-Light"; font-size:32px; color:#333;}
.menu-box .swiper-slide a .info-box .price {margin-top:30px; font-family:"NotoSans-Bold"; font-size:42px; color:#111;}
.menu-box .swiper-slide a .info-box .price em {font-family:"Roboto-Bold";}
.menu-box .swiper-pagination {position:absolute; left:0px; bottom:0px; display:block; font-size:0px; line-height:30px; text-align:center;}
.menu-box .swiper-pagination .swiper-pagination-bullet {width:20px; height:20px; margin:0 7px; border-radius:100%; background-color:#000; vertical-align:middle;}
.menu-box .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width:30px; height:30px; background-color:#111;}
.menu-box .btn-wrap {position:absolute; left:0; width:100%;}
.menu-box .btn-wrap a img {display:inline-block; margin-right:5px;}


/* section_store */
.section_store {background:url('/images/main/bg_store.jpg') no-repeat center top;}
.section_store h3 {font-family:"Roboto-Medium"; font-size:40px; color:#fff; text-align:center;}
.section_store .map {display:block; height:705px;}
.section_store .search-box {display:block; position:relative; width:100%; height:102px; margin-top:24px; padding-right:100px; border-bottom:2px solid #fff;}
.section_store .search-box input {width:100%; height:98px; border:none; color:#fff; line-height:100px; background-color:transparent;}
.section_store .search-box .btn-search {position:absolute; right:0px; top:0px; width:100px; height:100px; text-indent:-9999px; background:#000 url('/images/main/ico_search.png') no-repeat center center;}
.section_store .total-txt {font-family:"NotoSans-Regular"; font-size:24px; color:#fff;}
.store_list {display:block; overflow:hidden; position:relative; width:100%;}
.store_list ul {display:table;}
.store_list ul li {display:table-cell; position:relative; overflow:visible; min-width:10px; width:10px; height:32px; white-space:nowrap;}
.store_list ul li a {display:block; position:relative; margin-left:40px; font-family:"NotoSans-Light"; font-size:32px; color:#fff; text-align:left;}
.store_list ul li.on a {color:#ffa800; border-bottom:1px solid #ffa800;}

/* section_cf */
.section_cf {padding:60px 0; background:url('/images/main/bg_cf.jpg') no-repeat center center;}
.section_cf h3 {font-family:"Roboto-Medium"; font-size:40px; color:#fff; text-align:center;}

/* section_family */
/*.section_family {padding:60px 0;}*/
.section_family .section-body.inner {padding:0;}
.section_family h3 {font-family:"Roboto-Medium"; font-size:40px; color:#111; text-align:center;}
.section_family .box {display:block; height:800px; padding:60px 0 0 0; text-align:center; background:url('/images/main/bg_family.jpg') no-repeat center center;}
.section_family .tit {font-family:"Roboto-Medium"; font-size:36px; color:#fff;}
.section_family .txt {margin-top:23px; font-family:"NotoSans-Regular"; font-size:24px; color:#fff; line-height:36px;}
.section_family .bestQuality-list {display:block; margin-top:40px; text-align:center;}
.section_family .bestQuality-list li {display:block; font-size:0px;}
.section_family .bestQuality-list li + li {margin-top:52px;}
.section_family .bestQuality-list li a {display:inline-block;}
.section_family .bestQuality-list li a .ico {display:inline-block; margin-right:35px;}
.section_family .bestQuality-list li a .ico.ico-story01 {width:170px; height:124px; background:url('/images/main/ico_chicken02.png') no-repeat center center;}
.section_family .bestQuality-list li a .ico.ico-story02 {width:150px; height:124px; margin:0 0 0 35px; background:url('/images/main/ico_olive.png') no-repeat center center;}
.section_family .bestQuality-list li a .ico.ico-story03 {width:170px; height:124px; background:url('/images/main/ico_cookhat.png') no-repeat left center;}
.section_family .bestQuality-list li a span {font-family:"Roboto-Light"; font-size:26px; color:#fff; line-height:124px;}
