<?xml version="1.0"?>

<appSettings>
  <add key="web_root_url" value="https://m.bbq.co.kr/pay/paycoin"/>
  <add key="mobile_root_url" value="https://m.bbq.co.kr/pay/paycoin"/>

  <!-- 아래 부분 url부분만 수정 요망-->
  <add key="target_url" value="https://m.bbq.co.kr/pay/paycoin/Result.aspx"/>
  <add key="bill_url" value="https://m.bbq.co.kr/pay/paycoin/target.aspx"/>
  <add key="cancle_url" value="https://m.bbq.co.kr/pay/paycoin/cancel.aspx"/>
  <!--아래 부분 값 전체 수정 요망-->
  <add key="success_url" value="https://m.bbq.co.kr/pay/paycoin/paycoin_ok.asp"/>
  <add key="failure_url" value="https://m.bbq.co.kr/pay/paycoin/paycoin_failure.asp"/>
  <add key="failure_url2" value="https://m.bbq.co.kr/pay/paycoin/paycoin_failure2.asp"/>
  <add key="test_start_url" value="https://m.bbq.co.kr/pay/paycoin/ready.aspx"/>
  <add key="test_cancel_url" value="https://m.bbq.co.kr/pay/paycoin/cancel_test.aspx"/>
 

  <!--BBQ 가맹점 고정값-->
  <add key="cp_pwd" value="bbq123"/>

</appSettings>