@charset "utf-8";

/*------------------------------------------------------------------------------------------------------------------------------------------
	File : base.css(Front)
	Company : The Webstyle co.,ltd
 	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc
--------------------------------------------------------------------------------------------------------------------------------------------*/

/* Font */
@font-face {
	font-family:"NotoSans-Thin";
	font-style:normal;
	font-weight:100;
	src:local(※),
	url('/common/fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-Thin.woff') format('woff'),
	url('/common/fonts/NotoSans-Thin.otf') format('opentype');
}

@font-face {
	font-family:"NotoSans-Light";
	font-style:normal;
	font-weight:300;
	src:local(※),
	url('/common/fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-Light.woff') format('woff'),
	url('/common/fonts/NotoSans-Light.otf') format('opentype');
}

@font-face {
	font-family:"NotoSans-DemiLight";
	font-style:normal;
	font-weight:350;
	src:local(※),
	url('/common/fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-DemiLight.woff') format('woff'),
	url('/common/fonts/NotoSans-DemiLight.otf') format('opentype');
}

@font-face {
	font-family:"NotoSans-Regular";
	font-style:normal;
	font-weight:400;
	src:local(※),
	url('/common/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-Regular.woff') format('woff'),
	url('/common/fonts/NotoSans-Regular.otf') format('opentype');
}

@font-face {
	font-family:"NotoSans-Medium";
	font-style:normal;
	font-weight:500;
	src:local(※),
	url('/common/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-Medium.woff') format('woff'),
	url('/common/fonts/NotoSans-Medium.otf') format('opentype');
}

@font-face {
	font-family:"NotoSans-Bold";
	font-style:normal;
	font-weight:700;
	src:local(※),
	url('/common/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/NotoSans-Bold.woff') format('woff'),
	url('/common/fonts/NotoSans-Bold.otf') format('opentype');
}

@font-face {
	font-family:"Roboto-Light";
	font-weight:normal;
	font-style:normal;
	src:local(※),
	url('/common/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/Roboto-Light.woff') format('woff');
}

@font-face {
	font-family:"Roboto-Regular";
	font-weight:normal;
	font-style:normal;
	src:local(※),
	url('/common/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
	font-family:"Roboto-Medium";
	font-weight:normal;
	font-style:normal;
	src:local(※),
	url('/common/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
	font-family:"Roboto-Bold";
	font-weight:normal;
	font-style:normal;
	src:local(※),
	url('/common/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('/common/fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family:"NanumSquareOTFR";
  font-weight:normal;
  font-style:normal;
  src:local(※),
		url('/common/fonts/NanumSquareOTFR.eot?#iefix') format('embedded-opentype'),
  		url('/common/fonts/NanumSquareOTFR.woff') format('woff');
}

@font-face {
  font-family:"NanumSquareOTFB";
  font-weight:normal;
  font-style:normal;
  src:local(※),
		url('/common/fonts/NanumSquareOTFB.eot?#iefix') format('embedded-opentype'),
  		url('/common/fonts/NanumSquareOTFB.woff') format('woff');
}
*, *:before, *:after {margin:0px; padding:0px; box-sizing:border-box; text-size-adjust:none; letter-spacing:-0.05em;}
html, body {
	height:100%;
	line-height:1;
	font-family:"NotoSans-Regular", "Malgun Gothic","Dotum", "Arial", "sans-serif", "serif";
	color:#111;
	-webkit-font-smoothing:antialiased;
/*	text-size-adjust:none;
	-webkit-text-size-adjust:none; 
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;*/
}
hr {display:none;}
caption {overflow:hidden; height:0px; font-size:0px; line-height:0px;}
h1, h2, h3, h4, h5, h6 {font:inherit;}
img {border:none; vertical-align:middle;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {width:100%; border:0px; border-spacing:0px; border-collapse:collapse;}
th, td {border:0px; word-break:break-all;}
th {font-family:"NotoSans-Regular"; font-weight:normal;}
td {font-family:"NotoSans-Regular";}
fieldset {width:100%; border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
button, input, textarea, select {vertical-align:middle;}
button {overflow:visible; cursor:pointer; border:0px;}
button::-moz-focus-inner {padding:0px;}
select, input, textarea {font:inherit;}
sub, sup {position:relative; font-size:75%; line-height:0; vertical-align:baseline;}
sup {top: -.5em}
sub {bottom: -.25em}
button, input {-webkit-appearance:none; -moz-appearance:none;}