
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {outline: none;}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {margin:0; padding:0; list-style:none;}
.flex-pauseplay span {text-transform: capitalize;}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {margin:0; padding:0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {width: 100%;display: block;}
.flexslider .slides:after {content: "\0020"; display: block; clear: both;  visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .flexslider .slides {display: block;}
* html .flexslider .slides {height: 1%}
.no-js .flexslider .slides > li:first-child {display: block;}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {margin:0; background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides img {height: auto;-moz-user-select: none;}
.loading .flex-viewport {max-height:444px;}
.carousel li {margin-right: 5px;}
.flex-pauseplay a {display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before {font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover { opacity: 1;}
.flex-pauseplay a.flex-play:before {content: '\f003';}

.flex-control-nav {width: 100%; position: absolute; bottom:27px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {cursor:pointer;  display:inline-block;	width:25px; height:25px; background:#none; border:5px solid #fff; border-radius:50%; text-indent:-9999px; margin: 0;}
.flex-control-paging li a.flex-active {background:#fff; border:3px solid #fff;}

.spot_li li	{background-repeat:no-repeat; background-position:center top; height:444px; background-size:cover}



