@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : layout.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/
html.fix {overflow:hidden;}
.wrapper {display:block; position:relative; min-width:320px; min-height:100%; 
/*overflow-x:hidden; overflow-y:scroll;*//*white-space:nowrap; */ -webkit-overflow-scrolling:touch;}

/* Header */
.header {display:block; position:fixed; top:0px; left:0px; z-index:300; width:100%; height:113px; background-color:#fff; border-bottom:1px solid #ddd}
/*.main .header {background-color:transparent;}*/
.scrolled.main .header {background-color:#fff;}
.header h1 {font-family:"NotoSans-Medium"; font-size:36px; line-height:100px; text-align:center;}
.header h1 a{display:inline-block; position:relative; top:26px; width:127px; height:60px; background:url('/images/common/btn_header_logo.png') no-repeat center center; text-indent:-9999px;}
.main .header h1 {display:block; text-align:center;}
.main .header h1 a {display:inline-block; position:relative; top:26px; width:127px; height:60px; background:url('/images/common/btn_header_logo.png') no-repeat center center; text-indent:-9999px;}
.header .btn-header {display:inline-block; position:absolute; top:28px; height:56px; font-size:0px}
.header .btn-header.btn-header-nav {left:24px;}
.header .btn-header.btn-header-mnu {right:24px;}
.header .btn-header .btn_header_back {width:27px; height:44px; margin-right:44px; background:url('/images/common/btn_header_back.png') left center no-repeat;}
.header .btn-header .btn_header_menu {width:65px; height:56px; background:url('/images/common/btn_header_menu.png') left center no-repeat;}
.header .btn-header .btn_header_cart {position:relative; width:68px; height:56px; background:url('/images/common/btn_header_cart.png') left center no-repeat;}
.header .btn-header .btn_header_cart .count {display:inline-block; position:absolute; top:-9px; right:21px; min-width:40px; height:40px; border-radius:50%; line-height:41px; color:#fff; text-align:center; background-color:#7ccf0b; font-size:28px; font-family:'NanumSquare'; font-weight:900}
.header .btn-header .btn_header_brand {width:50px; height:56px; margin-left:24px; background:url('/images/common/btn_header_brand.png') left center no-repeat;opacity:0.54;}
.main .header .btn-header .btn_header_menu {position:relative; width:65px; height:56px; background:url('/images/common/btn_header_menu.png') left center no-repeat; }
.main .header .btn-header .btn_header_cart {width:68px; height:56px; background:url('/images/common/btn_header_cart.png') left center no-repeat;}
.main .header .btn-header .btn_header_cart .count {display:inline-block; position:absolute; top:-9px; right:21px; min-width:40px; height:40px; border-radius:50%; line-height:41px; color:#fff; text-align:center; background-color:#7ccf0b; font-size:28px; font-family:'NanumSquare'; font-weight:900}
.main .header .btn-header .btn_header_brand {width:50px; height:56px; margin-left:24px; background:url('/images/common/btn_header_brand.png') left center no-repeat;opacity:1;}
.scrolled.main .header .btn-header .btn_header_menu {width:65px; height:56px; background:url('/images/common/btn_header_menu.png') left center no-repeat;}
.scrolled.main .header .btn-header .btn_header_cart {width:68px; height:56px; background:url('/images/common/btn_header_cart.png') left center no-repeat;}
.scrolled.main .header .btn-header .btn_header_brand {width:50px; height:56px; margin-left:24px; background:url('/images/common/btn_header_brand.png') left center no-repeat;}

/* Container */
.container {display:block; position:relative; min-height:100%; padding:102px 0 195px 0;}
.container.menuView_container {padding:50px}
.content {display:block; position:relative;}
.content.content-gray {background-color:#f3f3f3;}
.content.content-shopList {margin-bottom:-195px;}

.btn_scrollTop {
	display:none;
	position:fixed;
	bottom:160px;
	right:40px;
	z-index:100;
	width:100px;
	height:100px;
	font-size:0;
	background:url('/images/common/btn_scrollTop.png') center center no-repeat;
}
.btn_scrollTop.active {display:block;}

/* Aside */
.aside {display:none; position:fixed; top:0px; left:0px; z-index:500; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7);}
.aside .aside-container {position:absolute; top:0px; width:640px; height:100%; padding-top:294px;}
.aside .aside-header {position:absolute; top:0px; left:0px; width:100%;}
.aside .aside-body {padding-top:247px; height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.aside.aside-brand .aside-body {padding-top:0px;}
.aside .btn_aside_close {
	position:absolute;
	top:0px;
	z-index:10;
	width:104px;
	height:100%;
	background:url('/images/common/btn_aside_close.png') center top no-repeat;
}

/* Aside Menu */
.aside-menu .aside-container {left:0px; padding-top:0px; background-color:#fff;}
.aside-menu .aside-header {display:none; height:204px; background-color:#fff;}
.aside-menu .aside-header .loginInfo {position:relative; height:103px; padding:22px 35px 0;}
.aside-menu .aside-header .loginInfo .memGrade {padding-left:73px; font-family:"NotoSans-Light"; font-size:34px; line-height:61px; color:#111; background:url(/images/common/ico_memChicken.png) left no-repeat; background-size:60px;}
.aside-menu .aside-header .loginInfo .memGrade span {font-family:"NotoSans-Bold";}
/*.aside-menu .aside-header .loginInfo .memGrade.gold {background:url('/images/common/ico_memGrade_gold.png') left center no-repeat; background-size:60px;}*/
.aside-menu .aside-header .loginInfo .btn_myPage {position:absolute; top:27px; right:32px;}
.aside-menu .aside-header .myInfo {overflow:hidden;}
.aside-menu .aside-header .myInfo li {
	padding: 20px 0;
	float:left;
	width:33.3333%;
	font-size:30px;
	height:105px;
	/*line-height:101px;*/
	color:#fff;
	text-align:center;
	background-color:#625a5a;
}
.aside-menu .aside-header .myInfo li span {font-family:"Roboto-Medium";}
.aside-menu .aside-header .myInfo li:first-child {border-right:1px solid #fff;}
.aside-menu .aside-header .myInfo li:last-child {border-left:1px solid #fff;}
.aside-menu .aside-header .myInfo li dt{font-size:26px; padding-bottom:8px;}


.aside-menu .aside-lnb {position:relative;}
.aside-menu .lnb li.node1 {position:relative;}
.aside-menu .lnb li.node1 a.depth1 {
	display:block;
	position:relative;
	height:122px;
	padding:0 150px 0 60px;
	border-bottom:2px solid #eee;
	font-size:32px;
	line-height:120px;
	color:#333;
}
.aside-menu .lnb li.node1.hasMenu a.depth1:after {
	content:"";
	display:block;
	position:absolute;
	top:50px;
	right:50px;
	width:40px;
	height:20px;
	background:url('/images/common/lnb_depth1_off.png') center center no-repeat;
}
.aside-menu .lnb li.node1.hasMenu.on a.depth1:after {background:url('/images/common/lnb_depth1_on.png') center center no-repeat;}
.aside-menu .lnb li.node1 .submenu {display:none; border-bottom:2px solid #eee; background-color:#ffa800;}
.aside-menu .lnb .submenu li.node2 {position:relative;}
.aside-menu .lnb .submenu li.node2 a.depth2 {height:100px; padding:0 97px; font-size:28px; line-height:100px; color:#fff;}
.aside-menu .lnb .submenu li.node2 a.depth2 span {font-family:"Roboto-Regular"; font-size:30px;}

.aside-menu .aside-login {
	position:fixed;
	top:0px;
	left:0px;
	width:640px;
	height:245px;
	padding-top:45px;
	border-bottom:2px solid #ccc;
	text-align:center;
	background-color:#fff;
	z-index:10;
}
.aside-menu .aside-login .btn-wrap {font-size:0;}
.aside-menu .aside-login .btn-wrap .btn {width:170px; height:64px; margin:0 10px; line-height:60px;}
.aside-menu .aside-login .btn_loginBefore {margin-top:45px;}
.aside-menu .aside-login .btn_loginAfter {display:none;}
.aside-menu .aside-login .callNumber {font-size:28px; color:#333;}
.aside-menu .aside-login .callNumber .txt {margin-bottom:20px;}
.aside-menu .aside-login .callNumber .tel {font-family:"Roboto-Bold"; font-size:48px; color:#111; letter-spacing:-1px;}

.aside-menu.login .aside-container {padding-top:204px;}
.aside-menu.login .aside-body {padding-top:0;}
.aside-menu.login .aside-header {display:block;}
.aside-menu.login .aside-lnb .lnb li.node1:first-child {display:none;}
.aside-menu.login .aside-login {display:block;}
.aside-menu.login .aside-login {position:static; height:auto; padding:50px 0; border-bottom:0px;}
.aside-menu.login .aside-login .btn_loginBefore {display:none;}
.aside-menu.login .aside-login .btn_loginAfter {display:block; margin-bottom:65px;}

.aside-menu .btn_aside_close {left:640px;}

/* Aside Quick */
.aside-quick-box {border-bottom:1px solid #eee; background:#f2f2f2;}
.aside-quick {overflow:hidden; padding:35px 0;}
.aside-quick li {float:left; width:50%;}/*주문조회 안보이게처리190125 width:33.33333%;*/
.aside-quick li a {display:block; text-align:center;}
.aside-quick li a span {/*display:block;*/ margin-top:10px; color:#333; font-size:26px; padding-left: 10px; }
.aside-barcord {padding:0px 40px 40px 35px; text-align:center;}
.aside-barcord .in-sec {background:#fff;padding:20px 20px 20px 20px;}
.aside-barcord > img {display:inline-block;}
.aside-barcord table{width:100%; background: #fff;/* height: 150px;*/padding:20px}
.aside-barcord table tr:last-child td{padding-top:20px;}
.aside-barcord table td{font-size:22px;}
.aside-barcord table td img {height:50px;}

/*barcode*/
.barcode_btn { padding:0px 40px 40px 35px; text-align:center; overflow:hidden; }
.barcode_btn button { padding:10px 20px; font-size:26px; color:#fff; }
.barcode_btn .btn_left { float:left; width:60%; background:#d62036; }
.barcode_btn .btn_right { float:right; width:38%; background:#548335; }


/* Aside Brand */
.aside-brand .aside-container {right:0px; padding-top:143px; background-color:#000;}
.aside-brand .aside-header {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:143px;
	background:url('/images/common/bg_aside_brand.jpg') left top no-repeat;
}
.aside-brand .aside-header h2 {margin-top:40px; font-family:"Roboto-Medium"; font-size:60px; color:#fff; text-align:center;}
.aside-brand .aside-header .brandMenu {display:inline-block; position:absolute; right:63px; bottom:28px; overflow:hidden;}
.aside-brand .aside-header .brandMenu li {float:left; margin-left:48px;}
.aside-brand .aside-header .brandMenu li a {display:block; padding-top:58px; font-size:26px; color:#fff; text-align:center;}
.aside-brand .aside-header .brandMenu li:nth-child(1) a {background:url('/images/common/ico_brandMenu01.png') center top no-repeat;}
.aside-brand .aside-header .brandMenu li:nth-child(2) a {background:url('/images/common/ico_brandMenu02.png') center top no-repeat;}

.aside-brand .btn_aside_close {left:-104px;}
.aside-brand .familyBrand li {
	float:left;
	display:table;
	width:50%;
	height:210px;
	border-left:2px solid #343434;
	border-bottom:2px solid #343434;
	text-align:center;
}
.aside-brand .familyBrand li a {display:table-cell; vertical-align:middle;}
.aside-brand .familyBrand li a span {display:block; padding-top:13px; font-size:26px; line-height:34px; color:#fff;}

/* Footer */
.footer {display:block; width:100%;  background-color:#f6f6f6; height: 100%; padding-bottom:60px;}
.footer .familySite {display:table; width:100%; border-bottom:1px solid #dadada; table-layout:fixed;  border-top:2px solid #b4b4b4; border-bottom:2px solid #b4b4b4}
.footer .familySite li {float:left; display:block; width:50%; height:80px; text-align:left; vertical-align:middle; border-bottom:1px solid #dadada; border-right:1px solid #dadada;}
.footer .familySite li:nth-child(2),
.footer .familySite li:nth-child(4),
.footer .familySite li:nth-child(6) {border-right:0}
.footer .familySite li:nth-child(5),
.footer .familySite li:nth-child(6) {border-bottom:0}
.footer a {display:block; font-family:"NanumSquare"; font-size:29px; font-weight:600; color:#464646; line-height:80px; padding-left:40px}

.footer .fnb {display:table; width:100%; border-top:0;  table-layout:fixed; border-bottom:2px solid #b4b4b4}
.footer .fnb li {float:left; display:block; width:50%; height:80px; text-align:left; vertical-align:middle;}
.footer .fnb li:nth-child(1),
.footer .fnb li:nth-child(3) {border-right:1px solid #dadada;}
.footer .fnb li:nth-child(1),
.footer .fnb li:nth-child(2) {border-bottom:1px solid #dadada; }
.footer .fnb li a img {width:38px;height:44px;margin-bottom:8px;}

.footer .inner {padding:40px 25px 0 25px}
.footer .footer-addr {margin-bottom:25px; font-family:"NanumSquare"; font-size:27px; line-height:40px; color:#464646;}
.footer .footer-addr h2 {display:block; font-weight:600; font-size:29px; color:#111111; margin-bottom:7px}
.footer .footer-addr span {display:inline-block; padding:0 10px}

.footer .copyright {margin-bottom:55px;  font-family:"NanumSquare"; font-size:27px; color:#464646;}

.footer .footer-sns {text-align:center;}
.footer .footer-sns li {display:inline-block; border-right:1px solid #c4c4c4}
.footer .footer-sns li a {display:block; width:auto; height:41px; line-height:41px; padding:0 40px}
.footer .footer-sns li:last-child {border-right:0}




.footer .inner .callNumber{margin-bottom:34px; /*background:url('/images/common/ico_footerCallNumber.png') left center no-repeat;*/}
.footer .inner .callNumber .tel {font-family:"Roboto-Bold"; font-size:30px; color:#999; letter-spacing:-1px; /*padding-left: 20px;*/}


/*다음주소검색*/

.daum_search {display:none;border:1px solid;width:100%;height:100% !important;position:fixed;top:0;left:0;z-index:999}
.daum_search .search_close {cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1}
.daum_search .img_post {width:40px;height:40px;top:5px;right:20px;}
.daum_search .form_search {height:56px;}
.daum_search .post_search {height:55px;}
.daum_search .form_search .btn_search {right:40px;}
.txt_example {color:#000;}

/* Footer */
.origin_dim { position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999; }
.footer_origin { position:fixed; left:50%; top:140px; width:90%; height:auto; margin-left:-45%; z-index:99999; }
.footer_origin img { width:100%; }