
body 
{
    font-size:10pt;
	margin:0;
	margin-top:10px;
	margin-bottom:5px;
    text-align:left ;      
    
	scrollbar-arrow-color: #666666; 
	scrollbar-3dlight-color: #666666; 
	scrollbar-highlight-color: #ffffff;
	scrollbar-face-color: #ebebeb; 
	scrollbar-shadow-color: #666666; 
	scrollbar-track-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	
	}

        	
#maincontainer{
    width: 98%; /*98% 980px */
    margin:0 auto;    
    text-align:left;
}

#maincontainer_reser{
    width: 98%; /*98% 1010px */
    margin:0 auto;    
    text-align:left;
}



img {margin:0;}
IMG {border: none;} 
form {margin:0}


.col {background:#8FA3AE;color:white;text-align:center;font-weight:normal}
.col-1 {background:66cccc;;color:blue;text-align:center;font-weight:normal;}
.col2_bak{color:white;background:greehotpink;text-align:center;font-weight:bold;font-size:12px;}
.col2{color:#000000;background:#CFCDB6;text-align:center;}
.con-srch{color:#000000;background:#CFCDB6;text-align:center;}
.col-sum{color:black;background:white;text-align:right;font-weight:bold;}

.title0 {font-size:11pt;font-weight:bold;color:#cc6602;}
.title_bar { height:2px; background-color:#f8a120;white;  }


/*
#div_list table {
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
	border-collapse: collapse;
    
}		

#div_list th, #div_list td {
	padding: 1px;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	}	

#div_list th {
	font-size: 12px;
	background:#1c5e55;
	color: white;
	height:18px;
	}
*/
/* 수정:2010-08-02   --------------------------------------*/
#div_list table {
	border-top: 1px solid #a0a0a0;  /* #dddddd; */
	border-left: 1px solid #a0a0a0; /* #dddddd; */
	border-collapse: collapse;    
}		

#div_list th, #div_list td {
	padding: 1px;
	border-right: 1px solid #a0a0a0;  /* #dddddd; */
	border-bottom: 1px solid #a0a0a0; /* #dddddd; */
	}	

#div_list th {
	font-size: 12px;
	background:#f6f6f6;
	color: #343434;
	height:20px;
	text-align:center;
	}


.input_r { /* 읽기전용 textbox위해 */
    color: #666666;     
	background-color:#EFEFEF;
	border:1px c8c8c8 solid;
	} 
.input_r0 {border:0;} /* 보더없는 input  */
.input_r1 { /* 보더없으나 색상은 있는 input  */
    color: #666666;
    background-color:#EFEFEF;
    border:0;
    } 

.hand {cursor:hand;}

.nonebackcolor
{
    background-color:Transparent;
}

/* 추가:2010-08-04  설명박스(아웃라인사이즈980)--------------------------------------*/
.box_txt{
	width:99%;
	border: 1px solid #DDDDDD;
	background:#FFFAF3;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	line-height:20px;
}

	
/* 굵은 Box용    -------------------------------------*/	
.box_txt2{
	border: 5px solid #EBE7D9;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	line-height:20px;
}


/* 리스트 검색부분 Box용   -------------------------------------*/
.box_srch {    
	width:99%;
	border: 5px solid #EBE7D9;
	xxfloat:left; /* 지움 */
	margin-bottom:5px;
	text-align:left;	
    }
.box_srch table {
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    border-collapse: collapse;
    height: 25px;
}
.box_srch th, .box_srch td {
	padding: 1px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	}
.box_srch th {
	font-size: 12px;
	background:#f6f6f6;
	color: #343434;
	height:20px;
	text-align:center ;
	}
.box_srch td {
	background:#fffaf3;	
}	
.box_srchA td {
	background: #33CCFF;	/* 연초록색, 회색 : d3d3d3 */
}		
.box_srchB td {
	background: #FF6600;	
}	
.box_srchC td {
	background: #a0a0a0;	
}	
.box_srchD td {
	background: #666;	
}		
.box_srchE td {
	background: #e5e5e5;	
}
.box_srchOk td {
	background: #FFFFFF;	
}
.box_srchY td {
	background: #FFFF66;	
}


/* 게시판(Board)용 리스트 검색부분 Box용   -------------------------------------*/
.box_Board {    
	width:99%;
	border: 5px solid #EBE7D9;
	xxfloat:left; /* 지움 */
	margin-bottom:5px;
	text-align:left;	
    }
.box_Board table {
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    border-collapse: collapse;
    height: 25px;
	width: 100%;
}
.box_Board th {
	padding: 1px;
	border-right: 1px solid #dddddd;
	border-bottom: 3px solid #dddddd;
	}
.box_Board td {
	padding: 1px;
	xborder-right: 1px solid #dddddd;
	xborder-bottom: 1px solid #dddddd;
	}
.box_Board th {
	font-size: 12px;
	background:#f6f6f6;	 /* 연초록색, 회색 : #f6f6f6 */
	color: #343434;
	height:20px;
	text-align:center ;
	}
.box_Board td {
	xbackground:#fffaf3;	
}	
.box_BoardA td {
	background: #33CCFF;	/* 연초록색, 회색 : d3d3d3 */
}		
.box_BoardB td {
	background: #FF6600;	
}	
.box_BoardC td {
	background: #a0a0a0;	
}	
.box_BoardD td {
	background: #666;	
}		
.box_BoardE td {
	background: #e5e5e5;	
}
.box_BoardOk td {
	background: #FFFFFF;	
}
.box_BoardY td {
	background: #FFFF66;	
}

/* 입력화면용   -------------------------------------*/	
.tblInput {border-collapse:collapse;border:1px solid #e5e5e5; } 
.tblInput tr {height:23px;}
.tblInput tr td {padding-left:5px;}
.xxtblInput th {background-color:#f6f6f6;color:#333333 ;font-weight:normal;text-align:center;}


