BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #5e5e5e; LINE-HEIGHT: 18px; FONT-FAMILY: 돋움,Dotum
}
DIV {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #5e5e5e; LINE-HEIGHT: 18px; FONT-FAMILY: 돋움,Dotum
}
TD {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #5e5e5e; LINE-HEIGHT: 18px; FONT-FAMILY: 돋움,Dotum
}
TEXTAREA {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #5e5e5e; LINE-HEIGHT: 18px; FONT-FAMILY: 돋움,Dotum
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.but1 {
	FONT-SIZE: 8pt; FONT-FAMILY: "돋움"; BACKGROUND-COLOR: #f5d570; TEXT-DECORATION: none
}
.form {
	BORDER-RIGHT: #adadad 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #adadad 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; BORDER-LEFT: #adadad 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #adadad 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #d6d6d6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; SCROLLBAR-FACE-COLOR: #d7d7d7; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; BORDER-LEFT: #d6d6d6 1px solid; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #d7d7d7; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #d6d6d6 1px solid; FONT-FAMILY: 돋움; SCROLLBAR-DARKSHADOW-COLOR: #d7d7d7; SCROLLBAR-BASE-COLOR: #d7d7d7; BACKGROUND-COLOR: #ffffff
}
.select {
font-size: 9pt; color:#555555; border:1 solid #cccccc; background-color:#ededed ;
scrollbar-face-color: #cccccc; 
scrollbar-arrow-color: #ffffff; 
scrollbar-track-color: #ededed; 
scrollbar-highlight-color: #ededed; 
scrollbar-shadow-color: #ededed;
scrollbar-darkshadow-color: #ededed; 
scrollbar-3dlight-color: #ededed; 
}

/*버튼테두리없애기*/
a,img,input{selector-dummy: expression(this.hideFocus=true);}


input, select, textarea	{
	font-size:12px;
	font-family:"돋움";
	color:#666666;
        text-decoration: none; 
        border: 1px solid #c9c6b3;
    }

/* input box 스타일 */
.search {font-family: "돋움"; font-size: 12px; color: #777777; text-decoration: none; border: 1px solid #c9c6b3; height:14px; width: 93px}
.inquiry {font-family: "돋움"; font-size: 12px; color: #777777; text-decoration: none; border: 1px solid #d0d0d0; height:17px; width: 93px}
.board4, a.board4:link, a.board4:visited, a.board4:hover, a.board4:active{color:#4489b2; font-weight:bold;}

.board5, a.board4:link, a.board4:visited, a.board4:hover, a.board4:active{color:#39a66f; font-weight:bold;text-align:center;}


A:link {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:active {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.left_line {
	BACKGROUND-COLOR: #dadada
}
.left_menu_s {
	FONT-SIZE: 11px; COLOR: #000000
}
.left_menu_s A:link {
	COLOR: #000000
}
.left_menu_s A:visited {
	COLOR: #000000
}
.left_menu_s A:active {
	COLOR: #000000
}
.left_menu_s A:hover {
	WIDTH: 164px; COLOR: #2c7629; HEIGHT: 18px; BACKGROUND-COLOR: #e1f5ef
}
.left_menu_s_over {
	FONT-SIZE: 11px; WIDTH: 164px; COLOR: #2c7629; HEIGHT: 18px; BACKGROUND-COLOR: #e1f5ef
}
.left_menu_s_over A:link {
	COLOR: #2c7629
}
.left_menu_s_over A:visited {
	COLOR: #2c7629
}
.left_menu_s_over A:active {
	COLOR: #2c7629
}
.left_menu_s_over A:hover {
	WIDTH: 164px; COLOR: #2c7629; HEIGHT: 18px; BACKGROUND-COLOR: #e1f5ef
}
.left_menu_h {
	FONT-SIZE: 11px; COLOR: #000000
}
.left_menu_h A:link {
	COLOR: #000000
}
.left_menu_h A:visited {
	COLOR: #000000
}
.left_menu_h A:active {
	COLOR: #000000
}
.left_menu_h A:hover {
	WIDTH: 164px; COLOR: #005e94; HEIGHT: 18px; BACKGROUND-COLOR: #e1edf5
}
.left_menu_over {
	FONT-SIZE: 11px; WIDTH: 164px; COLOR: #005e94; HEIGHT: 18px; BACKGROUND-COLOR: #e1edf5
}
.left_menu {
	FONT-SIZE: 12px; COLOR: #5e5e5e
}
.left_menu A:link {
	
}
.left_menu A:visited {
	COLOR: #5e5e5e
}
.left_menu A:active {
	COLOR: #5e5e5e
}
.left_menu A:hover {
	FONT-WEIGHT: bold; COLOR: #5e5e5e
}

.rootn {
	FONT-SIZE: 11px; COLOR: #bc9865
}
.history {
	FONT-SIZE: 11px; COLOR: #666666
}

.history A:link {
	COLOR: #989898
}
.history A:visited {
	COLOR: #989898
}
.history A:active {
	COLOR: #989898
}
.history A:hover {
	COLOR: #000000
}
.black {
	COLOR: #000000; TEXT-DECORATION: none
}
.orange {
	COLOR: #f56200; TEXT-DECORATION: none
}
.sup_check
{
	COLOR: #f56200; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.yellow {
	COLOR: #faffa3; TEXT-DECORATION: none
}
.gray {
	COLOR: #838383; TEXT-DECORATION: none
}
.tx_cyber {
	COLOR: #0071bc; TEXT-DECORATION: none
}
.tx_cyber A:link {
	COLOR: #0071bc
}
.tx_cyber A:visited {
	COLOR: #0071bc
}
.tx_cyber A:active {
	COLOR: #0071bc
}
.tx_cyber A:hover {
	COLOR: #000000
}
.tx_intro {
	COLOR: #2822a8; TEXT-DECORATION: none
}
.tx_comm {
	COLOR: #2b8e88; TEXT-DECORATION: none
}
.tx_support {
	COLOR: #a6005a; TEXT-DECORATION: none
}
.tx_hrd {
	COLOR: #004b9f; TEXT-DECORATION: none
}
.small {
	FONT-SIZE: 11px
}
.title01 {
	FONT-SIZE: 14px
}
.bbs_title {
	FONT-WEIGHT: bold; COLOR: #444444; text-align:center; PADDING-left: 5px;HEIGHT: 27px; TEXT-DECORATION: none; 
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM: #dededf 1px solid
}
.bbs_title2 {
	FONT-WEIGHT: bold; COLOR: #444444; PADDING-TOP: 3px; HEIGHT: 27px; TEXT-DECORATION: none; 
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM: #dededf 1px solid;
	background-image:url(/images/bbs_line.gif); background-repeat:no-repeat;
}
.bbs_write {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold; COLOR: #444444; PADDING-TOP: 8px; HEIGHT: 27px; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.bbs_tx {
	COLOR: #5e5e5e; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; TEXT-DECORATION: none; BORDER-BOTTOM: #dededf 1px solid
}
.bbs_tx_list {
	COLOR: #5e5e5e; PADDING-TOP: 10px; PADDING-BOTTOM: 10px; TEXT-DECORATION: none; BORDER-BOTTOM: #dededf 1px solid
}
.bbs_tx_list_center {
	COLOR: #5e5e5e; text-align:center; PADDING-TOP: 10px; PADDING-BOTTOM: 10px; TEXT-DECORATION: none; BORDER-BOTTOM: #dededf 1px solid
}
.bbs_tx A:link {
	COLOR: #5e5e5e
}
.bbs_tx A:visited {
	COLOR: #5e5e5e
}
.bbs_tx A:active {
	COLOR: #5e5e5e
}
.bbs_tx A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.num {
	FONT-SIZE: 12px; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana; LETTER-SPACING: -1px
}
.bg_cyber {
	BACKGROUND-COLOR: #6cbeca
}
.bg_product {
	BACKGROUND-COLOR: #9ec495
}
.bg_comm {
	BACKGROUND-COLOR: #88c4c5
}
.bg_support {
	BACKGROUND-COLOR: #85dbd8
}
.bg_family {
	BACKGROUND-COLOR: #dfb7c0
}
.bg_ikbn {
	BACKGROUND-COLOR: #bab3e9
}
.bg_intro {
	BACKGROUND-COLOR: #acb1dd
}
.bg_hrd {
	BACKGROUND-COLOR: #a2cce8
}
.bg_hrd_b {
	BACKGROUND-COLOR: #45a3ca
}
.bg_line_g {
	BACKGROUND-COLOR: #bebec0
}
.bg_line_gw {
	BACKGROUND-COLOR: #dededf
}
.bg_gray {
	BACKGROUND-COLOR: #eeeeee
}
.bg_cyber_w {
	BACKGROUND-COLOR: #eaf3f8
}
.bg_product_w {
	BACKGROUND-COLOR: #f2f6ee
}
.bg_comm_w {
	BACKGROUND-COLOR: #eef6f7
}
.bg_support_w {
	BACKGROUND-COLOR: #f9f2f6
}
.bg_ikbn_w {
	BACKGROUND-COLOR: #f3e9f5
}
.bg_hrd_w {
	BACKGROUND-COLOR: #edf6f7
}
.pop_cyber {
	BACKGROUND-COLOR: #5c8ec6
}
.pop_intro {
	BACKGROUND-COLOR: #7b80cd
}
.pop_comm {
	BACKGROUND-COLOR: #53ac6e
}
.pop_close {
	BACKGROUND-COLOR: #d1d1d1
}

/* 페딩 스타일 */

.pdd_LF5 {
 PADDING-LEFT: 5px
}


.pdd_LF8 {
 PADDING-LEFT: 8px
}

.pdd_LF10 {
 PADDING-LEFT: 10px
}

.pdd_Rg15 {
 PADDING-right: 15px
}


.pdd_Rg20 {
 PADDING-right: 20px
}

.Pdd_TP18 {
 PADDING-TOP: 18px
}

.Pdd_TP20 {
 .PADDING-TOP: 20px
}

.Pdd_TP30 {
 PADDING-TOP: 30px
}

.Pdd_BT6 {
 PADDING-BOTTOM: 6px

}
.Pdd_BT6_1 {
 PADDING-BOTTOM: 5px

}

.Pdd_BT10 {
 PADDING-BOTTOM: 10px

}
.Pdd_BT11 {
 PADDING-BOTTOM: 11px

}
.Pdd_BT30 {
 PADDING-BOTTOM: 30px

}

.Pdd_BT40 {
 PADDING-BOTTOM: 40px
}

.Ma_TP30 {
 MARGIN-TOP: 30px

}

.Ma_BT30 {
 MARGIN-BOTTOM: 30px
}

.h_tab_top {
	PADDING-TOP: 7px
}
.tab_top {
	PADDING-TOP: 5px
}
.txt_top {
	PADDING-TOP: 3px
}
.txt_left {
	PADDING-LEFT: 5px
}
.txt_right {
	PADDING-RIGHT: 5px
}
.u {
	TEXT-DECORATION: underline
}
.ls-1 {
	LETTER-SPACING: -1px
}
.b {
	FONT-WEIGHT: bold
}
.gulim {
	FONT-FAMILY: 굴림,Gulim
}
.txt_line {
	TEXT-DECORATION: underline
}
.txt_line A:link {
	TEXT-DECORATION: underline
}
.txt_line A:visited {
	TEXT-DECORATION: underline
}
.txt_line A:active {
	TEXT-DECORATION: underline
}
.txt_line A:hover {
	TEXT-DECORATION: underline
}
.txt_dic {
	TEXT-DECORATION: underline
}
.txt_dic A:link {
	TEXT-DECORATION: underline
}
.txt_dic A:visited {
	TEXT-DECORATION: underline
}
.txt_dic A:active {
	TEXT-DECORATION: underline
}
.txt_dic A:hover {
	TEXT-DECORATION: underline
}
.font_10 {
	FONT-SIZE: 10px
}
.font_11 {
	FONT-SIZE: 11px
}
.font_13 {
	FONT-SIZE: 13px
}
.font_14 {
	FONT-SIZE: 14px
}
.font_15 {
	FONT-SIZE: 15px
}
.font_17 {
	FONT-SIZE: 17px
}
.font_18 {
	FONT-SIZE: 18px
}
.bbs_title_g {
	FONT-WEIGHT: bold; COLOR: #ededed; PADDING-TOP: 3px; HEIGHT: 27px; BACKGROUND-COLOR: #f3f3f3; TEXT-DECORATION: none
}
.bg_hrd_print {
	BACKGROUND-COLOR: #85a3d0
}
.bg_hrd_p01 {
	BACKGROUND-COLOR: #eaf2fd
}
.bg_hrd_p02 {
	BACKGROUND-COLOR: #f9f9f9
}
UL {
	PADDING-LEFT: 25px; LIST-STYLE-IMAGE: url(/ecampus/front/hrd/img/img_bl.gif); MARGIN: 0px
}
.tblHeader
{
    background-image:url(/images/bbs_line.gif);
    background-repeat:no-repeat;
}
.tblRow
{

}
/* 페이징 스타일 */
.PagerOtherPageCells{	FONT-SIZE: 12px; font-family: "굴림", "돋움", Seoul, "한강체"; color:#636363; LINE-HEIGHT: 18px;}
a:link {color: #636363; font-size: 9pt; text-decoration: none}
a:visited {color: #636363; font-size: 9pt; text-decoration: none}
a:hover {color: #f56200; font-size: 9pt; text-decoration: none}
a:active {color: #f56200; font-size: 9pt; text-decoration: none}

.PagerHyperlinkStyle{	FONT-SIZE: 12px; font-family: "굴림", "돋움", Seoul, "한강체"; color:#636363; LINE-HEIGHT: 18px;}
a:link {color: #636363; font-size: 9pt; text-decoration: none}
a:visited {color: #636363; font-size: 9pt; text-decoration: none}
a:hover {color: #f56200; font-size: 9pt; text-decoration: none}
a:active {color: #f56200; font-size: 9pt; text-decoration: none}

.PagerCurrentStyle{	FONT-SIZE: 12px; font-family: "굴림", "돋움", Seoul, "한강체"; color:red; font-weight:bold; LINE-HEIGHT: 18px;}
a:link {color: #636363; font-size: 9pt; text-decoration: none}
a:visited {color: #636363; font-size: 9pt; text-decoration: none}
a:hover {color: #f56200; font-size: 9pt; text-decoration: none}
a:active {color: #f56200; font-size: 9pt; text-decoration: none}
/* 페이징 스타일 */
.hiddencol
{
    display:none;
}
.viscol
{
    display:block;
}

/* 포토 게시판 */
.photo_bg {
BORDER-RIGHT: #cccccc 1px solid; PADDING: 6px; 
BORDER-TOP: #cccccc 1px solid; 
BORDER-LEFT: #cccccc 1px solid; 
BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: 돋움; 
BACKGROUND-COLOR: #ffffff
}
.shadow {filter:progid:DXImageTransform.Microsoft.Shadow(color=#00344C,Direction=135,Strength=2)}
.shadow_vt {filter:progid:DXImageTransform.Microsoft.Shadow(color=#00344C,Direction=135,Strength=2)}

.imgL { filter: progid:DXImageTransform.Microsoft.fade(duration=0.5),progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, ShadowOpacity=.30); }
.ibox {border:#BFBFBF solid 1px; color:#282828; font-size:12px;}

.LeftMenu
{
	cursor:hand;
}
.LeftOption
{
	
}
.LeftOptions 
{
	
}

/* 시흥일꾼지역자활센터 전용*/
img{border:none}
	
	table{FONT-SIZE: 9pt;COLOR: #5c5c5c;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}	
	a:link{FONT-SIZE: 9pt;COLOR: #5c5c5c;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
	a:visited{FONT-SIZE: 9pt;COLOR: #5c5c5c;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
	a:hover{FONT-SIZE: 9pt;COLOR: #5c5c5c;FONT-FAMILY: 돋움;TEXT-DECORATION:underline}
	a:active{FONT-SIZE: 9pt;COLOR: #5c5c5c;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
	
.small{FONT-SIZE: 8pt;COLOR: #8a8a8a;LINE-HEIGHT: 1.2;FONT-FAMILY: 돋움;TEXT-DECORATION: none}
A.small:link{FONT-SIZE: 8pt;COLOR: #8a8a8a;LINE-HEIGHT: 1.2;FONT-FAMILY: 돋움;TEXT-DECORATION: none}
A.small:visited{FONT-SIZE: 8pt;COLOR: #8a8a8a;LINE-HEIGHT: 1.2;FONT-FAMILY: 돋움;TEXT-DECORATION: none}
A.small:hover{FONT-SIZE: 8pt;COLOR: #8a8a8a;LINE-HEIGHT: 1.2;FONT-FAMILY: 돋움;TEXT-DECORATION: underline}


/* 본문 글*/
.contents{FONT-SIZE: 9pt;COLOR: #777777;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
a.contents:link{FONT-SIZE: 9pt;COLOR: #777777;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
a.contents:visited{FONT-SIZE: 9pt;COLOR: #777777;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}
a.contents:hover{FONT-SIZE: 9pt;COLOR: #777777;FONT-FAMILY: 돋움;TEXT-DECORATION:underline}
a.contents:active{FONT-SIZE: 9pt;COLOR: #777777;FONT-FAMILY: 돋움;TEXT-DECORATION:none;}

/* 흰색글씨*/
.white{FONT-SIZE: 9pt;COLOR: #FFFFFF;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:link{FONT-SIZE: 9pt;COLOR: #FFFFFF;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:visited{FONT-SIZE: 9pt;COLOR: #FFFFFF;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:hover{FONT-SIZE: 9pt;COLOR: #ffff00;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}

/* 회색글씨*/
.gray01{FONT-SIZE: 9pt;COLOR: #7F7F7F;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:link{FONT-SIZE: 9pt;COLOR: #7F7F7F;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:visited{FONT-SIZE: 9pt;COLOR: #7F7F7F;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}
A.white:hover{FONT-SIZE: 9pt;COLOR: #7F7F7F;FONT-FAMILY: 돋움;TEXT-DECORATION: none;}