@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------------
	File : main.css
	Company : The Webstyle co.,ltd
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
------------------------------------------------------------------------------------------------------------------------------------------*/

/* Main */
.main .container {padding:0 0 90px 0}

/* section_info */
/*.section_info {background:url('/images/main/bg_info.jpg') no-repeat center top; background-size:cover;}*/
.section_info .info_tit {font-family:"NanumSquareOTFB"; font-size:48px; color:#fff; line-height:56px; white-space:pre;}
.section_info .img-box {position:absolute; right:40px; top:-30px;}
.section_info .img-box img {width:300px; height:300px; border-radius:100%;}
.section_info .info-box {padding:30px 58px; text-align:center; background-color:#fff;}
.section_info .info-box .ico-cap {width:65px; height:56px; background:url('/images/main/ico_cap.png') no-repeat center center;}

.section_info .info-box .tit {font-family:"NanumSquareOTFR"; font-size:32px; color:#333; line-height:48px;}
.section_info .info-box .tit strong {font-family:"NanumSquareOTFB"; font-size:48px;}
.section_info .info-box .ico-cover {width:70px; height:56px; background:url('/images/main/ico_cover.png') no-repeat center center;}
.section_info .info-box .txt {font-family:"NanumSquareOTFR"; font-size:32px; color:#111;}
.section_info .info-box .txt span {font-family:"NotoSans-Medium";}
.section_info .info-box .txt strong {font-family:"NanumSquareOTFB";}

.section_info .info-box .txt .w_100 {width:100%;display:block;margin-top:10px}

.section_info .info-box .list {display:block; text-align:left;}
.section_info .info-box .list li {display:block;}
.section_info .info-box .list li.item01 {background-color:#ffa800;}
.section_info .info-box .list li.item02 {background-color:#635b59;}
.section_info .info-box .list li.item03 {background-color:#111;}
.section_info .info-box .list li a {display:block; position:relative; padding-left:84px;}
.section_info .info-box .list li a .ico {position:absolute; left:18px; top:14px; height:36px;}
.section_info .info-box .list li a .ico.ico-point {width:43px; background:url('/images/main/ico_point.png') no-repeat center center;}
.section_info .info-box .list li a .ico.ico-coupon {width:46px; background:url('/images/main/ico_coupon.png') no-repeat center center;}
.section_info .info-box .list li a .ico.ico-card {width:46px; background:url('/images/main/ico_card.png') no-repeat center center;}
.section_info .info-box .list li a p {font-family:"NanumSquareOTFR"; font-size:24px; color:#fff; line-height:64px;}
.section_info .info-box .list li a span {display:inline-block; position:absolute; right:18px; top:0px; font-family:"NanumSquareOTFB"; font-size:36px; color:#fff; line-height:64px;}
.section_info .info-box .list li a span em {font-family:"Roboto-Bold";}
.section_info .section-footer {padding:14px 0 19px 0; text-align:center; background-color:#111;}
.section_info .section-footer .tit {font-family:"NotoSans-Light"; font-size:24px; color:#fff;}
.section_info .section-footer a {font-family:"Roboto-Bold"; font-size:40px; color:#fff;}

/* section_menu */
.section_menu h3 {padding-bottom:13px; font-family:"Roboto-Medium"; font-size:36px; color:#333; text-align:center;}
.menu-box {display:block; position:relative; padding-bottom:35px;}
.menu-box .menu-sliderWrap {padding-bottom:160px;}
.menu-box .menu-tit {display:block; margin-bottom:22px; padding:0 40px; font-family:"NanumSquareOTFR"; font-size:26px; color:#111; line-height:60px; background-color:#f1f1f1;}
.menu-box .swiper-slide {display:block; padding-bottom:52px;}
.menu-box .swiper-slide .tit {display:block; margin:40px; font-family:"NanumSquareOTFB"; font-size:52px; color:#111;}
.menu-box .swiper-slide a {display:block; position:relative;}
.menu-box .swiper-slide a .img-box {display:block;}
.menu-box .swiper-slide a .img-box img {width:100%;}
.menu-box .swiper-slide a .info-box {display:block; position:absolute; left:0px; bottom:0px; width:100%; padding:30px 40px; background-color:rgba(255,255,255,0.7);}
.menu-box .swiper-slide a .info-box .txt {font-family:"NotoSans-Light"; font-size:32px; color:#333;}
.menu-box .swiper-slide a .info-box .price {margin-top:30px; font-family:"NanumSquareOTFB"; font-size:42px; color:#111;}
.menu-box .swiper-slide a .info-box .price em {font-family:"Roboto-Bold";}
.menu-box .swiper-pagination {position:absolute; left:0px; bottom:0px; display:block; font-size:0px; line-height:30px; text-align:center;}
.menu-box .swiper-pagination .swiper-pagination-bullet {width:20px; height:20px; margin:0 7px; border-radius:100%; background-color:#000; vertical-align:middle;}
.menu-box .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width:30px; height:30px; background-color:#111;}
.menu-box .btn-wrap {position:absolute; left:0; width:100%;}
.menu-box .btn-wrap a img {display:inline-block; margin-right:5px; margin-bottom: 7px;}


/* section_store */
.section_store {background:url('/images/main/bg_store.jpg') no-repeat center top;}
.section_store h3 {font-family:"Roboto-Medium"; font-size:40px; color:#fff; text-align:center;}
.section_store .map {display:block; height:705px;}
.section_store .search-box {display:block; position:relative; width:100%; height:102px; margin-top:24px; padding-right:100px; border-bottom:2px solid #fff;}
.section_store .search-box input {width:100%; height:98px; border:none; color:#fff; line-height:100px; background-color:transparent;}
.section_store .search-box .btn-search {position:absolute; right:0px; top:0px; width:100px; height:100px; text-indent:-9999px; background:#000 url('/images/main/ico_search.png') no-repeat center center;}
.section_store .total-txt {font-family:"NanumSquareOTFR"; font-size:24px; color:#fff;}
.store_list {display:block; overflow:hidden; position:relative; width:100%;}
.store_list ul {display:table;}
.store_list ul li {display:table-cell; position:relative; overflow:visible; min-width:10px; width:10px; height:32px; white-space:nowrap;}
.store_list ul li a {display:block; position:relative; margin-left:40px; font-family:"NotoSans-Light"; font-size:32px; color:#fff; text-align:left;}
.store_list ul li.on a {color:#ffa800; border-bottom:1px solid #ffa800;}

/* section_cf */
.section_cf {padding:60px 0; background:url('/images/main/bg_cf.jpg') no-repeat center center;}
.section_cf h3 {font-family:"Roboto-Medium"; font-size:40px; color:#fff; text-align:center;}

/* section_family */
/*.section_family {padding:60px 0;}*/
.section_family .section-body.inner {padding:0;}
.section_family h3 {font-family:"Roboto-Medium"; font-size:40px; color:#111; text-align:center;}
.section_family .box {display:block; height:800px; padding:60px 0 0 0; text-align:center; background:url('/images/main/bg_family.jpg') no-repeat center center;}
.section_family .tit {font-family:"Roboto-Medium"; font-size:36px; color:#fff;}
.section_family .txt {margin-top:23px; font-family:"NanumSquareOTFR"; font-size:24px; color:#fff; line-height:36px;}
.section_family .bestQuality-list {display:block; margin-top:40px; text-align:center;}
.section_family .bestQuality-list li {display:block; font-size:0px;}
.section_family .bestQuality-list li + li {margin-top:52px;}
.section_family .bestQuality-list li a {display:inline-block;}
.section_family .bestQuality-list li a .ico {display:inline-block; margin-right:35px;}
.section_family .bestQuality-list li a .ico.ico-story01 {width:170px; height:124px; background:url('/images/main/ico_chicken02.png') no-repeat center center;}
.section_family .bestQuality-list li a .ico.ico-story02 {width:150px; height:124px; margin:0 0 0 35px; background:url('/images/main/ico_olive.png') no-repeat center center;}
.section_family .bestQuality-list li a .ico.ico-story03 {width:170px; height:124px; background:url('/images/main/ico_cookhat.png') no-repeat left center;}
.section_family .bestQuality-list li a span {font-family:"Roboto-Light"; font-size:26px; color:#fff; line-height:124px;}


/* Hidden */
.hide {display:none;}
.min {margin: 10px 0;font-size: 15px;margin-left: 150px;line-height:130%;}

/*보냉 이벤트 체크박스 디자인*/
.checks {position: relative;padding:28px 20px;text-align:left;} 
.checks input[type="checkbox"] {  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 } 
.checks input[type="checkbox"] + label { display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size:30px;} 
.checks input[type="checkbox"] + label:before { content: ' '; display: inline-block; width: 50px; height: 50px;margin-right:20px;line-height: 21px;margin: -2px 8px 0 0; text-align: center; vertical-align: middle; background: #fafafa; border: 1px solid #cacece; border-radius : 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); } 
.checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
.checks input[type="checkbox"]:checked + label:before {content: '\2714';font-size:80px;padding-top:19px;color: #99a1a7; text-shadow: 1px 1px #fff; background: #e9ecee; border-color: #adb8c0; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); }

.login_before {display:none; height:46px; background:#000; font-size:17px; color:#fff; font-weight:700; text-align:center; width:100%; line-height:46px; vertical-align:middle}
.login_before span {color:#ed1c24; font-weight:700;}





.main_con {max-width:750px; min-width:320px; width:94%; margin:0 auto; margin-top:17px ;}
.main_con_wrap {position:relative;display:table; width:100%; height:100%;}
.main_con_wrap > li {position:relative; display:table-cell; width:50%; vertical-align:top; height:100%;}
.main_con_wrap > li:last-child {padding-left:20px;}

@media (max-width:360px){
.main_con {margin-top:12px ;}
}



/***** 실시간 인기 *****/
.main_con_popular {display:table; margin-bottom:17px; width:100%; border:1px solid #cdcdcd}
.main_con_popular > li {display:table-cell; font-size:16px; vertical-align:middle; text-align:center}
.main_con_popular > li:nth-child(1) {width:150px; background:#f5f5f5;  padding:0;}
.main_con_popular > li img {width:23px; margin:0 2px 5px 0;}
.main_con_popular > li span {display:inline-block;  color:#393938; text-align:center;  font-weight:700; padding-top:5px}
.main_con_popular > li:nth-child(2) {background:#fff;}

.main_con_popular_roll {width:100%; height:40px; overflow:hidden; margin:0; padding:0; list-style:none;}
.main_con_popular_roll > li {display:block; width:100%; height:40px; }
.main_con_popular_roll > li a {display:block; font-size:16px; color:#000; line-height:40px; word-break:break-all; vertical-align:middle;  text-align:center}

@media (max-width:360px){
.main_con_popular {margin-bottom:12px;}
.main_con_popular > li {font-size:14px;}
.main_con_popular > li:nth-child(1) {width:115px;}
.main_con_popular > li img {width:21px;}

.main_con_popular_roll > li a {font-size:14px;}
}



/***** 사이드메뉴 *****/
.main_popular {position:relative; width:100%; height:34.5vw; max-height:264px; background:url('/images/main/popular_img.jpg') no-repeat center center; background-size:cover; margin:5px 0 0 0; cursor:pointer; border:1px solid #acacac}
.main_popular > h3 {color:#000; font-weight:600; padding:15px ; font-size:21px; text-align:left}
.btn_sidemenu {border:2px solid #666; display:inline-block; color:#000; font-size:15px;  margin-left:15px ; padding:5px 10px}

@media (max-width:380px){
.main_popular > h3 {padding:5px 8px; font-size:17px;}
.btn_sidemenu {margin-left:8px ;}
.btn_sidemenu {border:1px solid #666; font-size:13px; padding:4px 7px}
}
@media (max-width:320px){
.main_popular > h3 {padding:5px 7px; font-size:15px;}
.btn_sidemenu {font-size:14px; padding:3px 7px}
}


/***** 전체메뉴 *****/
/* slider */
.slider{display:block; position:relative; width:100%; height:34.5vw;  max-height:264px; border:1px solid #acacac}
.slider .slider_area {display:block; position:relative; overflow:hidden; width:100%; height:100%;}
.slider .slides{display:block; position:relative; width:100%;  height:100%; }
.slider .slide {display:block; position:relative; float:left; width:100%; height:100%; cursor:pointer}
.slider .slides .slide_bg1 {background:url(/images/main/allMenu_img01.jpg) no-repeat; background-size:100% 100%}
.slider .slides .slide_bg2 {background:url(/images/main/allMenu_img02.jpg) no-repeat; background-size:cover}
.slider .slides .slide_bg3 {background:url(/images/main/allMenu_img03.jpg) no-repeat; background-size:cover}
.slider .slides .slide_bg4 {background:url(/images/main/allMenu_img04.jpg) no-repeat; background-size:cover}
.slider .slides .slide_bg5 {background:url(/images/main/allMenu_img05.jpg) no-repeat; background-size:cover}
.slider .slides .slide_bg6 {background:url(/images/main/allMenu_img06.jpg) no-repeat; background-size:cover}
.slider .slides .slide_bg7 {background:url(/images/main/allMenu_img07.jpg) no-repeat; background-size:cover}
.slider .slide h3 {position:absolute; bottom:0; top:0; width:100%;color:#000; font-weight:600; padding:15px; font-size:21px; text-align:left}

/* ARROW NAVIGATION */
.slider .slider_left,
.slider .slider_right{width:14px; height:26px; text-align:center; display:none;  position:absolute; top:45%; left:10px; color:#fff; cursor:pointer;  -webkit-transition:0.30s ease-out;-moz-transition:0.30s ease-out;-ms-transition:0.30s ease-out;-o-transition:0.30s ease-out; transition:0.30s ease-out; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
.slider .slider_right{left:auto; right:10px;}
.slider .slider_left:hover,
.slider .slider_right:hover{}
.slider .slider_left.inactive,
.slider .slider_right.inactive{color:#BBB;cursor:default;}

/* DOT NAVIGATION */
.slider .slider_dotwrap{display:none; position:absolute; width:100%; bottom:20px; left:0; line-height:0; text-align:center; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
.slider .slider_dot{display:inline-block; width:15px; height:15px; margin:0 8px; border:3px solid #fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;  font-size:0 !important;}
.slider .slider_dot.current{background:#fff;  font-size:0 !important;}

@media (max-width:480px){
}

@media (max-width:430px){
.slider .slider_left,
.slider .slider_right{width:13px; height:23px;}
.slider .slide h3 {padding:10px 13px; font-size:19px;}
}

@media (max-width:380px){
.slider .slider_left,
.slider .slider_right{width:10px; height:19px;}
.slider .slide h3 {padding:5px 8px; font-size:17px;}
}

@media (max-width:320px){
.slider .slide h3 {padding:5px 7px; font-size:15px;}
}



/***** 주문하기 *****/
.main_order2 {height:100%;}
.main_order2 > li {width:100%; height:20%; border-bottom:1px solid #cdcdcd;}
.main_order2 > li a {display:table; width:100%; height:100%; padding:0 29px;}
.main_order2 > li:last-child {border-bottom:0}
.main_order2 > li span {display:table-cell; width:32%; vertical-align:middle;}
.main_order2 > li span img {max-width:80px; min-width:33px; width:100%}
.main_order2 > li h3 {display:table-cell; width:68%; font-size:25px; font-weight:700; text-align:right; vertical-align:middle;}

@media (max-width:480px){
.main_con_wrap > li:last-child {padding-left:12px;}
.main_order2 > li a {padding:0 16px;}
.main_order2 > li h3 {font-size:25px;}
}
@media (max-width:430px){
.main_con_wrap > li:last-child {padding-left:11px;}
.main_order2 > li a {padding:0 14px;}
.main_order2 > li h3 {font-size:22px;}
}
@media (max-width:380px){
.main_con {width:100%; padding:0 10px}
.main_con_wrap > li:last-child {padding-left:10px;}
.main_order2 > li a {padding:0 12px;}
.main_order2 > li h3 {font-size:19px;}
}
@media (max-width:320px){
.main_con_wrap > li:last-child {padding-left:9px;}
.main_order2 > li a {padding:0 10px;}
.main_order2 > li h3 {font-size:17px}
}

/* Main UI 리뉴얼 */
/********* mainContent *********/
.h-main_con {max-width:750px; min-width:320px; width:94%; margin:0 auto; margin-top:20px; }

/********* �ǽð��α� *********/
.h-main_con_popular {display:inline-block; width:100%; text-align:center; }
.h-main_con_popular li {float:left; height:35px; font-size:14px;}
.h-main_con_popular li:nth-child(1) {width:25%; background-color:#cf1b2b; font-weight:600; color:#fff; line-height:35px;}
.h-main_con_popular li:nth-child(1) > span {color:#fff}
.h-main_con_popular li:nth-child(2) {width:75%; background-color:#fff; }

.h-main_con_popular_roll {width:100%; height:35px; overflow:hidden; margin:0; padding: 0; list-style:none;}
.h-main_con_popular_roll > p {display:block; width:100%; height:40px; }
.h-main_con_popular_roll > p a {display:block; color:#000; line-height:35px; font-size:14px; word-break:break-all; vertical-align:middle;  text-align:center}

/********* �޴� *********/
.h-main_order {display:inline-block; width:100%; }
.h-main_order > li {width:50%; text-align:center; }
.h-main_order > li:nth-child(1), .h-main_order > li:nth-child(3) {float:left; padding-right:0px; }
.h-main_order > li:nth-child(2), .h-main_order > li:nth-child(4) {float:right; padding-left:10px; }
.h-main_order .h-main_order01, .h-main_order .h-main_order02 { background-color:#fff; border-radius:17px; height:165px; box-shadow: 0px 0px 3px #d9d9d9; margin-top:15px; }
.h-main_order .h-main_order03, .h-main_order .h-main_order04 { background-color:#fff; border-radius:17px; height:100px; box-shadow: 0px 0px 3px #d9d9d9; margin-top:10px; }
.h-main_order > li >div > a {display:block; font-size:18px; font-weight:700; color:#3d3d3d; }
.h-main_order .h-main_order01 a, .h-main_order .h-main_order02 a {width:100%; padding-top:115px;}
.h-main_order .h-main_order03 a, .h-main_order .h-main_order04 a {width:100%; padding-top:70px;}
.h-main_order .h-main_order01 {background:#fff url('/images/main_new/icon_m_order.png') no-repeat center 28px; background-size:100px 70px;}
.h-main_order .h-main_order02 {background:#fff url('/images/main_new/icon_m_out.png') no-repeat center 16px; background-size:70px 88px;}
.h-main_order .h-main_order03 {background:#fff url('/images/main_new/icon_m_coupon.png') no-repeat center 23px; background-size:80px 43px;}
.h-main_order .h-main_order04 {background:#fff url('/images/main_new/icon_m_gift.png') no-repeat center 12px; background-size:65px 56px;}

/********* ����Ʈ_����_��ǰ�� *********/
.h-main_point_set {display:flex; background-color:#fff; border-radius:17px; height:110px; box-shadow: 0px 0px 3px #d9d9d9; margin-top:5px; padding:12px 8px; }
.h-welcome {background:#fff url('/images/main_new/icon_m_welcome.png') no-repeat center 13px; background-size:80px 12px; width:50%; border-right:2px #ddd dashed; text-align:center; padding-top:32px; font-size:16px; font-weight:500; color:#3b3b3b; }
.h-main_name {font-size:24px; font-weight:700; }
.h-main_point {padding-left:14px; width:50%; }
.h-main_point > dl {display:inline-block; width:100%; padding:2px; border-bottom:2px #ddd solid; }
.h-main_point > dl:nth-child(3) {border:none;}
.h-main_point > dl > dt {float:left; font-size:14px; font-weight:600; color:#3e3e3e; }
.h-main_point > dl > dd {float:right; font-size:14px; font-weight:700; }
.h-main_point > dl > dd > span {color:#cc0016; font-size:19px; padding-right:5px; }

