/*common*/
.hide {display:none;}
.cal {background:url('../img/cal.png')5px center no-repeat;display:inline-block;width:31px;height:26px;vertical-align:middle;}
.possible {background:#00B050;}
.impossible {background:#cf152d;}
.active {font-weight:bold;}
.thum_padding {padding:10px 0;}
.thum_size {width:346px;height:130px;}
.pr {position:relative}

/*INPUT*/
input{padding:0;margin:0;border:0 none;vertical-align:middle;}
input[type="text"] {height:25px;padding-left:12px;border:1px solid #cccccc;}
input[type="password"] {padding-left:12px;}
input[type="number"] {height:25px;padding-left:12px;text-align:right;padding-right:5px;margin-right:5px;border:1px solid #cccccc;}
input[type="radio"] {width:14px;height:14px;margin:3px 3px 3px 4px;vertical-align:middle;}
input[type="checkbox"] {width:14px;height:14px;vertical-align:middle;margin:3px 3px 3px 4px;}
input[type="password"] {height:25px;padding-left:12px;border:1px solid #cccccc;width:90%;}
select {height:25px;padding-left:10px;vertical-align:middle;width:125px;}
textarea {border:1px solid #cccccc;margin:5px 0 3px;height:25px;line-height:25px;text-indent:12px;}

/*BUTTON*/
button{border:0 none;}
.btn {height:25px;display:inline-block;padding:0 15px;font-size:14px}
.btn_red {height:25px;display:inline-block;padding:0 15px;background:#e41937;color:#fff;box-shadow: none;font-size:14px;color:#fff;}
.btn_red125 {height:32px;width:125px;background:#e41937;font-size:14px;color:#fff;display:inline-block;line-height:32px;}
.btn_white {height:25px;display:inline-block;padding:0 15px; border:1px solid #888888;background:#fff;font-size:14px}
.btn_white125 {height:32px;width:125px;border:1px solid #888888;background:#fff;font-size:14px;display:inline-block;line-height:32px;}
.btn_gray {display:inline-block;padding:0 15px;;height:25px;background:#575757;color:#fff;vertical-align: middle;}
.btn_gray125 {height:32px;width:125px;background:#575757;font-size:14px;color:#fff;display:inline-block;line-height:32px;}
.btn_gray_line {height:25px;display:inline-block;padding:0 15px;background:#fff;border:1px solid #888888; color:#212121;}
.btn_arrow {border:1px solid #d6d6d6;width:25px;height:23px;background:#fff;line-height: 23px;font-size:14px}
.btn_green {height:25px;display:inline-block;padding:0 15px; background:#00B050;font-size:14px;color:#fff;line-height:25px;width:60%;text-align:center;}
.btn_green125 {height:32px;width:125px;background:#00B050;font-size:14px;color:#fff;display:inline-block;line-height:32px;}
.btn_purple {height:25px;display:inline-block;padding:0 15px;background:#cf152d;font-size:14px;color:#fff;line-height:25px;width:60%;text-align:center;}
.btn_purple125 {height:32px;width:125px;background:#cf152d;font-size:14px;color:#fff;display:inline-block;line-height:32px;}

/*ip,down arrow*/
.list .list_content table th img.img_arrow, .list .list_content table td img.img_arrow {width:8px;height:5px;background:none;vertical-align: middle;margin:0 5px;cursor: pointer;}

/*hover*/
.page_num div ul li a:hover {font-weight:bold;color:#cf152d;}

/*table 기본설정*/
table {width:100%;border-top:2px solid #595959;border-collapse: collapse;font-size:13px;}

table tr {height:34px;}

table tr th {background:#f9f9f9;font-weight:bold;border:1px solid #dddddd;vertical-align:middle;}
table tr th ul {display:inline-block;width:100%;}
table tr th ul li {margin-left:20px;float:left;display:block;text-align:left;vertical-align: top;/*margin-bottom:21px;*/font-size:12px;margin-right:42px}

table tr td {border:1px solid #dddddd;vertical-align: middle;font-weight:normal;font-size:12px;}
table tr td ul {display:block;margin-left:20px;}
table tr td ul li {float:left;margin-right:42px;}

.tl {text-align: left;padding-left: 20px;}

/*filebox*/
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    
  }
  .filebox label {
    display: inline-block;
    height:25px;
    width:90px;
    color:#fff;
    line-height:25px;
    vertical-align: middle;
    background-color: #575757;
    cursor: pointer;
    padding:1px 3px;
    text-align:center;
  }
  .filebox {display:inline-block;/*margin-left:-20px;*/}
  /* named upload */
  .filebox .upload-name {
    display: inline-block;
    /*padding: .5em .75em; /* label의 패딩값과 일치 */
    height:25px;
    width:350px;
    line-height:25px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    text-indent:10px;
  }

  

/* Margin */
.mar0    {margin:0px }
.mar-t3  {margin-top:3px }
.mar-t5  {margin-top:5px }
.mar-t10 {margin-top:10px }
.mar-t15 {margin-top:15px }
.mar-t20 {margin-top:20px }
.mar-t25 {margin-top:25px }
.mar-t30 {margin-top:30px }
.mar-t40 {margin-top:40px }
.mar-t50 {margin-top:50px }
.mar-t60 {margin-top:60px }
.mar-t70 {margin-top:70px }
.mar-t80 {margin-top:80px }
.mar-t90 {margin-top:90px }
.mar-t100 {margin-top:100px }

.mar-r0  {margin-right:0px }
.mar-r2  {margin-right:2px }
.mar-r3  {margin-right:3px }
.mar-r5  {margin-right:5px }
.mar-r10 {margin-right:10px }
.mar-r15 {margin-right:15px }
.mar-r20 {margin-right:20px }
.mar-r30 {margin-right:30px }
.mar-r40 {margin-right:40px }
.mar-r50 {margin-right:50px }
.mar-r60 {margin-right:60px }
.mar-r65 {margin-right:65px }
.mar-r70 {margin-right:70px }
.mar-r80 {margin-right:80px }
.mar-r90 {margin-right:90px }
.mar-r100 {margin-right:100px }

.mar-b0  {margin-bottom:0px }
.mar-b3  {margin-bottom:3px }
.mar-b5  {margin-bottom:5px }
.mar-b10 {margin-bottom:10px }
.mar-b15 {margin-bottom:15px }
.mar-b20 {margin-bottom:20px }
.mar-b30 {margin-bottom:30px }
.mar-b40 {margin-bottom:40px }
.mar-b50 {margin-bottom:50px }
.mar-b60 {margin-bottom:60px }
.mar-b70 {margin-bottom:70px }
.mar-b80 {margin-bottom:80px }
.mar-b90 {margin-bottom:90px }
.mar-b100 {margin-bottom:100px }
.mar-b125 {margin-bottom:125px }

.mar-l3  {margin-left:3px }
.mar-l5  {margin-left:5px }
.mar-l6  {margin-left:6px }
.mar-l10 {margin-left:10px }
.mar-l12 {margin-left:12px }
.mar-l15 {margin-left:15px }
.mar-l20 {margin-left:20px }
.mar-l25 {margin-left:20px }
.mar-l30 {margin-left:30px }
.mar-l40 {margin-left:40px }
.mar-l45 {margin-left:45px }
.mar-l50 {margin-left:50px }
.mar-l60 {margin-left:60px }
.mar-l70 {margin-left:70px }
.mar-l80 {margin-left:80px }
.mar-l90 {margin-left:90px }
.mar-l100 {margin-left:100px }
.mar-auto {margin:auto }

/* Padding */
.pad-0  {padding:0px }
.pad-5  {padding:5px }
.pad-10 {padding:10px }
.pad-20 {padding:20px }
.pad-30 {padding:30px }
.pad-40 {padding:40px }
.pad-50 {padding:50px }
.pad-60 {padding:60px }
.pad-70 {padding:70px }
.pad-80 {padding:80px }
.pad-90 {padding:90px }
.pad-100 {padding:100px }

.pad-t3  {padding-top:3px }
.pad-t5  {padding-top:5px }
.pad-t10 {padding-top:10px }
.pad-t15 {padding-top:15px }
.pad-t20 {padding-top:20px }
.pad-t30 {padding-top:30px }
.pad-t40 {padding-top:40px }
.pad-t50 {padding-top:50px }
.pad-t60 {padding-top:60px }
.pad-t70 {padding-top:70px }
.pad-t80 {padding-top:80px }
.pad-t90 {padding-top:90px }
.pad-t100 {padding-top:100px }

.pad-r3  {padding-right:3px }
.pad-r5  {padding-right:5px }
.pad-r10 {padding-right:10px }
.pad-r15 {padding-right:15px }
.pad-r20 {padding-right:20px }
.pad-r30 {padding-right:30px }
.pad-r40 {padding-right:40px }
.pad-r50 {padding-right:50px }
.pad-r60 {padding-right:60px }
.pad-r70 {padding-right:70px }
.pad-r80 {padding-right:80px }
.pad-r90 {padding-right:90px }
.pad-r100 {padding-right:100px }

.pad-b0  {padding-bottom: 0px }
.pad-b2  {padding-bottom: 2px }
.pad-b5  {padding-bottom: 5px }
.pad-b10 {padding-bottom:10px }
.pad-b20 {padding-bottom:20px }
.pad-b30 {padding-bottom:30px }
.pad-b40 {padding-bottom:40px }
.pad-b50 {padding-bottom:50px }
.pad-b60 {padding-bottom:60px }
.pad-b70 {padding-bottom:70px }
.pad-b80 {padding-bottom:80px }
.pad-b90 {padding-bottom:90px }
.pad-b100 {padding-bottom:100px }

.pad-l0  {padding-left:0px }
.pad-l3  {padding-left:3px }
.pad-l5  {padding-left:5px }
.pad-l10 {padding-left:10px }
.pad-l15 {padding-left:15px }
.pad-l20 {padding-left:20px }
.pad-l25 {padding-left:25px }
.pad-l30 {padding-left:30px }
.pad-l40 {padding-left:40px }
.pad-l50 {padding-left:50px }
.pad-l60 {padding-left:60px }
.pad-l70 {padding-left:70px }
.pad-l80 {padding-left:80px }
.pad-l90 {padding-left:90px }
.pad-l100 {padding-left:100px }

/* Font Size */
.fs11 {font-size:11px }
.fs12 {font-size:12px }
.fs13 {font-size:13px }
.fs14 {font-size:14px }
.fs16 {font-size:16px }
.fs20 {font-size:20px }
.fs24 {font-size:24px }
.fs25 {font-size:25px }

/* Line Height */
.lh11 {line-height:11px }
.lh12 {line-height:12px }
.lh13 {line-height:13px }
.lh14 {line-height:14px }
.lh16 {line-height:16px }
.lh18 {line-height:18px }
.lh20 {line-height:20px }
.lh24 {line-height:24px }